agente-ia-conversacional-28pXJVWWj7ez9vOi.json
{"updatedAt":"2026-01-19T21:00:32.333Z","createdAt":"2026-01-16T15:42:21.508Z","id":"28pXJVWWj7ez9vOi","name":"Agente IA Conversacional","active":false,"isArchived":false,"nodes":[{"parameters":{"path":"ai-agent","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-16,448],"id":"0b4a0776-1640-4d1b-b6fd-2390cb03344d","name":"Webhook","webhookId":"4b3223ba-7fde-4d58-89d0-41ce4f7ee1d3","disabled":true},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"Eres un agente de IA conversacional, amable y servicial. Debes responder SIEMPRE en español, sin importar el idioma en que te escriban.\n\nMantén una conversación natural y fluida, como una persona real. Sé empático y atento al contexto.\n\nIMPORTANTE: Sé CONCISO. Responde de forma directa y breve, sin dar vueltas innecesarias. Ve al grano manteniendo la amabilidad.\n\nRecuerda los mensajes previos para mantener coherencia en la charla."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[224,0],"id":"7bf531e9-42f9-46eb-b3e6-d4ae120529b0","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[128,176],"id":"bb51070b-9c30-4e64-8057-5a60a2d5fb5e","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"ltzt0Gv2uxGWJar2","name":"OpenAi account 3"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"{{ $json.query.sessionId }}","contextWindowLength":1000},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[320,192],"id":"1f44456d-a623-424d-9f07-61b239cd56d2","name":"Simple Memory"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[544,464],"id":"f5b66e2a-4ab9-4d04-9af6-8a66bd1738cc","name":"Respond to Webhook","disabled":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-16,0],"id":"4fbece1f-8797-4df6-ab4d-b802164a6c33","name":"When chat message received","webhookId":"2623df22-f84d-4453-80df-5f2b82fba6d8"}],"connections":{"Webhook":{"main":[[]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"abe49969-4b04-4aea-baa8-b1823ffbd401","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-16T15:42:21.508Z","createdAt":"2026-01-16T15:42:21.508Z","role":"workflow:owner","workflowId":"28pXJVWWj7ez9vOi","projectId":"iYcETjaBCKTmmaOx"}],"activeVersion":null,"tags":[]}