calculos-horas-intervals-qaWHDG9Pagf26u1B.json
{"updatedAt":"2026-03-02T17:20:58.562Z","createdAt":"2026-01-23T15:06:17.665Z","id":"qaWHDG9Pagf26u1B","name":"Calculos horas intervals","active":false,"isArchived":true,"nodes":[{"parameters":{"url":"=https://api.myintervals.com/time/?personid={{$json.personId}}&datebegin={{$json.fechaInicio}}&dateend={{$json.fechaFin}}&limit=1000","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-304,-384],"id":"986cd540-42e9-4242-b59f-fa34603d80f8","name":"HTTP Request","executeOnce":false,"credentials":{"httpBasicAuth":{"id":"hd5ZkGI3m1uNQVbw","name":"intervals"}}},{"parameters":{"jsCode":"// Obtener datos del repositorio\nconst repo = $input.first().json;\n\n// Calcular horas esperadas\nfunction calcularHorasDetalladas(inicio, fin, horasDia, horasViernes) {\n  let totalHoras = 0;\n  let diasLaborables = 0;\n  const start = new Date(inicio + 'T00:00:00');\n  const end = new Date(fin + 'T23:59:59');\n  \n  for (let d = new Date(start); d <= end; d.setDate(d.getDate() + 1)) {\n    const diaSemana = d.getDay();\n    \n    if (diaSemana >= 1 && diaSemana <= 4) {\n      totalHoras += horasDia;\n      diasLaborables++;\n    } \n    else if (diaSemana === 5) {\n      totalHoras += horasViernes;\n      diasLaborables++;\n    }\n  }\n  \n  return { totalHoras, diasLaborables };\n}\n\nconst calculo = calcularHorasDetalladas(\n  repo.fechaInicio,\n  repo.fechaFin,\n  repo.horasLunesJueves,\n  repo.horasViernes\n);\n\n// Retornar array de personas\nreturn repo.personas.map(id => ({\n  personId: id,\n  fechaInicio: repo.fechaInicio,\n  fechaFin: repo.fechaFin,\n  diasLaborables: calculo.diasLaborables,\n  horasEsperadas: calculo.totalHoras\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-480,-192],"id":"4112a608-95eb-4eef-a1ac-080ae8792b91","name":"Code in JavaScript"},{"parameters":{"jsCode":"// 1. FUNCIONES AUXILIARES\nfunction decodeHTMLEntities(text) {\n  const entities = {\n    '&aacute;': 'á', '&eacute;': 'é', '&iacute;': 'í', '&oacute;': 'ó', '&uacute;': 'ú',\n    '&Aacute;': 'Á', '&Eacute;': 'É', '&Iacute;': 'Í', '&Oacute;': 'Ó', '&Uacute;': 'Ú',\n    '&ntilde;': 'ñ', '&Ntilde;': 'Ñ',\n    '&uuml;': 'ü', '&Uuml;': 'Ü',\n    '&amp;': '&', '&lt;': '<', '&gt;': '>', '&quot;': '\"', '&#39;': \"'\"\n  };\n  return text.replace(/&[a-zA-Z0-9#]+;/g, (match) => entities[match] || match);\n}\n\nfunction calcularHorasDetalladas(inicio, fin) {\n  let totalHoras = 0;\n  let diasLaborables = 0;\n  // Aseguramos que las fechas se interpreten correctamente sin problemas de zona horaria al crear el objeto\n  const start = new Date(inicio + 'T00:00:00');\n  const end = new Date(fin + 'T23:59:59');\n  \n  for (let d = new Date(start); d <= end; d.setDate(d.getDate() + 1)) {\n    const diaSemana = d.getDay();\n    if (diaSemana >= 1 && diaSemana <= 4) { // Lunes a Jueves\n      totalHoras += 8;\n      diasLaborables++;\n    } \n    else if (diaSemana === 5) { // Viernes\n      totalHoras += 6.5;\n      diasLaborables++;\n    }\n  }\n  return { totalHoras, diasLaborables };\n}\n\n// 2. CONFIGURACIÓN DE FECHAS\nconst hoy = new Date();\nconst offsetChile = -3 * 60; // GMT-3\nconst offsetLocal = hoy.getTimezoneOffset();\n\n// Ajustar a hora Chile\nhoy.setMinutes(hoy.getMinutes() + (offsetLocal - offsetChile));\n\n// Restar 1 día\nhoy.setDate(hoy.getDate() - 1); \n\n// Definir inicio y fin del periodo\nconst fechaInicio = `${hoy.getFullYear()}-${String(hoy.getMonth() + 1).padStart(2, '0')}-01`;\nconst fechaFin = `${hoy.getFullYear()}-${String(hoy.getMonth() + 1).padStart(2, '0')}-${String(hoy.getDate()).padStart(2, '0')}`;\n\n// Calcular las horas ideales para este rango de fechas\nconst calculoBase = calcularHorasDetalladas(fechaInicio, fechaFin);\n\n// 3. PROCESAR CADA PERSONA\nconst resultados = [];\n\nfor (const item of $input.all()) {\n  const registroAPI = item.json;\n  const registros = registroAPI.time || [];\n  \n  const personId = registroAPI.personid || (registros.length > 0 ? registros[0].personid : 'Desconocido');\n\n  let nombreCompleto = 'Sin registros';\n  if (registros.length > 0) {\n    const nombreRaw = registros[0].person || `ID: ${personId}`;\n    nombreCompleto = decodeHTMLEntities(nombreRaw);\n  }\n\n  // Sumar horas reportadas\n  let horasIngresadas = 0;\n  for (const registro of registros) {\n    horasIngresadas += parseFloat(registro.time || 0);\n  }\n\n  const horasEsperadas = calculoBase.totalHoras;\n  \n  // REQ 5 y 7: Cálculo de Diferencia\n  // Lógica: Esperadas - Ingresadas\n  // Positivo = Debes horas (Falta ingresar)\n  // Negativo = Tienes horas a favor (Extra)\n  const diferenciaReal = horasEsperadas - horasIngresadas;\n  \n  // Math.abs para no ver negativos falsos.\n  const diferenciaVisual = parseFloat(Math.abs(diferenciaReal).toFixed(2));\n\n  const porcentaje = horasEsperadas > 0 ? (horasIngresadas / horasEsperadas) * 100 : 0;\n\n  // Determinar Estado\n  let estado;\n  if (porcentaje >= 100) {\n    estado = '✅ Al día';\n  } else if (porcentaje >= 80) {\n    estado = '⚠️ Advertencia';\n  } else {\n    estado = '❌ Atrasado';\n  }\n\n  resultados.push({\n    ID: personId,\n    Nombre: nombreCompleto,\n    diasLaborables: calculoBase.diasLaborables,\n    horasEsperadas: parseFloat(horasEsperadas.toFixed(2)),\n    horasIngresadas: parseFloat(horasIngresadas.toFixed(2)),\n    diferencia: diferenciaVisual, // REQ 7\n    porcentaje: parseFloat(porcentaje.toFixed(2)),\n    estado: estado,\n    cantidadRegistros: registros.length,\n    periodoInicio: fechaInicio, \n    periodoFin: fechaFin\n  });\n}\n\nreturn resultados;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-144,-192],"id":"4355acd3-8285-481b-b6b1-df5362021f02","name":"Code in JavaScript1"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-768,-192],"id":"4f675472-3ffc-4dda-adf4-3925f7e6142e","name":"When clicking ‘Execute workflow’"},{"parameters":{"jsCode":"// CONFIGURACIÓN DE FECHAS\nconst hoy = new Date();\nconst offsetChile = -3 * 60;\nconst offsetLocal = hoy.getTimezoneOffset();\nhoy.setMinutes(hoy.getMinutes() + (offsetLocal - offsetChile));\n\nconst fechaInicio = `${hoy.getFullYear()}-${String(hoy.getMonth() + 1).padStart(2, '0')}-01`;\nconst fechaFin = `${hoy.getFullYear()}-${String(hoy.getMonth() + 1).padStart(2, '0')}-${String(hoy.getDate()).padStart(2, '0')}`;\n\n// HORAS LABORALES\nconst horasLunesJueves = 8;\nconst horasViernes = 6.5;\n\n// REPOSITORIO DE PERSONAS\nconst personas = [\n  354371, 429092, 425398, 371924, 426503, 281553, 367250, 197714,\n  358826, 411315, 423565, 429092, 362604, 356965, 408021, 425281, 357713,\n  357119, 427998, 425282, 392742, 372821, 383182, 323747, 382778,\n  411316, 425801, 423566, 424256, 348504, 357120, 428509\n];\n\nreturn {\n  fechaInicio,\n  fechaFin,\n  horasLunesJueves,\n  horasViernes,\n  personas\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-624,-384],"id":"db27fe1f-eb6e-41fe-94ab-446adc183e11","name":"Repositorio"},{"parameters":{"jsCode":"const datos = $input.all();\n\n// Generar filas de la tabla\nlet filas = '';\nfor (const item of datos) {\n  const d = item.json;\n  let colorClase = '';\n  if (d.estado === '✅ Al día') {\n    colorClase = 'background-color: #d4edda;';\n  } else if (d.estado === '⚠️ Advertencia') {\n    colorClase = 'background-color: #fff3cd;';\n  } else {\n    colorClase = 'background-color: #f8d7da;';\n  }\n  \n  filas += `\n    <tr style=\"${colorClase}\">\n      <td style=\"border: 1px solid #ddd; padding: 10px;\">${d.ID}</td>\n      <td style=\"border: 1px solid #ddd; padding: 10px;\">${d.Nombre}</td>\n      <td style=\"border: 1px solid #ddd; padding: 10px;\">${d.diasLaborables}</td>\n      <td style=\"border: 1px solid #ddd; padding: 10px;\">${d.horasEsperadas}</td>\n      <td style=\"border: 1px solid #ddd; padding: 10px;\">${d.horasIngresadas}</td>\n      <td style=\"border: 1px solid #ddd; padding: 10px;\">${d.diferencia}</td>\n      <td style=\"border: 1px solid #ddd; padding: 10px;\">${d.porcentaje}%</td>\n      <td style=\"border: 1px solid #ddd; padding: 10px;\">${d.estado}</td>\n      <td style=\"border: 1px solid #ddd; padding: 10px;\">${d.cantidadRegistros}</td>\n    </tr>\n  `;\n}\n\n// Calcular estadísticas\nconst total = datos.length;\nconst alDia = datos.filter(d => d.json.estado === '✅ Al día').length;\nconst advertencia = datos.filter(d => d.json.estado === '⚠️ Advertencia').length;\nconst atrasados = datos.filter(d => d.json.estado === '❌ Atrasado').length;\n\nconst htmlCompleto = `<!DOCTYPE html>\n<html>\n<head>\n<meta charset=\"UTF-8\">\n</head>\n<body style=\"font-family: Arial, sans-serif; padding: 20px;\">\n  <h2>📊 Reporte de Horas</h2>\n  <p>Período: Enero 2026</p>\n  \n  <div style=\"background-color: #f0f0f0; padding: 15px; border-radius: 5px; margin: 20px 0;\">\n    <h3 style=\"margin-top: 0;\">Resumen General</h3>\n    <p><strong>Total colaboradores:</strong> ${total}</p>\n    <p>✅ Al día: ${alDia} (${((alDia/total)*100).toFixed(1)}%)</p>\n    <p>⚠️ Advertencia: ${advertencia} (${((advertencia/total)*100).toFixed(1)}%)</p>\n    <p>❌ Atrasados: ${atrasados} (${((atrasados/total)*100).toFixed(1)}%)</p>\n  </div>\n  \n  <table style=\"border-collapse: collapse; width: 100%; margin: 20px 0;\">\n    <thead>\n      <tr>\n        <th style=\"background-color: #4CAF50; color: white; padding: 12px; text-align: left;\">ID</th>\n        <th style=\"background-color: #4CAF50; color: white; padding: 12px; text-align: left;\">Nombre</th>\n        <th style=\"background-color: #4CAF50; color: white; padding: 12px; text-align: left;\">Días Lab.</th>\n        <th style=\"background-color: #4CAF50; color: white; padding: 12px; text-align: left;\">Hrs Esperadas</th>\n        <th style=\"background-color: #4CAF50; color: white; padding: 12px; text-align: left;\">Hrs Ingresadas</th>\n        <th style=\"background-color: #4CAF50; color: white; padding: 12px; text-align: left;\">Diferencia</th>\n        <th style=\"background-color: #4CAF50; color: white; padding: 12px; text-align: left;\">Porcentaje</th>\n        <th style=\"background-color: #4CAF50; color: white; padding: 12px; text-align: left;\">Estado</th>\n        <th style=\"background-color: #4CAF50; color: white; padding: 12px; text-align: left;\">Registros</th>\n      </tr>\n    </thead>\n    <tbody>\n      ${filas}\n    </tbody>\n  </table>\n  \n  <p style=\"font-size: 12px; color: #666;\">\n    Semana laboral: Lunes a Jueves 8hrs, Viernes 6.5hrs = 38.5hrs/semana\n  </p>\n  <p style=\"font-size: 11px; color: #999;\">Reporte generado automáticamente</p>\n</body>\n</html>`;\n\nreturn {\n  htmlContent: htmlCompleto\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[32,-384],"id":"dc325d44-c655-4da8-8e8e-e378efa8c253","name":"html"},{"parameters":{"jsCode":"// Obtener fecha actual (ejecución)\nconst now = new Date();\n \n// Inicio del mes en curso\nconst startDate = new Date(now.getFullYear(), now.getMonth(), 1);\n \n// Fin del período: AYER (se excluye el día actual)\nconst endDate = new Date(now.getFullYear(), now.getMonth(), now.getDate() - 1);\n \n// Mapeo de meses a formato requerido\nconst MONTHS = [\"ENE\",\"FEB\",\"MAR\",\"ABR\",\"MAY\",\"JUN\",\"JUL\",\"AGO\",\"SEP\",\"OCT\",\"NOV\",\"DIC\"];\nconst MES_CURSO = MONTHS[now.getMonth()];\n \n// Contadores\nlet CONT_HAB_LUJU = 0;\nlet CONT_HAB_VI = 0;\n \n// Iterar día por día\nfor (let d = new Date(startDate); d <= endDate; d.setDate(d.getDate() + 1)) {\n  const day = d.getDay();\n  // 1=Lunes, 2=Martes, 3=Miércoles, 4=Jueves, 5=Viernes\n \n  if (day >= 1 && day <= 4) {\n    CONT_HAB_LUJU++;\n  } else if (day === 5) {\n    CONT_HAB_VI++;\n  }\n}\n \n// Cálculo de horas\nconst CONT_HORA_LUJU = CONT_HAB_LUJU * 8;\nconst CONT_HORA_VI = CONT_HAB_VI * 6.5;\nconst CONT_TOTAL = CONT_HORA_LUJU + CONT_HORA_VI;\n \n// Salida\nreturn [\n  {\n    json: {\n      MES_CURSO,\n      CONT_HAB_LUJU,\n      CONT_HAB_VI,\n      CONT_HORA_LUJU,\n      CONT_HORA_VI,\n      CONT_TOTAL\n    }\n  }\n]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-832,-464],"id":"8728a242-5a89-4309-a6f5-233bb1ca056a","name":"Repositorio 1"},{"parameters":{"fromEmail":"info@n8n.notificadl.cl","toEmail":"=jsilva@dl.cl","subject":"=Reporte de ingreso de horas en intervals","html":"={{$json.htmlContent}}","attachments":"="},"type":"n8n-nodes-base.mailgun","typeVersion":1,"position":[192,-176],"id":"9c437bc9-d557-41f7-8b3f-f72fa2441d23","name":"Mailgun_Call","credentials":{"mailgunApi":{"id":"jXQjjlGEuBBpD3Wo","name":"Mailgun account 4"}}}],"connections":{"HTTP Request":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Repositorio","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"html","type":"main","index":0}]]},"Repositorio":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"html":{"main":[[{"node":"Mailgun_Call","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","timezone":"America/Santiago","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7686b2a0-8de9-49d4-a773-6b4af6edc857","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-23T15:06:17.665Z","createdAt":"2026-01-23T15:06:17.665Z","role":"workflow:owner","workflowId":"qaWHDG9Pagf26u1B","projectId":"iYcETjaBCKTmmaOx"}],"activeVersion":null,"tags":[]}