calculo-de-horas-diciembre-M6At4gkVTIZmXwsi.json
{"updatedAt":"2026-02-11T17:35:06.879Z","createdAt":"2026-02-10T17:45:16.543Z","id":"M6At4gkVTIZmXwsi","name":"calculo de horas diciembre","active":false,"isArchived":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-384,-128],"id":"f70424a6-1d42-4547-bfe7-dc57da974356","name":"When clicking ‘Execute workflow’"},{"parameters":{"jsCode":"// ===============================\n// FECHA ACTUAL (CHILE)\n// ===============================\nconst hoy = new Date();\nconst offsetChile = -3 * 60;\nhoy.setMinutes(hoy.getMinutes() + hoy.getTimezoneOffset() - offsetChile);\n\n// ===============================\n// FECHA FIN = DÍA HÁBIL ANTERIOR\n// ===============================\nconst fechaFin = new Date(hoy);\nfechaFin.setDate(fechaFin.getDate() - 1);\n\n// Si cae sábado o domingo, retroceder\nwhile (fechaFin.getDay() === 0 || fechaFin.getDay() === 6) {\n  fechaFin.setDate(fechaFin.getDate() - 1);\n}\n\n// ===============================\n// MES ETIQUETA (SEGÚN FECHA FIN)\n// ===============================\nconst MESES = [\n  'ENE','FEB','MAR','ABR','MAY','JUN',\n  'JUL','AGO','SEP','OCT','NOV','DIC'\n];\n\nconst mesEtiqueta = MESES[fechaFin.getMonth()];\n\n// ===============================\n// FECHA INICIO = PRIMER DÍA HÁBIL DEL MES\n// ===============================\nconst fechaInicio = new Date(fechaFin.getFullYear(), fechaFin.getMonth(), 1);\n\n// Si cae sábado → lunes\nif (fechaInicio.getDay() === 6) {\n  fechaInicio.setDate(fechaInicio.getDate() + 2);\n}\n\n// Si cae domingo → lunes\nif (fechaInicio.getDay() === 0) {\n  fechaInicio.setDate(fechaInicio.getDate() + 1);\n}\n\n// ===============================\n// FORMATO YYYY-MM-DD\n// ===============================\nfunction iso(fecha) {\n  return fecha.toISOString().split('T')[0];\n}\n\n// ===============================\n// REPOSITORIO DE PERSONAS\n// ===============================\nconst personas = [\n  { personId:354371,nombre:'Susana',apellidoP:'Vásquez',apellidoM:'',area:'Contenido' },\n  { personId:429092,nombre:'Ana',apellidoP:'Saavedra',apellidoM:'',area:'Operaciones' },\n  { personId:425398,nombre:'Guillermo',apellidoP:'Salgado',apellidoM:'',area:'Dl Personas' },\n  { personId:371924,nombre:'José',apellidoP:'Valdés',apellidoM:'',area:'Dl Innova' },\n  { personId:426503,nombre:'Jose',apellidoP:'Silva',apellidoM:'Díaz',area:'Dl Innova' },\n  { personId:281553,nombre:'David',apellidoP:'Gómez',apellidoM:'',area:'Contenido' },\n  { personId:367250,nombre:'Barbara',apellidoP:'Dayanne',apellidoM:'',area:'Dl Innova' },\n  { personId:197714,nombre:'Valeska',apellidoP:'Villagrán',apellidoM:'',area:'Dl Innova' },\n  { personId:358826,nombre:'Rodrigo',apellidoP:'Retamal',apellidoM:'',area:'Dl Innova' },\n  { personId:411315,nombre:'Evelin',apellidoP:'Romero',apellidoM:'',area:'Dl Innova' },\n  { personId:423565,nombre:'Anai',apellidoP:'Ormazabal',apellidoM:'',area:'Dl Innova' },\n  { personId:362604,nombre:'Freddys',apellidoP:'Rojas',apellidoM:'',area:'Dl Innova' },\n  { personId:356965,nombre:'Margarita',apellidoP:'Olmedo',apellidoM:'',area:'Dl Innova' },\n  { personId:408021,nombre:'Carlos',apellidoP:'Martínez',apellidoM:'',area:'Dl Innova' },\n  { personId:425281,nombre:'Andres',apellidoP:'Yelpi',apellidoM:'',area:'Dl Innova' },\n  { personId:357713,nombre:'Yosbel',apellidoP:'Calvaire',apellidoM:'',area:'Dl Innova' },\n  { personId:357119,nombre:'Cristina',apellidoP:'Soto',apellidoM:'',area:'Marketing' },\n  { personId:427998,nombre:'Emily',apellidoP:'Ramírez',apellidoM:'',area:'Dl Innova' },\n  { personId:425282,nombre:'Edwuard',apellidoP:'Graterol',apellidoM:'',area:'Dl Innova' },\n  { personId:392742,nombre:'María Jose',apellidoP:'Vega',apellidoM:'',area:'Dl Innova' },\n  { personId:372821,nombre:'José',apellidoP:'Tapia',apellidoM:'',area:'Operaciones' },\n  { personId:383182,nombre:'Ariadna',apellidoP:'Landa',apellidoM:'',area:'Dl Innova' },\n  { personId:323747,nombre:'Joan',apellidoP:'de las Pozas',apellidoM:'',area:'Dl Innova' },\n  { personId:382778,nombre:'Fabiola',apellidoP:'Gonzáles',apellidoM:'',area:'Operaciones' },\n  { personId:411316,nombre:'José Antonio',apellidoP:'Tula Leyva',apellidoM:'Vásquez',area:'Contenido' },\n  { personId:425801,nombre:'Gladys',apellidoP:'González',apellidoM:'',area:'Dl Innova' },\n  { personId:423566,nombre:'Daniel',apellidoP:'Contador',apellidoM:'',area:'Dl Innova' },\n  { personId:424256,nombre:'Osvaldo',apellidoP:'Fuentes',apellidoM:'',area:'Dl Innova' },\n  { personId:348504,nombre:'Carolina',apellidoP:'Gajardo',apellidoM:'',area:'Operaciones' },\n  { personId:357120,nombre:'Rodrigo',apellidoP:'Ruiz',apellidoM:'',area:'Marketing' },\n  { personId:428509,nombre:'Beatriz',apellidoP:'Quilodrán',apellidoM:'',area:'Dl Personas' }\n];\n\n// ===============================\n// OUTPUT FINAL\n// ===============================\nreturn {\n  fechaInicio: iso(fechaInicio),\n  fechaFin: iso(fechaFin),\n  mesEtiqueta,\n  personas\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-80,-128],"id":"3a2fec42-eecb-4bf4-916e-218e9f6ef585","name":"Repositorio"},{"parameters":{"jsCode":"const repo = $input.first().json;\n\nconst inicio = new Date(`${repo.fechaInicio}T00:00:00`);\nconst fin = new Date(`${repo.fechaFin}T23:59:59`);\n\nlet diasLaborables = 0;\nlet horasTotales = 0;\n\nfor (let d = new Date(inicio); d <= fin; d.setDate(d.getDate() + 1)) {\n  const dia = d.getDay();\n\n  if (dia >= 1 && dia <= 4) {\n    diasLaborables++;\n    horasTotales += 8;\n  }\n\n  if (dia === 5) {\n    diasLaborables++;\n    horasTotales += 6.5;\n  }\n}\n\nreturn {\n  json: {\n    fechaInicio: repo.fechaInicio,\n    fechaFin: repo.fechaFin,\n    diasLaborables,\n    horasTotales: +horasTotales.toFixed(1),\n    mesCurso: repo.mesEtiqueta,\n    personas: repo.personas\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,-128],"id":"007e380c-704b-4b24-bc63-bc03cd966139","name":"Calculo de horas"},{"parameters":{"jsCode":"const calculo = $input.first().json;\n\nreturn calculo.personas.map(p => ({\n  json:{\n    personId: p.personId,\n    nombreCompleto: `${p.nombre} ${p.apellidoP || ''} ${p.apellidoM || ''}`.trim(),\n    area: p.area,\n    diasLaborables: calculo.diasLaborables,\n    horasEsperadas: calculo.horasTotales,\n    fechaInicio: calculo.fechaInicio,\n    fechaFin: calculo.fechaFin,\n    mesCurso: calculo.mesCurso\n  }\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,-128],"id":"454ef7b3-8821-4355-ac8b-4564f11f8d22","name":"Preparar datos personas"},{"parameters":{"url":"=https://api.myintervals.com/time/?personid={{$json.personId}}&datebegin={{$json.fechaInicio}}&dateend={{$json.fechaFin}}&limit=1000\n","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{"response":{"response":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-384,96],"id":"73437ac8-9994-434d-9c65-9a6e54cfd9b5","name":"HTTP Request","credentials":{"httpBasicAuth":{"id":"hd5ZkGI3m1uNQVbw","name":"intervals"}}},{"parameters":{"jsCode":"// ===============================\n// MAPA DE PERSONAS POR personId\n// ===============================\nconst personas = $('Preparar datos personas').all();\n\nconst mapa = {};\nfor (const p of personas) {\n  const j = p.json;\n  mapa[j.personId] = j;\n}\n\n// ===============================\n// PROCESO RESPUESTA INTERVALS\n// ===============================\nconst resultados = [];\nconst responses = $input.all();\n\nfor (const item of responses) {\n  const registros = item.json.time || [];\n  if (!registros.length) continue;\n\n  const personId = Number(registros[0].personid);\n  const persona = mapa[personId];\n  if (!persona) continue;\n\n  let horasIngresadas = 0;\n  for (const r of registros) {\n    horasIngresadas += Number(r.time || 0);\n  }\n\n  const horasEsperadas = Number(persona.horasEsperadas);\n  const diferencia = horasEsperadas - horasIngresadas;\n  const semanasPendientes = diferencia > 0 ? diferencia / 40 : 0;\n  const porcentaje = horasEsperadas ? (horasIngresadas / horasEsperadas) * 100 : 0;\n\n  let estado =\n    porcentaje >= 100 ? '✅ Al día' :\n    porcentaje >= 80  ? '⚠️ Advertencia' :\n    '❌ Atrasado';\n\n  resultados.push({\n    ID: personId,\n    Area: persona.area,\n    Nombre: persona.nombreCompleto,\n    diasLaborables: persona.diasLaborables,\n    horasEsperadas: +horasEsperadas.toFixed(2),\n    horasIngresadas: +horasIngresadas.toFixed(2),\n    diferencia: +diferencia.toFixed(2),\n    semanasPendientes: +semanasPendientes.toFixed(1),\n    porcentaje: +porcentaje.toFixed(2),\n    estado,\n    cantidadRegistros: registros.length,\n    mesCurso: persona.mesCurso,\n    periodoInicio: persona.fechaInicio,\n    periodoFin: persona.fechaFin\n  });\n}\n\nresultados.sort((a,b) => a.diferencia - b.diferencia);\nreturn resultados;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-80,96],"id":"ea4172d7-4802-4cc2-8d3c-d55f780f23e8","name":"Resultados"},{"parameters":{"jsCode":"// ===============================\n// FUENTES DE DATOS\n// ===============================\nconst datos = $input.all();\nconst repo = $('Repositorio').first().json;\n\n// ===============================\n// FECHAS Y METADATA\n// ===============================\nconst periodoInicio = repo.fechaInicio;\nconst periodoFin = repo.fechaFin;\n\nconst mesCurso = datos.length ? datos[0].json.mesCurso : '';\nconst diasLaborables = datos.length ? datos[0].json.diasLaborables : 0;\n\n// ===============================\n// MÉTRICAS GENERALES\n// ===============================\nconst totalColaboradores = datos.length;\nconst alDia = datos.filter(i => i.json.estado === '✅ Al día').length;\nconst advertencia = datos.filter(i => i.json.estado === '⚠️ Advertencia').length;\nconst atrasados = datos.filter(i => i.json.estado === '❌ Atrasado').length;\n\n// ===============================\n// FORMATEO FECHAS ES\n// ===============================\nconst MESES = [\n  'enero','febrero','marzo','abril','mayo','junio',\n  'julio','agosto','septiembre','octubre','noviembre','diciembre'\n];\n\nfunction formatearFechaES(fechaISO) {\n  const [yyyy, mm, dd] = fechaISO.split('-');\n  return `${dd} de ${MESES[Number(mm) - 1]}`;\n}\n\nconst periodoTexto =\n  `${formatearFechaES(periodoInicio)} al ${formatearFechaES(periodoFin)}`;\n\n// ===============================\n// FILAS TABLA\n// ===============================\nlet filas = '';\n\nfor (const item of datos) {\n  const d = item.json;\n\n  const colorFila =\n    d.estado === '✅ Al día' ? '#e8f5e9' :\n    d.estado === '⚠️ Advertencia' ? '#fff8e1' :\n    '#fdecea';\n\n  filas += `\n  <tr style=\"background:${colorFila};\">\n    <td><strong>${d.Area}</strong></td>\n    <td><strong>${d.Nombre}</strong></td>\n    <td><strong>${d.horasEsperadas}</strong></td>\n    <td><strong>${d.horasIngresadas}</strong></td>\n    <td><strong>${Math.abs(d.diferencia)}</strong></td>\n    <td><strong>${Math.round(d.porcentaje)}%</strong></td>\n    <td><strong>${d.estado}</strong></td>\n    <td><strong>${d.semanasPendientes}</strong></td>\n  </tr>`;\n}\n\n// ===============================\n// HTML FINAL\n// ===============================\nconst htmlCompleto = `\n<!DOCTYPE html>\n<html>\n<head>\n<meta charset=\"UTF-8\">\n</head>\n\n<body style=\"font-family:APTOS,Arial,sans-serif;font-size:12px;padding:20px;\">\n\n<h2 style=\"color:#7049BC;font-size:14px;\">\n  <strong>Reporte de Horas – ${mesCurso}</strong>\n</h2>\n\n<p>\n  Estimad@s, esperamos que este mensaje les encuentre bien:\n</p>\n\n<p>\n  Como formalidad semanal, se comparte el reporte de ingreso de horas correspondiente\n  al período entre las fechas: <strong>${periodoTexto}</strong>.\n</p>\n\n<p>\n  <span style=\"display:inline-block;background:#5CDB82;padding:10px;color:#000000;\">\n    <strong>Nota:</strong> al momento de registrar las horas y su respectiva descripción,\n    se solicita no utilizar signos especiales (como “, &, %, entre otros),\n    ya que estos afectan la reportería.\n  </span>\n</p>\n\n<table\n  cellpadding=\"0\"\n  cellspacing=\"0\"\n  style=\"\n    width:100%;\n    max-width:900px;\n    border-collapse:collapse;\n    font-size:12px;\n    margin-top:15px;\n    text-align:center;\n  \"\n>\n<thead>\n<tr style=\"background:#7049BC;color:#fff;\">\n  <th style=\"vertical-align:middle;\">Área</th>\n  <th style=\"vertical-align:middle;\">Colaborador</th>\n  <th style=\"vertical-align:middle;\">Horas<br>Esperadas</th>\n  <th style=\"vertical-align:middle;\">Horas<br>Ingresadas</th>\n  <th style=\"vertical-align:middle;\">Diferencia</th>\n  <th style=\"vertical-align:middle;\">Porcentaje</th>\n  <th style=\"vertical-align:middle;\">Estado</th>\n  <th style=\"vertical-align:middle;\">Semanas<br>Pendientes</th>\n</tr>\n</thead>\n\n<tbody>\n${filas}\n</tbody>\n</table>\n\n<style>\n  th, td {\n    padding: 8px;\n    text-align: center;\n    vertical-align: middle;\n  }\n</style>\n\n<p style=\"color:#7049BC;font-weight:bold;margin-top:15px;font-size:14px;\">\n  Alcances del reporte:\n</p>\n\n<ul style=\"margin:0;padding-left:16px;\">\n  <li><strong>Fecha inicio:</strong> ${periodoInicio}</li>\n  <li><strong>Fecha fin:</strong> ${periodoFin}</li>\n  <li><strong>Días hábiles considerados:</strong> ${diasLaborables}</li>\n  <li><strong>Total colaboradores:</strong> ${totalColaboradores}</li>\n  <li><strong>Al día:</strong> ${alDia}</li>\n  <li><strong>Advertencia:</strong> ${advertencia}</li>\n  <li><strong>Atrasados:</strong> ${atrasados}</li>\n</ul>\n\n<p style=\"margin-top:16px;\">\n  Frente a dudas, consultas o validación de métricas, comunicarse directamente\n  con el <strong>área de control de gestión</strong>.\n</p>\n\n<p>\n  De antemano les deseamos una linda jornada.\n</p>\n\n<p>\n  <strong>Saludos cordiales.</strong><br>\n  <strong>Equipo de control de gestión.</strong>\n</p>\n\n</body>\n</html>\n`;\n\nreturn { htmlContent: htmlCompleto };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,96],"id":"f33e1ab6-336d-4b67-b805-cea1970088cb","name":"HTML"},{"parameters":{"fromEmail":"info@n8n.notificadl.cl","toEmail":"=jsilva@dl.cl","subject":"=Reporte de ingreso de horas en intervals","html":"={{$json.htmlContent}}","attachments":"="},"type":"n8n-nodes-base.mailgun","typeVersion":1,"position":[480,96],"id":"ded28315-2761-42a3-a8ef-ccb93d6bf515","name":"Mailgun_Call","credentials":{"mailgunApi":{"id":"jXQjjlGEuBBpD3Wo","name":"Mailgun account 4"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Repositorio","type":"main","index":0}]]},"Repositorio":{"main":[[{"node":"Calculo de horas","type":"main","index":0}]]},"Calculo de horas":{"main":[[{"node":"Preparar datos personas","type":"main","index":0}]]},"Preparar datos personas":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Resultados","type":"main","index":0}]]},"Resultados":{"main":[[{"node":"HTML","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Mailgun_Call","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"1f03ea95-2671-4109-9103-a56c2aa88751","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-10T17:45:16.543Z","createdAt":"2026-02-10T17:45:16.543Z","role":"workflow:owner","workflowId":"M6At4gkVTIZmXwsi","projectId":"iYcETjaBCKTmmaOx"}],"activeVersion":null,"tags":[]}