nuevo-reporte-con-nuevos-requisitos-sIrQLu0Yos6rB7zun239F.json
{"updatedAt":"2026-03-16T15:53:18.678Z","createdAt":"2026-02-19T15:48:10.282Z","id":"sIrQLu0Yos6rB7zun239F","name":"Nuevo Reporte con nuevos requisitos","active":false,"isArchived":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-576,-16],"id":"42adc7c0-b008-459b-ad0c-fd05abe06137","name":"When clicking ‘Execute workflow’"},{"parameters":{"url":"https://api.myintervals.com/person/?active=true&limit=1000","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[144,-16],"id":"7e52659c-66d5-4c89-95e2-9d978edb7fb7","name":"HTTP Request","credentials":{"httpBasicAuth":{"id":"hd5ZkGI3m1uNQVbw","name":"intervals"}}},{"parameters":{"jsCode":"// ====================================================\n// CONFIGURACIÓN RANGO DE FECHAS ====================================================\n\n// Ajuste Chile UTC-3\nconst hoy = new Date();\nhoy.setMinutes(hoy.getMinutes() + hoy.getTimezoneOffset() + 180);\n\n// ===============================\n// FECHA FIN → Último día hábil\n// ===============================\nconst fechaFin = new Date(hoy);\nfechaFin.setDate(fechaFin.getDate() - 1);\n\nwhile (fechaFin.getDay() === 0 || fechaFin.getDay() === 6) {\n  fechaFin.setDate(fechaFin.getDate() - 1);\n}\n\n// ===============================\n// FECHA INICIO → Último viernes mes anterior\n// ===============================\nconst fechaInicio = new Date(\n  fechaFin.getFullYear(),\n  fechaFin.getMonth(),\n  0\n);\n\nwhile (fechaInicio.getDay() !== 5) {\n  fechaInicio.setDate(fechaInicio.getDate() - 1);\n}\n\n// ===============================\n// TEXTO PERIODO\n// ===============================\nconst MESES = [\n'enero','febrero','marzo','abril','mayo','junio','julio','agosto','septiembre','octubre','noviembre','diciembre'\n];\n\nconst inicioTexto =\n  String(fechaInicio.getDate()).padStart(2,'0') +\n  ' de ' + MESES[fechaInicio.getMonth()];\n\nconst finTexto =\n  String(fechaFin.getDate()).padStart(2,'0') +\n  ' de ' + MESES[fechaFin.getMonth()];\n\nconst periodoTexto = `${inicioTexto} – ${finTexto}`;\nconst mesCurso = MESES[fechaFin.getMonth()].toUpperCase().slice(0,3);\n\n// ===============================\n// LISTA DE EXCEPCIONES\n// ===============================\nconst excepciones = [\n  \"Andres Acevedo\",\n  \"Camila Chavez\",\n  \"DL Developer\",\n  \"Henry Rivas\",\n  \"Proyectos Digital Learning S.A.\",\n  \"Sebastian Vidal\",\n  \"Yara Martínez\"\n];\n\n// ===============================\n// OUTPUT\n// ===============================\nreturn {\n  fechaInicio: fechaInicio.toISOString().slice(0,10),\n  fechaFin: fechaFin.toISOString().slice(0,10),\n  periodoTexto,\n  mesCurso,\n  excepciones\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-336,-16],"id":"8da5080c-aea2-45a6-841c-d59bb1f81c33","name":"Repositorio"},{"parameters":{"jsCode":"// =====================================================\n// CÁLCULO DE DÍAS LABORABLES Y HORAS ESPERADAS\n// =====================================================\n\nconst repo = $input.first().json;\nconst inicio = new Date(repo.fechaInicio);\nconst fin = new Date(repo.fechaFin);\n\nlet diasLaborables = 0;\nlet horasTotales = 0;\n\nfor (let d = new Date(inicio); d <= fin; d.setDate(d.getDate() + 1)) {\n\n  const dia = d.getDay();\n\n  if (dia >= 1 && dia <= 4) {\n    diasLaborables++;\n    horasTotales += 8;\n  } else if (dia === 5) {\n    diasLaborables++;\n    horasTotales += 6.5;\n  }\n}\n\nreturn {\n  json: {\n    diasLaborables,\n    horasTotales: +horasTotales.toFixed(1),\n    mesCurso: repo.mesCurso\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-96,-16],"id":"e919d635-c1eb-455f-ba38-54107e3619af","name":"Calculo de horas"},{"parameters":{"jsCode":"// ===============================\n// PERSONAS FILTRADAS\n// ===============================\nconst personasArray = $('Filtrar personas').all().map(p => p.json);\n\n// Mapa por personId\nconst personas = Object.fromEntries(\n  personasArray.map(p => [p.personId, p])\n);\n\n// Días laborales\nconst diasLaborables = $('Calculo de horas').first().json.diasLaborables;\nconst horasEsperadasPeriodo = $('Calculo de horas').first().json.horasTotales;\n\nconst resultados = [];\nconst horasPorPersona = {};\n\n// ===============================\n// CONSOLIDAR RESPUESTA TIME\n// ===============================\nfor (const item of $input.all()) {\n\n  const registros = item.json.time || [];\n\n  if (!registros.length) continue;\n\n  const personId = Number(registros[0].personid);\n\n  const totalHoras = registros.reduce(\n    (acc, r) => acc + Number(r.time || 0),\n    0\n  );\n\n  horasPorPersona[personId] =\n    (horasPorPersona[personId] || 0) + totalHoras;\n}\n\n// ===============================\n// GENERAR RESULTADOS\n// ===============================\nfor (const persona of personasArray) {\n\n  const horasIngresadas =\n    +(horasPorPersona[persona.personId] || 0).toFixed(1);\n\n  const diferencia =\n    +(horasEsperadasPeriodo - horasIngresadas).toFixed(1);\n\n  const porcentaje = horasEsperadasPeriodo > 0\n    ? Math.round((horasIngresadas / horasEsperadasPeriodo) * 100)\n    : 0;\n\nlet estado =\n  porcentaje >= 100 ? '✅ Al día' :\n  porcentaje >= 80 ? '⚠️ Pendiente' :\n  '❌ Atrasado';\n\n  resultados.push({\n    Area: \"N/A\",\n    Nombre: persona.nombre,\n    horasEsperadas: horasEsperadasPeriodo,\n    horasIngresadas,\n    diferencia,\n    semanasPendientes:\n      diferencia > 0 ? +((diferencia / 40).toFixed(1)) : 0,\n    porcentaje,\n    estado,\n    diasLaborables\n  });\n}\n\nreturn resultados.sort((a,b) => a.diferencia - b.diferencia);\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-80,192],"id":"7067526a-f54e-4be0-b921-9f1bbc2aefbf","name":"Resultados"},{"parameters":{"jsCode":"// ===============================\n// FUENTES DE DATOS\n// ===============================\nconst datos = $input.all();\nconst repo = $('Repositorio').first().json;\n\n\n// ===============================\n// METADATA DEL REPORTE\n// ===============================\nconst periodoInicio = repo.fechaInicio;\nconst periodoFin = repo.fechaFin;\n\n// Valores globales (se repiten en todos los registros)\nconst diasLaborables =\n  datos.length ? datos[0].json.diasLaborables : 0;\n\nconst horasEsperadasPeriodo =\n  datos.length && !isNaN(datos[0].json.horasEsperadas)\n    ? datos[0].json.horasEsperadas\n    : 0;\n\nconst totalColaboradores = datos.length;\n\n\n// ===============================\n// RESUMEN ESTADÍSTICO\n// ===============================\nconst alDia = datos.filter(i =>\n  i.json.estado === '✅ Al día'\n).length;\n\nconst pendientes = datos.filter(i =>\n  i.json.estado === '⚠️ Pendiente'\n).length;\n\nconst atrasados = datos.filter(i =>\n  i.json.estado === '❌ Atrasado'\n).length;\n\n\n// ===============================\n// HTML FINAL\n// ===============================\nconst htmlCompleto = `\n<!DOCTYPE html>\n<html>\n<head>\n<meta charset=\"UTF-8\">\n</head>\n\n<body style=\"margin:0;padding:8px 10px;font-family:Arial,APTOS,sans-serif;font-size:12px;\">\n\n<h2 style=\"color:#7049BC;font-size:14px;margin:0;\">\n  <strong>Reporte de Horas – ${datos[0]?.json.mesCurso || ''}</strong>\n</h2>\n\n<p style=\"margin:8px 0;\">\n  Estimad@s, esperamos que este mensaje les encuentre bien:\n</p>\n\n<p style=\"margin:8px 0;\">\n  Como formalidad semanal, se comparte el reporte de ingreso de horas correspondiente\n  al período entre las fechas: <strong>${repo.periodoTexto}</strong>.\n</p>\n\n<p style=\"margin:12px 0;\">\n  <span style=\"display:inline-block;background:#5CDB82;padding:10px;color:#000;\">\n    <strong>Nota:</strong> al momento de registrar las horas y su respectiva descripción,\n    se solicita no utilizar signos especiales (como \", &, %, entre otros),\n    ya que estos afectan la reportería.\n  </span>\n</p>\n\n<table\n  width=\"100%\"\n  cellpadding=\"0\"\n  cellspacing=\"0\"\n  border=\"1\"\n  bordercolor=\"#5838A3\"\n  style=\"\n    width:100%;\n    max-width:900px;\n    border-collapse:collapse;\n    font-size:12px;\n    margin-top:15px;\n    text-align:center;\n  \"\n>\n\n<thead>\n<tr>\n\n  <th bgcolor=\"#7049BC\"\n      style=\"border:1px solid #5838A3;\n             color:#ffffff;\n             padding:3px 0;\n             padding-top: -10px;\n             font-weight:bold;\n             text-align:center;\n             vertical-align:middle;\n             line-height:normal;\">\n    Área\n  </th>\n\n  <th bgcolor=\"#7049BC\"\n      style=\"border:1px solid #5838A3;\n             color:#ffffff;\n             padding:6px 0;\n             padding-top: -10px;\n             font-weight:bold;\n             text-align:center;\n             vertical-align:middle;\n             line-height:normal;\">\n    Colaborador\n  </th>\n\n  <th bgcolor=\"#7049BC\"\n      style=\"border:1px solid #5838A3;\n             color:#ffffff;\n             padding:6px 0;\n             padding-top: -10px;\n             font-weight:bold;\n             text-align:center;\n             vertical-align:middle;\n             line-height:normal;\">\n    Horas Esperadas\n  </th>\n\n  <th bgcolor=\"#7049BC\"\n      style=\"border:1px solid #5838A3;\n             color:#ffffff;\n             padding:6px 0;\n             padding-top: -10px;\n             font-weight:bold;\n             text-align:center;\n             vertical-align:middle;\n             line-height:normal;\">\n    Horas Ingresadas\n  </th>\n\n  <th bgcolor=\"#7049BC\"\n      style=\"border:1px solid #5838A3;\n             color:#ffffff;\n             padding:6px 0;\n             padding-top: -10px;\n             font-weight:bold;\n             text-align:center;\n             vertical-align:middle;\n             line-height:normal;\">\n    Diferencia\n  </th>\n\n  <th bgcolor=\"#7049BC\"\n      style=\"border:1px solid #5838A3;\n             color:#ffffff;\n             padding:6px 0;\n             padding-top: -10px;\n             font-weight:bold;\n             text-align:center;\n             vertical-align:middle;\n             line-height:normal;\">\n    Porcentaje\n  </th>\n\n  <th bgcolor=\"#7049BC\"\n      style=\"border:1px solid #5838A3;\n             color:#ffffff;\n             padding:6px 0;\n             padding-top: -10px;\n             font-weight:bold;\n             text-align:center;\n             vertical-align:middle;\n             line-height:normal;\">\n    Estado\n  </th>\n\n  <th bgcolor=\"#7049BC\"\n      style=\"border:1px solid #5838A3;\n             color:#ffffff;\n             padding:6px 0;\n             padding-top: -10px;\n             font-weight:bold;\n             text-align:center;\n             vertical-align:middle;\n             line-height:normal;\">\n    Semanas Pendientes\n  </th>\n\n</tr>\n</thead>\n\n<tbody>\n${datos.map(d => {\n\n  const colorFila =\n    d.json.estado === '✅ Al día' ? '#C9D6CC' :\n    d.json.estado === '⚠️ Pendiente' ? '#E8DFC7' :\n    '#F4CCCC';\n\n  const colorBorde =\n    d.json.estado === '✅ Al día' ? '#8BA88F' :\n    d.json.estado === '⚠️ Pendiente' ? '#D4BC8E' :\n    '#E89A9A';\n\n  return `\n  <tr>\n\n    <td bgcolor=\"${colorFila}\"\n        style=\"margin-top:10px;margin-bottom:10px;padding:0;height:18px;line-height:18px;vertical-align:middle;text-align:center;border:1px solid ${colorBorde};\">${d.json.Area}\n    </td>\n\n    <td bgcolor=\"${colorFila}\"\n        style=\"margin-top:10px;margin-bottom:10px;padding:0;height:18px;line-height:18px;vertical-align:middle;text-align:center;border:1px solid ${colorBorde};\">\n        <strong>${d.json.Nombre}</strong>\n    </td>\n\n    <td bgcolor=\"${colorFila}\"\n        style=\"margin-top:10px;margin-bottom:10px;padding:0;height:18px;line-height:18px;vertical-align:middle;text-align:center;border:1px solid ${colorBorde};\">\n        <strong>${d.json.horasEsperadas}</strong>\n    </td>\n\n    <td bgcolor=\"${colorFila}\"\n        style=\"margin-top:10px;margin-bottom:10px;padding:0;height:height:18px;line-height:18px;vertical-align:middle;text-align:center;border:1px solid ${colorBorde};\">\n        <strong>${d.json.horasIngresadas}</strong>\n    </td>\n\n    <td bgcolor=\"${colorFila}\"\n        style=\"margin-top:10px;margin-bottom:10px;padding:0;height:18px;line-height:18px;vertical-align:middle;text-align:center;border:1px solid ${colorBorde};\">${Math.abs(d.json.diferencia)}\n    </td>\n\n    <td bgcolor=\"${colorFila}\"\n        style=\"margin-top:10px;margin-bottom:10px;padding:0;height:18px;line-height:18px;vertical-align:middle;text-align:center;border:1px solid ${colorBorde};\">${d.json.porcentaje}%\n    </td>\n\n    <td bgcolor=\"${colorFila}\"\n        style=\"margin-top:10px;margin-bottom:10px;padding:0;height:height:18px;line-height:18px;vertical-align:middle;text-align:center;border:1px solid ${colorBorde};\">\n        <strong>${d.json.estado}</strong>\n    </td>\n\n    <td bgcolor=\"${colorFila}\"\n        style=\"margin-top:10px;margin-bottom:10px;padding:0;height:18px;line-height:18px;vertical-align:middle;text-align:center;border:1px solid ${colorBorde};\">${d.json.semanasPendientes}\n    </td>\n\n  </tr>\n  `;\n}).join('')}\n</tbody>\n\n</table>\n\n<p style=\"color:#7049BC;font-weight:bold;margin-top:18px;font-size:14px;\">\n  Alcances del Reporte:\n</p>\n\n<ul style=\"margin:0;padding-left:18px;\">\n  <li><strong>Fecha inicio:</strong> ${periodoInicio}</li>\n  <li><strong>Fecha fin:</strong> ${periodoFin}</li>\n  <li><strong>Días hábiles considerados:</strong> ${diasLaborables}</li>\n  <li><strong>Cantidad de horas contabilizadas en el mes:</strong> ${horasEsperadasPeriodo}</li>\n  <li><strong>Total colaboradores:</strong> ${totalColaboradores}</li>\n  <li><strong>Colaboradores al día:</strong> ${alDia}</li>\n  <li><strong>Colaboradores pendientes:</strong> ${pendientes}</li>\n  <li><strong>Colaboradores atrasados:</strong> ${atrasados}</li>\n</ul>\n\n<p style=\"margin-top:16px;\">\n  Frente a dudas, consultas o validación de métricas, comunicarse directamente\n  con el <strong>área de control de gestión</strong>.\n</p>\n\n<p style=\"margin-top:14px;\">\n  Saludos cordiales.<br>\n  Equipo de Infraestructura.\n</p>\n\n</body>\n</html>\n`;\n\nreturn { htmlContent: htmlCompleto };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[144,192],"id":"947ee4ce-39fa-4a8c-9cca-25ac8ec87494","name":"HTML"},{"parameters":{"fromEmail":"info@n8n.notificadl.cl","toEmail":"=jsilva@dl.cl","subject":"=Reporte de ingreso de horas en intervals","text":"=","html":"={{$json.htmlContent}}","attachments":"="},"type":"n8n-nodes-base.mailgun","typeVersion":1,"position":[384,192],"id":"34b3715c-095b-4a15-9cb5-c1d235d33e93","name":"Mailgun_Call","credentials":{"mailgunApi":{"id":"jXQjjlGEuBBpD3Wo","name":"Mailgun account 4"}}},{"parameters":{"jsCode":"// ===============================\n// NORMALIZAR TEXTO (quitar tildes)\n// ===============================\nfunction normalizar(texto) {\n  return texto\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toLowerCase()\n    .trim();\n}\n\n// ===============================\n// DATOS DEL REPOSITORIO\n// ===============================\nconst repo = $('Repositorio').first().json;\nconst excepciones = repo.excepciones.map(e => normalizar(e));\n\n// ===============================\n// EXTRAER ARRAY REAL DE PERSONAS\n// ===============================\nconst response = $input.first().json;\nconst personasAPI = response.person || [];\n\n// ===============================\n// FILTRAR SOLO ACTIVOS + NO EXCEPCIONES\n// ===============================\nconst personasFinal = personasAPI\n  .filter(p => p.active === \"t\")\n  .filter(p => {\n    const nombreCompleto = normalizar(\n      `${p.firstname} ${p.lastname}`\n    );\n    return !excepciones.includes(nombreCompleto);\n  });\n\n// ===============================\n// OUTPUT\n// ===============================\nreturn personasFinal.map(p => ({\n  json: {\n    personId: Number(p.id),\n    nombre: `${p.firstname} ${p.lastname}`.trim(),\n    fechaInicio: repo.fechaInicio,\n    fechaFin: repo.fechaFin\n  }\n}));\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[384,-16],"id":"6be3da48-3a67-4520-8980-5cb3a9e676df","name":"Filtrar personas"},{"parameters":{"url":"={{`https://api.myintervals.com/time/?personid=${$json.personId}&datebegin=${$json.fechaInicio}&dateend=${$json.fechaFin}&limit=1000`}}\n","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-320,192],"id":"ae724019-f71a-46de-8ed0-5f798ad9dc57","name":"HTTP Request1","credentials":{"httpBasicAuth":{"id":"hd5ZkGI3m1uNQVbw","name":"intervals"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Repositorio","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Filtrar personas","type":"main","index":0}]]},"Repositorio":{"main":[[{"node":"Calculo de horas","type":"main","index":0}]]},"Calculo de horas":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Resultados":{"main":[[{"node":"HTML","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Mailgun_Call","type":"main","index":0}]]},"Filtrar personas":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Resultados","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"eb6af5eb-f2b5-46d8-880d-493a1ddc638d","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-19T15:48:10.282Z","createdAt":"2026-02-19T15:48:10.282Z","role":"workflow:owner","workflowId":"sIrQLu0Yos6rB7zun239F","projectId":"iYcETjaBCKTmmaOx"}],"activeVersion":null,"tags":[]}