reporte-ingreso-de-horas-intervals-'30-dias-habiles'-VCLugZ9WGl54_1wrs4dth.json
{"updatedAt":"2026-03-27T15:12:55.327Z","createdAt":"2026-03-02T17:21:25.489Z","id":"VCLugZ9WGl54_1wrs4dth","name":"Reporte Ingreso de Horas Intervals '30 dias habiles'","active":true,"isArchived":false,"nodes":[{"parameters":{"jsCode":"const hoy = new Date();\nconst input = $input.first().json; // toma remitentes y cc\n\nreturn [{\n  json: {\n    fechaEjecucion: hoy.toISOString().split('T')[0],\n    anioActual: hoy.getFullYear(),\n    diasObjetivo: 30,\n    remitentes: input.remitentes,  \n    cc: input.cc                  \n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2416,2624],"id":"c87f15a2-dd5c-47d5-a816-a615bda9ce8e","name":"S01_Variables_Globales1"},{"parameters":{"jsCode":"const repo = $('S01_Variables_Globales1').first().json;\nconst hoy = new Date(repo.fechaEjecucion);\n\nlet fechaFin = new Date(hoy);\nfechaFin.setDate(fechaFin.getDate() - 1);\nwhile (fechaFin.getDay() === 0 || fechaFin.getDay() === 6) {\n  fechaFin.setDate(fechaFin.getDate() - 1);\n}\n\nlet contador = 1;\nlet fechaInicio = new Date(fechaFin);\nwhile (contador < repo.diasObjetivo) {\n  fechaInicio.setDate(fechaInicio.getDate() - 1);\n  const dia = fechaInicio.getDay();\n  if (dia >= 1 && dia <= 5) contador++;\n}\n\nreturn [{\n  json: {\n    fechaInicioPeriodo: fechaInicio.toISOString().split('T')[0],\n    fechaFinPeriodo: fechaFin.toISOString().split('T')[0]\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2208,2624],"id":"ac44e6f7-c601-40b9-9d98-85cc3c1b0331","name":"S02_Calcular_Periodo1"},{"parameters":{"url":"=https://api.myintervals.com/time/?datebegin={{ $('S02_Calcular_Periodo1').first().json.fechaInicioPeriodo }}&dateend={{ $('S02_Calcular_Periodo1').first().json.fechaFinPeriodo }}&limit=5000","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2016,2624],"id":"a66e8242-015b-4745-883d-3c0fc9baa2ed","name":"S03_Llamar_API_Intervals1","credentials":{"httpBasicAuth":{"id":"hd5ZkGI3m1uNQVbw","name":"intervals"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"check-api-ok-sync","leftValue":"={{ Array.isArray($json.time) && $json.time.length > 0 }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1840,2624],"id":"fda2c49d-a4b6-4e25-98be-f3b902f37b82","name":"S04_If_API_OK1"},{"parameters":{"fromEmail":"info@n8n.notificadl.cl","toEmail":"jsilva@dl.cl","subject":"⚠️ ERROR - Sync tabla fallida (API sin respuesta)","html":"La API de Intervals no devolvió datos. La tabla NO fue actualizada. El reporte de las 13:00 podría estar desactualizado."},"type":"n8n-nodes-base.mailgun","typeVersion":1,"position":[-1680,2784],"id":"8ea5b838-bd33-432b-b30a-ae2b3b6f8cb3","name":"S05_Error_Mail_Sync1","credentials":{"mailgunApi":{"id":"jXQjjlGEuBBpD3Wo","name":"Mailgun account 4"}}},{"parameters":{"errorMessage":"Sync: API Intervals sin respuesta"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[-1504,2784],"id":"c1dacd68-872b-484a-b0b9-4f6d67b6b951","name":"S06_Stop_Sync1"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"Colaboradores intervals","mode":"name"}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-1536,2608],"id":"135cf8fc-2e8b-42ca-b9dd-1f2d2762e224","name":"S07_Get_Tabla1"},{"parameters":{"url":"https://api.myintervals.com/person/?active=true&limit=500","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1328,2640],"id":"17963b24-5806-4697-a715-0a167a99669c","name":"S07b_Get_Persons_API","credentials":{"httpBasicAuth":{"id":"hd5ZkGI3m1uNQVbw","name":"intervals"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"/*\n  S07c - Construir lista dinámica de titles válidos (v6)\n*/\n\nfunction decodeHtml(str) {\n  if (!str) return '';\n  return str\n    .replace(/&aacute;/g, 'á').replace(/&eacute;/g, 'é')\n    .replace(/&iacute;/g, 'í').replace(/&oacute;/g, 'ó')\n    .replace(/&uacute;/g, 'ú').replace(/&Aacute;/g, 'Á')\n    .replace(/&Eacute;/g, 'É').replace(/&Iacute;/g, 'Í')\n    .replace(/&Oacute;/g, 'Ó').replace(/&Uacute;/g, 'Ú')\n    .replace(/&ntilde;/g, 'ñ').replace(/&Ntilde;/g, 'Ñ')\n    .replace(/&uuml;/g, 'ü').replace(/&amp;/g, '&');\n}\n\nfunction limpiar(t) {\n  if (!t) return '';\n  return t.toString()\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n    .toLowerCase()\n    .replace(/[^a-z0-9\\s]/g, '')\n    .trim();\n}\n\nconst personsData = $('S07b_Get_Persons_API').first().json;\nconst personsList = personsData.person || [];\n\nconst conteo = {};\nfor (const p of personsList) {\n  const title = decodeHtml((p.title || '').trim());\n  if (!title) continue;\n  conteo[title] = (conteo[title] || 0) + 1;\n}\n\nconst titlesDistinct = Object.entries(conteo)\n  .filter(([_, count]) => count >= 2)\n  .map(([title]) => title);\n\nconst titlePorNombre = {};\nfor (const p of personsList) {\n  const nombreCompleto = decodeHtml(`${p.firstname || ''} ${p.lastname || ''}`).trim();\n  const key = limpiar(nombreCompleto);\n  if (key) {\n    titlePorNombre[key] = decodeHtml((p.title || '').trim());\n  }\n}\n\nconst nombresActivos = Object.keys(titlePorNombre);\n\nreturn [{ json: { titlesDistinct, titlePorNombre, nombresActivos } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1120,2704],"id":"bb813c86-438f-4981-a5c9-19e9e1018fc8","name":"S07c_Construir_Titles1"},{"parameters":{"jsCode":"/*\n  S07d - Sincronizar AREA de colaboradores existentes (v6)\n*/\n\nfunction decodeHtml(str) {\n  if (!str) return '';\n  return str\n    .replace(/&aacute;/g, 'á').replace(/&eacute;/g, 'é')\n    .replace(/&iacute;/g, 'í').replace(/&oacute;/g, 'ó')\n    .replace(/&uacute;/g, 'ú').replace(/&Aacute;/g, 'Á')\n    .replace(/&Eacute;/g, 'É').replace(/&Iacute;/g, 'Í')\n    .replace(/&Oacute;/g, 'Ó').replace(/&Uacute;/g, 'Ú')\n    .replace(/&ntilde;/g, 'ñ').replace(/&Ntilde;/g, 'Ñ')\n    .replace(/&uuml;/g, 'ü').replace(/&amp;/g, '&');\n}\n\nfunction limpiar(t) {\n  if (!t) return '';\n  return t.toString()\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n    .toLowerCase()\n    .replace(/[^a-z0-9\\s]/g, '')\n    .trim();\n}\n\nconst tablaItems = $('S07_Get_Tabla1').all();\nconst s07c = $('S07c_Construir_Titles1').first().json;\nconst titlePorNombre  = s07c.titlePorNombre || {};\nconst titlesDistinct  = s07c.titlesDistinct || [];\nconst titlesDistinct_limpios = titlesDistinct.map(t => limpiar(t));\n\nconst aActualizar = [];\n\nfor (const item of tablaItems) {\n  const row = item.json;\n  if (!row.NOMBRE) continue;\n\n  const keyLimpio = limpiar(row.NOMBRE);\n\n  if (!titlePorNombre.hasOwnProperty(keyLimpio)) continue;\n\n  const titleEnIntervals = titlePorNombre[keyLimpio];\n  const areaEnTabla      = (row.AREA || '').trim();\n\n  let areaNueva;\n  if (!titleEnIntervals || titleEnIntervals.length === 0) {\n    areaNueva = 'Favor actualizar';\n  } else if (!titlesDistinct_limpios.includes(limpiar(titleEnIntervals))) {\n    areaNueva = 'Área desconocida';\n  } else {\n    areaNueva = titleEnIntervals;\n  }\n\n  if (limpiar(areaEnTabla) !== limpiar(areaNueva)) {\n    aActualizar.push({ json: { NOMBRE: row.NOMBRE, AREA: areaNueva } });\n  }\n}\n\nif (aActualizar.length === 0) return [{ json: { _sinCambiosArea: true } }];\nreturn aActualizar;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-928,2752],"id":"5296026f-ede5-44de-83af-05dacbaaae45","name":"S07d_Sincronizar_Areas1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"check-sin-cambios-area","leftValue":"={{ $json._sinCambiosArea }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-2528,2992],"id":"14ade604-8aaa-4eb3-ab63-33dff05e0599","name":"S07e_If_Sin_Cambios_Area1"},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"Colaboradores intervals","mode":"name"},"filters":{"conditions":[{"keyName":"NOMBRE","keyValue":"={{ $json.NOMBRE }}"}]},"columns":{"mappingMode":"defineBelow","value":{"AREA":"={{ $json.AREA }}"},"matchingColumns":[],"schema":[{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"AREA","displayName":"AREA","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-2368,3088],"id":"d65ea2c8-0956-4b58-a52b-3d3a76bff198","name":"S07f_Update_Areas1"},{"parameters":{"jsCode":"/*\n  S07g - Sincronizar estado ACTIVO/SHOW desde Intervals (v6)\n*/\n\nfunction limpiar(t) {\n  if (!t) return '';\n  return t.toString()\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n    .toLowerCase()\n    .replace(/[^a-z0-9\\s]/g, '')\n    .trim();\n}\n\nconst tablaItems = $('S07_Get_Tabla1').all();\nconst nombresActivos = $('S07c_Construir_Titles1').first().json.nombresActivos || [];\nconst setActivos = new Set(nombresActivos.map(n => limpiar(n)));\n\nconst aDesactivar = [];\n\nfor (const item of tablaItems) {\n  const row = item.json;\n  if (!row.NOMBRE) continue;\n\n  const estaActivoEnTabla = row.ACTIVO === true || row.ACTIVO === 1 || String(row.ACTIVO).toLowerCase() === 'true';\n  if (!estaActivoEnTabla) continue;\n\n  const keyLimpio = limpiar(row.NOMBRE);\n  if (!setActivos.has(keyLimpio)) {\n    aDesactivar.push({ json: { NOMBRE: row.NOMBRE, ACTIVO: false, SHOW: false }});\n  }\n}\n\nif (aDesactivar.length === 0) return [{ json: { _sinInactivos: true } }];\nreturn aDesactivar;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2208,2976],"id":"3050fc7e-1f97-4710-b068-6f4b212d4471","name":"S07g_Detectar_Inactivos1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"check-sin-inactivos","leftValue":"={{ $json._sinInactivos }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-2016,2976],"id":"57908e0d-555f-4aea-8347-90aebd591083","name":"S07h_If_Sin_Inactivos1"},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"Colaboradores intervals","mode":"name"},"filters":{"conditions":[{"keyName":"NOMBRE","keyValue":"={{ $json.NOMBRE }}"}]},"columns":{"mappingMode":"defineBelow","value":{"ACTIVO":"={{ $json.ACTIVO }}","SHOW":"={{ $json.SHOW }}"},"matchingColumns":[],"schema":[{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ACTIVO","displayName":"ACTIVO","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"SHOW","displayName":"SHOW","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-1872,3120],"id":"2a323b55-1062-4c32-bae6-6645d7273887","name":"S07i_Update_Inactivos1"},{"parameters":{"jsCode":"/*\n  S07g_bis - Detectar reactivados en Intervals\n*/\n\nfunction limpiar(t) {\n  if (!t) return '';\n  return t.toString()\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n    .toLowerCase()\n    .replace(/[^a-z0-9\\s]/g, '')\n    .trim();\n}\n\nconst tablaItems = $('S07_Get_Tabla1').all();\nconst nombresActivos = $('S07c_Construir_Titles1').first().json.nombresActivos || [];\nconst setActivos = new Set(nombresActivos.map(n => limpiar(n)));\n\nconst aReactivar = [];\n\nfor (const item of tablaItems) {\n  const row = item.json;\n  if (!row.NOMBRE) continue;\n\n  const estaInactivoEnTabla = row.ACTIVO === false || row.ACTIVO === 0 || String(row.ACTIVO).toLowerCase() === 'false';\n  if (!estaInactivoEnTabla) continue;\n\n  const keyLimpio = limpiar(row.NOMBRE);\n  if (setActivos.has(keyLimpio)) {\n    aReactivar.push({ json: { NOMBRE: row.NOMBRE, ACTIVO: true, SHOW: true }});\n  }\n}\n\nif (aReactivar.length === 0) return [{ json: { _sinReactivados: true } }];\nreturn aReactivar;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1728,2960],"id":"50f3029e-49a2-450a-b7ee-d1c65184313c","name":"S07g_bis_Detectar_Reactivados1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"check-sin-reactivados","leftValue":"={{ $json._sinReactivados }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1520,2960],"id":"3e8dc552-6c96-4a99-8e4a-c293667a8bac","name":"S07h_bis_If_Sin_Reactivados1"},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"Colaboradores intervals","mode":"name"},"filters":{"conditions":[{"keyName":"NOMBRE","keyValue":"={{ $json.NOMBRE }}"}]},"columns":{"mappingMode":"defineBelow","value":{"ACTIVO":"={{ $json.ACTIVO }}","SHOW":"={{ $json.SHOW }}"},"matchingColumns":[],"schema":[{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ACTIVO","displayName":"ACTIVO","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"SHOW","displayName":"SHOW","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-1376,3120],"id":"5618009e-3715-42c4-91fa-d9f3b3ac20a2","name":"S07i_bis_Update_Reactivados1"},{"parameters":{"jsCode":"/*\n  S08 - Detectar Nuevos Colaboradores (v6)\n*/\n\nconst tablaItems = $('S07_Get_Tabla1').all();\nconst apiData    = $('S03_Llamar_API_Intervals1').first().json;\nconst s07c       = $('S07c_Construir_Titles1').first().json;\n\nconst titlesDistinct         = s07c.titlesDistinct || [];\nconst titlesDistinct_limpios = titlesDistinct.map(t => limpiar(t));\nconst titlePorNombre         = s07c.titlePorNombre || {};\n\nconst registros = (apiData.time || []).map(r => ({ ...r, person: decodeHtml(r.person) }));\n\nfunction decodeHtml(str) {\n  if (!str) return '';\n  return str\n    .replace(/&aacute;/g, 'á').replace(/&eacute;/g, 'é')\n    .replace(/&iacute;/g, 'í').replace(/&oacute;/g, 'ó')\n    .replace(/&uacute;/g, 'ú').replace(/&Aacute;/g, 'Á')\n    .replace(/&Eacute;/g, 'É').replace(/&Iacute;/g, 'Í')\n    .replace(/&Oacute;/g, 'Ó').replace(/&Uacute;/g, 'Ú')\n    .replace(/&ntilde;/g, 'ñ').replace(/&Ntilde;/g, 'Ñ')\n    .replace(/&uuml;/g, 'ü').replace(/&amp;/g, '&');\n}\n\nfunction limpiar(t) {\n  if (!t) return '';\n  return t.toString()\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n    .toLowerCase()\n    .replace(/[^a-z0-9\\s]/g, '')\n    .trim();\n}\n\nconst nombresEnTabla = new Set(tablaItems.map(i => limpiar(i.json.NOMBRE)));\n\nconst personasAPI = {};\nfor (const r of registros) {\n  const key = limpiar(r.person);\n  if (!key) continue;\n  if (!personasAPI[key]) {\n    personasAPI[key] = { nombreOriginal: r.person, fechaInicio: r.date };\n  } else {\n    if (r.date < personasAPI[key].fechaInicio) personasAPI[key].fechaInicio = r.date;\n  }\n}\n\nconst nuevos = [];\nfor (const [keyLimpio, datos] of Object.entries(personasAPI)) {\n  const esActivoEnIntervals = titlePorNombre.hasOwnProperty(keyLimpio);\n  if (!nombresEnTabla.has(keyLimpio) && esActivoEnIntervals) {\n    const titleRaw = titlePorNombre[keyLimpio];\n    let areaFinal;\n    if (!titleRaw || titleRaw.length === 0) {\n      areaFinal = 'Favor actualizar';\n    } else if (!titlesDistinct_limpios.includes(limpiar(titleRaw))) {\n      areaFinal = 'Área desconocida';\n    } else {\n      areaFinal = titleRaw;\n    }\n    nuevos.push({ json: { NOMBRE: datos.nombreOriginal, AREA: areaFinal, ACTIVO: true, SHOW: true, NEW_COLAB: true, FECHA_INICIO: datos.fechaInicio }});\n  }\n}\n\nif (nuevos.length === 0) return [{ json: { _sinNuevos: true } }];\nreturn nuevos;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1232,2944],"id":"afc4614c-205a-44c7-84e4-103e2c8671b2","name":"S08_Detectar_Nuevos1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"check-sin-nuevos","leftValue":"={{ $json._sinNuevos }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1040,2944],"id":"54655123-8fa8-4ef1-8b2b-879b51bf3b37","name":"S09_If_Sin_Nuevos1"},{"parameters":{"dataTableId":{"__rl":true,"value":"Colaboradores intervals","mode":"name"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-896,3104],"id":"29a5b266-21c9-41a1-902e-112e15dddb4e","name":"S10_Insert_Nuevos1"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"Colaboradores intervals","mode":"name"}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-752,2928],"id":"5218d3cb-11bb-46d8-95e8-0762a33f2135","name":"S11_Get_Tabla_Actualizada1"},{"parameters":{"jsCode":"function diasHabiles(desde, hasta) {\n  let count = 0;\n  const d = new Date(desde);\n  while (d <= hasta) {\n    const dia = d.getDay();\n    if (dia >= 1 && dia <= 5) count++;\n    d.setDate(d.getDate() + 1);\n  }\n  return count;\n}\n\nconst periodo = $('S02_Calcular_Periodo1').first().json;\nconst fechaFin = new Date(periodo.fechaFinPeriodo);\n\nconst aGraduar = [];\nfor (const item of $input.all()) {\n  const row = item.json;\n  if (!row.NOMBRE) continue;\n  const esNuevo = row.NEW_COLAB === true || row.NEW_COLAB === 1 || String(row.NEW_COLAB).toLowerCase() === 'true';\n  if (!esNuevo || !row.FECHA_INICIO) continue;\n  const fechaInicio = new Date(row.FECHA_INICIO.split('T')[0]);\n  if (diasHabiles(fechaInicio, fechaFin) >= 30) {\n    aGraduar.push({ json: { NOMBRE: row.NOMBRE } });\n  }\n}\n\nif (aGraduar.length === 0) return [{ json: { _sinGraduados: true } }];\nreturn aGraduar;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-672,3136],"id":"ed18f54b-61a2-4b3b-b589-acce583077d8","name":"S12_Detectar_Graduados1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"check-sin-graduados","leftValue":"={{ $json._sinGraduados }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-2352,3360],"id":"a3d631c7-999e-4797-89a4-bf5f3859825d","name":"S13_If_Sin_Graduados1"},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"Colaboradores intervals","mode":"name"},"filters":{"conditions":[{"keyName":"NOMBRE","keyValue":"={{ $json.NOMBRE }}"}]},"columns":{"mappingMode":"defineBelow","value":{"NEW_COLAB":false,"FECHA_INICIO":"=empty"},"matchingColumns":[],"schema":[{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"FECHA_INICIO","displayName":"FECHA_INICIO","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"SHOW","displayName":"SHOW","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"NEW_COLAB","displayName":"NEW_COLAB","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"ACTIVO","displayName":"ACTIVO","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-2192,3472],"id":"9e1bb80b-000a-433c-a88f-c9aec002d770","name":"S14_Graduar_En_Tabla1"},{"parameters":{"jsCode":"return [{ json: { _syncCompletada: true, timestamp: new Date().toISOString() } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2032,3344],"id":"ae4d4cf0-6716-4a17-812b-feb1a38d1fa8","name":"S15_Fin_Sync1"},{"parameters":{"jsCode":"const periodo = $('S02_Calcular_Periodo1').first().json;\nconst fechaInicio = new Date(periodo.fechaInicioPeriodo);\nconst fechaFin    = new Date(periodo.fechaFinPeriodo);\n\nlet horasTotales = 0;\nfor (let d = new Date(fechaInicio); d <= fechaFin; d.setDate(d.getDate() + 1)) {\n  const dia = d.getDay();\n  if (dia >= 1 && dia <= 4) horasTotales += 8;\n  else if (dia === 5) horasTotales += 6.5;\n}\n\nreturn [{\n  json: {\n    fechaInicio: periodo.fechaInicioPeriodo,\n    fechaFin: periodo.fechaFinPeriodo,\n    horasEsperadasPeriodo: Math.round(horasTotales * 10) / 10\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1840,3344],"id":"c83c70ca-c794-4250-85d3-c6e449133c06","name":"R03_Calcular_Horas_Base1"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"Colaboradores intervals","mode":"name"}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-1632,3344],"id":"17ec4470-af32-4f92-9f2d-6a650d405a54","name":"R08_Get_Tabla1"},{"parameters":{"jsCode":"const tablaItems = $input.all();\nconst apiData    = $('S03_Llamar_API_Intervals1').first().json;\nconst periodoItem = $('R03_Calcular_Horas_Base1').first().json;\nconst varItem    = $('S01_Variables_Globales1').first().json;\n\nconst registros = (apiData.time || []).map(r => ({ ...r, person: decodeHtml(r.person) }));\n\nconst horasGlobales  = Number(periodoItem.horasEsperadasPeriodo);\nconst fechaInicio    = periodoItem.fechaInicio;\nconst fechaFin       = periodoItem.fechaFin;\nconst fechaEjecucion = varItem.fechaEjecucion;\nconst anioActual     = varItem.anioActual;\nconst diasObjetivo   = varItem.diasObjetivo;\n\nconst fi = new Date(fechaInicio);\nconst ff = new Date(fechaFin);\n\nfunction decodeHtml(str) {\n  if (!str) return '';\n  return str\n    .replace(/&aacute;/g, 'á').replace(/&eacute;/g, 'é')\n    .replace(/&iacute;/g, 'í').replace(/&oacute;/g, 'ó')\n    .replace(/&uacute;/g, 'ú').replace(/&Aacute;/g, 'Á')\n    .replace(/&Eacute;/g, 'É').replace(/&Iacute;/g, 'Í')\n    .replace(/&Oacute;/g, 'Ó').replace(/&Uacute;/g, 'Ú')\n    .replace(/&ntilde;/g, 'ñ').replace(/&Ntilde;/g, 'Ñ')\n    .replace(/&uuml;/g, 'ü').replace(/&amp;/g, '&');\n}\n\nfunction limpiar(t) {\n  if (!t) return '';\n  return t.toString()\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n    .toLowerCase()\n    .replace(/[^a-z0-9\\s]/g, '')\n    .trim();\n}\n\nfunction primPalabras(nombre, n) {\n  return nombre.split(/\\s+/).slice(0, n).join(' ');\n}\n\nconst consolidado = {};\n\nfor (const item of tablaItems) {\n  const row = item.json;\n  if (!row.NOMBRE) continue;\n  const esActivo      = row.ACTIVO === true || row.ACTIVO === 1 || String(row.ACTIVO).toLowerCase() === 'true';\n  const debeMostrarse = row.SHOW   === true || row.SHOW   === 1 || String(row.SHOW).toLowerCase()   === 'true';\n  const esNuevo       = row.NEW_COLAB === true || row.NEW_COLAB === 1 || String(row.NEW_COLAB).toLowerCase() === 'true';\n  if (!esActivo || !debeMostrarse) continue;\n\n  let horasEsperadas = horasGlobales;\n  if (esNuevo && row.FECHA_INICIO) {\n    const inicioColab    = new Date(row.FECHA_INICIO.split('T')[0]);\n    const inicioEfectivo = inicioColab > fi ? inicioColab : fi;\n    let horasP = 0;\n    for (let d = new Date(inicioEfectivo); d <= ff; d.setDate(d.getDate() + 1)) {\n      const dia = d.getDay();\n      if (dia >= 1 && dia <= 4) horasP += 8;\n      else if (dia === 5) horasP += 6.5;\n    }\n    horasEsperadas = Math.round(horasP * 10) / 10;\n  }\n\n  const nLimpio = limpiar(row.NOMBRE);\n  consolidado[nLimpio] = {\n    Nombre: row.NOMBRE, NOMBRE: row.NOMBRE, NombreLimpio: nLimpio,\n    AREA: row.AREA || 'Sin Área', NEW_COLAB: esNuevo, ACTIVO: esActivo,\n    FECHA_INICIO: row.FECHA_INICIO ? row.FECHA_INICIO.split('T')[0] : null,\n    horasIngresadas: 0, horasEsperadas,\n    _horasGlobales: horasGlobales, _fechaInicio: fechaInicio,\n    _fechaFin: fechaFin, _fechaEjecucion: fechaEjecucion,\n    _anioActual: anioActual, _diasObjetivo: diasObjetivo\n  };\n}\n\nfor (const r of registros) {\n  const nAPI = limpiar(r.person);\n  let matched = false;\n  for (const key in consolidado) {\n    if (nAPI === consolidado[key].NombreLimpio) {\n      consolidado[key].horasIngresadas += Number(r.time || 0);\n      matched = true; break;\n    }\n  }\n  if (!matched) {\n    const api3 = primPalabras(nAPI, 3);\n    if (api3.length > 3) {\n      for (const key in consolidado) {\n        if (api3 === primPalabras(consolidado[key].NombreLimpio, 3)) {\n          consolidado[key].horasIngresadas += Number(r.time || 0); break;\n        }\n      }\n    }\n  }\n}\n\nreturn Object.values(consolidado).map(p => ({ json: p }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1408,3344],"id":"c1517046-0606-4f31-a8ca-fc2d41d5ba2b","name":"R09_Consolidar_Datos1"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const c = $json;\nconst ing  = Math.round(Number(c.horasIngresadas) * 10) / 10;\nconst esp  = Number(c.horasEsperadas);\nconst dif  = Math.round((ing - esp) * 10) / 10;\nconst porc = esp > 0 ? Math.min(Math.floor((ing / esp) * 100), 100) : 0;\n\nlet est = '❌ Atrasado';\nif (porc >= 95) est = '✅ Al día';\nelse if (porc >= 85) est = '⚠️ Pendiente';\n\nreturn {\n  ...c,\n  horasEsperadas: esp, horasIngresadas: ing, diferencia: dif,\n  porcentaje: porc, estado: est,\n  semanasPendientes: porc < 100 ? Math.round((dif / 38.5) * 10) / 10 : 0\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1200,3344],"id":"4a731ab6-a190-4134-8571-69ff9d213a5c","name":"R10_Calculos_Finales1"},{"parameters":{"jsCode":"const datos = $input.all().sort((a, b) => Number(b.json.porcentaje) - Number(a.json.porcentaje));\n\nconst sample = datos[0]?.json || {};\nconst anioActual            = sample._anioActual || new Date().getFullYear();\nconst periodoInicio         = sample._fechaInicio || '';\nconst periodoFin            = sample._fechaFin || '';\nconst diasLaborables        = sample._diasObjetivo || 20;\nconst horasEsperadasPeriodo = sample._horasGlobales || 0;\nconst totalColaboradores    = datos.length;\nconst alDia      = datos.filter(i => i.json.estado === '✅ Al día').length;\nconst pendientes = datos.filter(i => i.json.estado === '⚠️ Pendiente').length;\nconst atrasados  = datos.filter(i => i.json.estado === '❌ Atrasado').length;\n\nfunction esNuevoColab(d) {\n  const v = d.json.NEW_COLAB;\n  return v === true || v === 1 || String(v).toLowerCase() === 'true';\n}\n\nconst normales      = datos.filter(d => !esNuevoColab(d));\nconst reciénIngreso = datos.filter(d => esNuevoColab(d));\n\nfunction fmt(n) {\n  const r = Math.round(Number(n) * 10) / 10;\n  return Number.isInteger(r) ? r.toString() : r.toFixed(1);\n}\n\nfunction buildRow(d) {\n  const cf = d.json.estado === '✅ Al día'    ? '#C9D6CC'\n           : d.json.estado === '⚠️ Pendiente' ? '#E8DFC7'\n           : '#F4CCCC';\n  const cb = d.json.estado === '✅ Al día'    ? '#8BA88F'\n           : d.json.estado === '⚠️ Pendiente' ? '#D4BC8E'\n           : '#E89A9A';\n  const ing         = Math.round(Number(d.json.horasIngresadas) * 10) / 10;\n  const dif         = d.json.diferencia;\n  const difDisplay  = fmt(Math.abs(dif));\n  const porc        = d.json.porcentaje;\n  const porcDisplay = `${porc}%`;\n  const area        = d.json.AREA || 'N/A';\n  let areaDisplay   = area;\n  if (area === 'Favor actualizar')  areaDisplay = `<em style=\"color:#B8860B;font-weight:bold;\">Favor actualizar</em>`;\n  if (area === 'Área desconocida')  areaDisplay = `<em style=\"color:#CC0000;font-weight:bold;\">Área desconocida</em>`;\n  const tdStyle = `padding:4px 2px;height:20px;line-height:20px;border:1px solid ${cb};text-align:center;`;\n  return `<tr>\n    <td valign=\"middle\" bgcolor=\"${cf}\" style=\"${tdStyle}\">${areaDisplay}</td>\n    <td valign=\"middle\" bgcolor=\"${cf}\" style=\"${tdStyle}\"><strong>${d.json.Nombre}</strong></td>\n    <td valign=\"middle\" bgcolor=\"${cf}\" style=\"${tdStyle}\"><strong>${fmt(ing)}</strong></td>\n    <td valign=\"middle\" bgcolor=\"${cf}\" style=\"${tdStyle}\"><strong>${fmt(d.json.horasEsperadas)}</strong></td>\n    <td valign=\"middle\" bgcolor=\"${cf}\" style=\"${tdStyle}\">${difDisplay}</td>\n    <td valign=\"middle\" bgcolor=\"${cf}\" style=\"${tdStyle}\">${porcDisplay}</td>\n    <td valign=\"middle\" bgcolor=\"${cf}\" style=\"${tdStyle}\"><strong>${d.json.estado}</strong></td>\n    <td valign=\"middle\" bgcolor=\"${cf}\" style=\"${tdStyle}\">${fmt(d.json.semanasPendientes || 0)}</td>\n  </tr>`;\n}\n\nfunction buildTable(filas) {\n  return `<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"1\" bordercolor=\"#5838A3\" style=\"width:100%;max-width:900px;border-collapse:collapse;font-size:12px;text-align:center;\">\n<colgroup><col style=\"width:14%\"><col style=\"width:20%\"><col style=\"width:12%\"><col style=\"width:12%\"><col style=\"width:10%\"><col style=\"width:10%\"><col style=\"width:13%\"><col style=\"width:9%\"></colgroup>\n<thead><tr>\n  <th valign=\"middle\" bgcolor=\"#7049BC\" style=\"border:1px solid #5838A3;color:#fff;padding:2px;\">Área</th>\n  <th valign=\"middle\" bgcolor=\"#7049BC\" style=\"border:1px solid #5838A3;color:#fff;padding:2px;\">Colaborador</th>\n  <th valign=\"middle\" bgcolor=\"#7049BC\" style=\"border:1px solid #5838A3;color:#fff;padding:2px;\">Horas Ingresadas</th>\n  <th valign=\"middle\" bgcolor=\"#7049BC\" style=\"border:1px solid #5838A3;color:#fff;padding:2px;\">Horas Esperadas</th>\n  <th valign=\"middle\" bgcolor=\"#7049BC\" style=\"border:1px solid #5838A3;color:#fff;padding:2px;\">Diferencia</th>\n  <th valign=\"middle\" bgcolor=\"#7049BC\" style=\"border:1px solid #5838A3;color:#fff;padding:2px;\">Porcentaje</th>\n  <th valign=\"middle\" bgcolor=\"#7049BC\" style=\"border:1px solid #5838A3;color:#fff;padding:2px;\">Estado</th>\n  <th valign=\"middle\" bgcolor=\"#7049BC\" style=\"border:1px solid #5838A3;color:#fff;padding:2px;\">Semanas Pendientes</th>\n</tr></thead>\n<tbody>${filas.map(buildRow).join('')}</tbody></table>`;\n}\n\nconst totalReciénIngreso = reciénIngreso.length;\nconst htmlCompleto = `<!DOCTYPE html><html><head><meta charset=\"UTF-8\"></head>\n<body style=\"margin:0;padding:8px 10px;font-family:Arial,APTOS,sans-serif;font-size:12px;\">\n<h2 style=\"color:#7049BC;font-size:16px;margin:0;font-weight:bold;\">Reporte de Horas – Año ${anioActual}</h2>\n<p style=\"margin:8px 0;\">Estimad@s, esperamos que este mensaje les encuentre bien:</p>\n<p style=\"margin:8px 0;\">Como formalidad semanal, se comparte el reporte de ingreso de horas correspondiente al período entre las fechas: <strong>${periodoInicio} al ${periodoFin}</strong>.</p>\n<p style=\"margin:12px 0;\"><span style=\"display:inline-block;background:#5CDB82;padding:10px;color:#000;\"><strong>Nota:</strong> al momento de registrar las horas y su respectiva descripción, se solicita no utilizar signos especiales (como \", &amp;, %, entre otros), ya que estos afectan la reportería.</span></p>\n${buildTable(normales)}\n${reciénIngreso.length > 0 ? `<p style=\"color:#7049BC;font-size:14px;margin-top:24px;margin-bottom:8px;font-weight:bold;\">Nuevos Colaboradores - Reintegración</p>${buildTable(reciénIngreso)}` : ''}\n<p style=\"color:#7049BC;font-weight:bold;margin-top:18px;font-size:14px;\">Alcances del Reporte:</p>\n<ul style=\"margin:0;padding-left:18px;\">\n  <li>Fecha inicio: <strong>${periodoInicio}</strong></li><li>Fecha fin: <strong>${periodoFin}</strong></li>\n  <li>Días hábiles considerados: <strong>${diasLaborables}</strong></li>\n  <li>Horas contabilizadas en el período: <strong>${horasEsperadasPeriodo}</strong></li>\n  <li>Total colaboradores: <strong>${totalColaboradores}</strong></li>\n  <li>Colaboradores de reciente ingreso: <strong>${totalReciénIngreso}</strong></li>\n  <li>Colaboradores al día: <strong>${alDia}</strong></li>\n  <li>Colaboradores pendientes: <strong>${pendientes}</strong></li>\n  <li>Colaboradores atrasados: <strong>${atrasados}</strong></li>\n</ul>\n<p style=\"margin-top:16px;\">Frente a dudas, consultas o validación de métricas, comunicarse directamente con el <strong>área de control de gestión</strong>.</p>\n<p style=\"margin-top:14px;\">Saludos cordiales.<br>Equipo de Infraestructura.</p>\n</body></html>`;\n\nreturn [{ json: { htmlContent: htmlCompleto } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-992,3344],"id":"ab42c9e7-2ae1-4c38-a6c7-abb73e1de9c0","name":"R11_Generar_HTML1"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"remitentes\": \"ayelpi@dl.cl, cchavez@dl.cl, svidal@dl.cl, jsilva@dl.cl, jvaldesh@dl.cl, jdelaspozas@dl.cl\",\n  \"cc\": \"\"\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2640,2560],"id":"23d51c04-1c37-4c5e-a74f-b06d8b4ee5c9","name":"emails_test"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"remitentes\": \"svasquez@dl.cl, csoto@dl.cl, rruizb@dl.cl, frojas@dl.cl, vvillagran@dl.cl, dgomez@dl.cl, jtapia@dl.cl, ycalvaire@dl.cl, jdelaspozas@dl.cl, rretamal@dl.cl, fgonzalez@dl.cl, alanda@dl.cl, cgajardo@dl.cl, cmartinez@dl.cl, jtleyva@dl.cl, eromero@dl.cl, jvaldesh@dl.cl, aormazabal@dl.cl, dcontador@dl.cl, ofuentes@dl.cl, ayelpi@dl.cl, egraterol@dl.cl, ggonzalez@dl.cl, jsilva@dl.cl, eramirez@dl.cl, asaavedra@dl.cl, mjvega@dl.cl, gsalgado@dl.cl, molmedo@dl.cl, onoa@dl.cl, aechemendia@dl.cl, aaravena@dl.cl\",\n  \"cc\": \"ymartinez@dl.cl, cchavez@dl.cl, tsuarez@dl.cl, hrivas@dl.cl, svidal@dl.cl\"\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2640,2784],"id":"26170a40-c5a7-439f-9839-90ae4fdd3fd7","name":"emails_12"},{"parameters":{"fromEmail":"info@n8n.notificadl.cl","toEmail":"={{ $('S01_Variables_Globales1').first().json.remitentes }}","ccEmail":"={{ $('S01_Variables_Globales1').first().json.cc }}","subject":"Reporte de Horas de Colaboradores de Intervals","html":"={{$json.htmlContent}}"},"type":"n8n-nodes-base.mailgun","typeVersion":1,"position":[-800,3344],"id":"c9ddbf1c-5887-484d-8af9-e6df7a815fea","name":"R12_Mailgun_Send1","credentials":{"mailgunApi":{"id":"jXQjjlGEuBBpD3Wo","name":"Mailgun account 4"}}},{"parameters":{"content":"Traer personas activas: true","height":80,"width":208},"type":"n8n-nodes-base.stickyNote","position":[-1376,2544],"typeVersion":1,"id":"ca506c83-a16b-48f3-aaeb-0200b1583b22","name":"Sticky Note"},{"parameters":{"content":"Construye lista de titles válidos (cargo/área con ≥2 personas). Genera mapa nombre → title y lista de nombres activos","height":112},"type":"n8n-nodes-base.stickyNote","position":[-1136,2576],"typeVersion":1,"id":"add8bc5c-15d8-4d61-9c1e-0f71248ce1cc","name":"Sticky Note1"},{"parameters":{"content":"Compara ÁREA en la tabla vs title en Intervals. Detecta cambios → lista de {NOMBRE, AREA} a actualizar","height":96},"type":"n8n-nodes-base.stickyNote","position":[-864,2640],"typeVersion":1,"id":"573dc1ba-b929-414f-b6e6-f3587acc9534","name":"Sticky Note2"},{"parameters":{"content":"Proceso de actualiación en BD para actualizaciones de 'Área, activo o no, nuevos, graduados etc..'"},"type":"n8n-nodes-base.stickyNote","position":[-2672,3168],"typeVersion":1,"id":"29cd2ec2-f3b8-418b-9ad4-0937db987fe5","name":"Sticky Note3"},{"parameters":{"content":"Final de la sincronización y armado de últimos alcances para generar el correo","height":80},"type":"n8n-nodes-base.stickyNote","position":[-1984,3504],"typeVersion":1,"id":"1aa35afd-c77c-4de8-a6bc-9543e6e87798","name":"Sticky Note4"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0 12 * * 5"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-2832,2784],"id":"3c5d0d85-3a4e-46a8-98ea-0332c3d51e2b","name":"Cron semanal"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0 9 * * 5"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-2832,2560],"id":"82551b4d-5173-4f0d-9f4d-7729a2ab3822","name":"Cron semanal(TEST)"}],"connections":{"Cron semanal(TEST)":{"main":[[{"node":"emails_test","type":"main","index":0}]]},"Cron semanal":{"main":[[{"node":"emails_12","type":"main","index":0}]]},"emails_test":{"main":[[{"node":"S01_Variables_Globales1","type":"main","index":0}]]},"emails_12":{"main":[[{"node":"S01_Variables_Globales1","type":"main","index":0}]]},"S01_Variables_Globales1":{"main":[[{"node":"S02_Calcular_Periodo1","type":"main","index":0}]]},"S02_Calcular_Periodo1":{"main":[[{"node":"S03_Llamar_API_Intervals1","type":"main","index":0}]]},"S03_Llamar_API_Intervals1":{"main":[[{"node":"S04_If_API_OK1","type":"main","index":0}]]},"S04_If_API_OK1":{"main":[[{"node":"S07_Get_Tabla1","type":"main","index":0}],[{"node":"S05_Error_Mail_Sync1","type":"main","index":0}]]},"S05_Error_Mail_Sync1":{"main":[[{"node":"S06_Stop_Sync1","type":"main","index":0}]]},"S07_Get_Tabla1":{"main":[[{"node":"S07b_Get_Persons_API","type":"main","index":0}]]},"S07b_Get_Persons_API":{"main":[[{"node":"S07c_Construir_Titles1","type":"main","index":0}]]},"S07c_Construir_Titles1":{"main":[[{"node":"S07d_Sincronizar_Areas1","type":"main","index":0}]]},"S07d_Sincronizar_Areas1":{"main":[[{"node":"S07e_If_Sin_Cambios_Area1","type":"main","index":0}]]},"S07e_If_Sin_Cambios_Area1":{"main":[[{"node":"S07g_Detectar_Inactivos1","type":"main","index":0}],[{"node":"S07f_Update_Areas1","type":"main","index":0}]]},"S07f_Update_Areas1":{"main":[[{"node":"S07g_Detectar_Inactivos1","type":"main","index":0}]]},"S07g_Detectar_Inactivos1":{"main":[[{"node":"S07h_If_Sin_Inactivos1","type":"main","index":0}]]},"S07h_If_Sin_Inactivos1":{"main":[[{"node":"S07g_bis_Detectar_Reactivados1","type":"main","index":0}],[{"node":"S07i_Update_Inactivos1","type":"main","index":0}]]},"S07i_Update_Inactivos1":{"main":[[{"node":"S07g_bis_Detectar_Reactivados1","type":"main","index":0}]]},"S07g_bis_Detectar_Reactivados1":{"main":[[{"node":"S07h_bis_If_Sin_Reactivados1","type":"main","index":0}]]},"S07h_bis_If_Sin_Reactivados1":{"main":[[{"node":"S08_Detectar_Nuevos1","type":"main","index":0}],[{"node":"S07i_bis_Update_Reactivados1","type":"main","index":0}]]},"S07i_bis_Update_Reactivados1":{"main":[[{"node":"S08_Detectar_Nuevos1","type":"main","index":0}]]},"S08_Detectar_Nuevos1":{"main":[[{"node":"S09_If_Sin_Nuevos1","type":"main","index":0}]]},"S09_If_Sin_Nuevos1":{"main":[[{"node":"S11_Get_Tabla_Actualizada1","type":"main","index":0}],[{"node":"S10_Insert_Nuevos1","type":"main","index":0}]]},"S10_Insert_Nuevos1":{"main":[[{"node":"S11_Get_Tabla_Actualizada1","type":"main","index":0}]]},"S11_Get_Tabla_Actualizada1":{"main":[[{"node":"S12_Detectar_Graduados1","type":"main","index":0}]]},"S12_Detectar_Graduados1":{"main":[[{"node":"S13_If_Sin_Graduados1","type":"main","index":0}]]},"S13_If_Sin_Graduados1":{"main":[[{"node":"S15_Fin_Sync1","type":"main","index":0}],[{"node":"S14_Graduar_En_Tabla1","type":"main","index":0}]]},"S14_Graduar_En_Tabla1":{"main":[[{"node":"S15_Fin_Sync1","type":"main","index":0}]]},"S15_Fin_Sync1":{"main":[[{"node":"R03_Calcular_Horas_Base1","type":"main","index":0}]]},"R03_Calcular_Horas_Base1":{"main":[[{"node":"R08_Get_Tabla1","type":"main","index":0}]]},"R08_Get_Tabla1":{"main":[[{"node":"R09_Consolidar_Datos1","type":"main","index":0}]]},"R09_Consolidar_Datos1":{"main":[[{"node":"R10_Calculos_Finales1","type":"main","index":0}]]},"R10_Calculos_Finales1":{"main":[[{"node":"R11_Generar_HTML1","type":"main","index":0}]]},"R11_Generar_HTML1":{"main":[[{"node":"R12_Mailgun_Send1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","timezone":"America/Santiago","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Cron semanal":{"recurrenceRules":[]},"node:Cron semanal(TEST)":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"ab69aeb4-b0a0-4eb9-b2bd-da075b880a7a","activeVersionId":"ab69aeb4-b0a0-4eb9-b2bd-da075b880a7a","triggerCount":2,"shared":[{"updatedAt":"2026-03-02T17:21:25.489Z","createdAt":"2026-03-02T17:21:25.489Z","role":"workflow:owner","workflowId":"VCLugZ9WGl54_1wrs4dth","projectId":"iYcETjaBCKTmmaOx"}],"activeVersion":{"updatedAt":"2026-03-27T15:13:14.397Z","createdAt":"2026-03-27T15:12:55.329Z","versionId":"ab69aeb4-b0a0-4eb9-b2bd-da075b880a7a","workflowId":"VCLugZ9WGl54_1wrs4dth","nodes":[{"parameters":{"jsCode":"const hoy = new Date();\nconst input = $input.first().json; // toma remitentes y cc\n\nreturn [{\n  json: {\n    fechaEjecucion: hoy.toISOString().split('T')[0],\n    anioActual: hoy.getFullYear(),\n    diasObjetivo: 30,\n    remitentes: input.remitentes,  \n    cc: input.cc                  \n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2416,2624],"id":"c87f15a2-dd5c-47d5-a816-a615bda9ce8e","name":"S01_Variables_Globales1"},{"parameters":{"jsCode":"const repo = $('S01_Variables_Globales1').first().json;\nconst hoy = new Date(repo.fechaEjecucion);\n\nlet fechaFin = new Date(hoy);\nfechaFin.setDate(fechaFin.getDate() - 1);\nwhile (fechaFin.getDay() === 0 || fechaFin.getDay() === 6) {\n  fechaFin.setDate(fechaFin.getDate() - 1);\n}\n\nlet contador = 1;\nlet fechaInicio = new Date(fechaFin);\nwhile (contador < repo.diasObjetivo) {\n  fechaInicio.setDate(fechaInicio.getDate() - 1);\n  const dia = fechaInicio.getDay();\n  if (dia >= 1 && dia <= 5) contador++;\n}\n\nreturn [{\n  json: {\n    fechaInicioPeriodo: fechaInicio.toISOString().split('T')[0],\n    fechaFinPeriodo: fechaFin.toISOString().split('T')[0]\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2208,2624],"id":"ac44e6f7-c601-40b9-9d98-85cc3c1b0331","name":"S02_Calcular_Periodo1"},{"parameters":{"url":"=https://api.myintervals.com/time/?datebegin={{ $('S02_Calcular_Periodo1').first().json.fechaInicioPeriodo }}&dateend={{ $('S02_Calcular_Periodo1').first().json.fechaFinPeriodo }}&limit=5000","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2016,2624],"id":"a66e8242-015b-4745-883d-3c0fc9baa2ed","name":"S03_Llamar_API_Intervals1","credentials":{"httpBasicAuth":{"id":"hd5ZkGI3m1uNQVbw","name":"intervals"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"check-api-ok-sync","leftValue":"={{ Array.isArray($json.time) && $json.time.length > 0 }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1840,2624],"id":"fda2c49d-a4b6-4e25-98be-f3b902f37b82","name":"S04_If_API_OK1"},{"parameters":{"fromEmail":"info@n8n.notificadl.cl","toEmail":"jsilva@dl.cl","subject":"⚠️ ERROR - Sync tabla fallida (API sin respuesta)","html":"La API de Intervals no devolvió datos. La tabla NO fue actualizada. El reporte de las 13:00 podría estar desactualizado."},"type":"n8n-nodes-base.mailgun","typeVersion":1,"position":[-1680,2784],"id":"8ea5b838-bd33-432b-b30a-ae2b3b6f8cb3","name":"S05_Error_Mail_Sync1","credentials":{"mailgunApi":{"id":"jXQjjlGEuBBpD3Wo","name":"Mailgun account 4"}}},{"parameters":{"errorMessage":"Sync: API Intervals sin respuesta"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[-1504,2784],"id":"c1dacd68-872b-484a-b0b9-4f6d67b6b951","name":"S06_Stop_Sync1"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"Colaboradores intervals","mode":"name"}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-1536,2608],"id":"135cf8fc-2e8b-42ca-b9dd-1f2d2762e224","name":"S07_Get_Tabla1"},{"parameters":{"url":"https://api.myintervals.com/person/?active=true&limit=500","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1328,2640],"id":"17963b24-5806-4697-a715-0a167a99669c","name":"S07b_Get_Persons_API","credentials":{"httpBasicAuth":{"id":"hd5ZkGI3m1uNQVbw","name":"intervals"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"/*\n  S07c - Construir lista dinámica de titles válidos (v6)\n*/\n\nfunction decodeHtml(str) {\n  if (!str) return '';\n  return str\n    .replace(/&aacute;/g, 'á').replace(/&eacute;/g, 'é')\n    .replace(/&iacute;/g, 'í').replace(/&oacute;/g, 'ó')\n    .replace(/&uacute;/g, 'ú').replace(/&Aacute;/g, 'Á')\n    .replace(/&Eacute;/g, 'É').replace(/&Iacute;/g, 'Í')\n    .replace(/&Oacute;/g, 'Ó').replace(/&Uacute;/g, 'Ú')\n    .replace(/&ntilde;/g, 'ñ').replace(/&Ntilde;/g, 'Ñ')\n    .replace(/&uuml;/g, 'ü').replace(/&amp;/g, '&');\n}\n\nfunction limpiar(t) {\n  if (!t) return '';\n  return t.toString()\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n    .toLowerCase()\n    .replace(/[^a-z0-9\\s]/g, '')\n    .trim();\n}\n\nconst personsData = $('S07b_Get_Persons_API').first().json;\nconst personsList = personsData.person || [];\n\nconst conteo = {};\nfor (const p of personsList) {\n  const title = decodeHtml((p.title || '').trim());\n  if (!title) continue;\n  conteo[title] = (conteo[title] || 0) + 1;\n}\n\nconst titlesDistinct = Object.entries(conteo)\n  .filter(([_, count]) => count >= 2)\n  .map(([title]) => title);\n\nconst titlePorNombre = {};\nfor (const p of personsList) {\n  const nombreCompleto = decodeHtml(`${p.firstname || ''} ${p.lastname || ''}`).trim();\n  const key = limpiar(nombreCompleto);\n  if (key) {\n    titlePorNombre[key] = decodeHtml((p.title || '').trim());\n  }\n}\n\nconst nombresActivos = Object.keys(titlePorNombre);\n\nreturn [{ json: { titlesDistinct, titlePorNombre, nombresActivos } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1120,2704],"id":"bb813c86-438f-4981-a5c9-19e9e1018fc8","name":"S07c_Construir_Titles1"},{"parameters":{"jsCode":"/*\n  S07d - Sincronizar AREA de colaboradores existentes (v6)\n*/\n\nfunction decodeHtml(str) {\n  if (!str) return '';\n  return str\n    .replace(/&aacute;/g, 'á').replace(/&eacute;/g, 'é')\n    .replace(/&iacute;/g, 'í').replace(/&oacute;/g, 'ó')\n    .replace(/&uacute;/g, 'ú').replace(/&Aacute;/g, 'Á')\n    .replace(/&Eacute;/g, 'É').replace(/&Iacute;/g, 'Í')\n    .replace(/&Oacute;/g, 'Ó').replace(/&Uacute;/g, 'Ú')\n    .replace(/&ntilde;/g, 'ñ').replace(/&Ntilde;/g, 'Ñ')\n    .replace(/&uuml;/g, 'ü').replace(/&amp;/g, '&');\n}\n\nfunction limpiar(t) {\n  if (!t) return '';\n  return t.toString()\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n    .toLowerCase()\n    .replace(/[^a-z0-9\\s]/g, '')\n    .trim();\n}\n\nconst tablaItems = $('S07_Get_Tabla1').all();\nconst s07c = $('S07c_Construir_Titles1').first().json;\nconst titlePorNombre  = s07c.titlePorNombre || {};\nconst titlesDistinct  = s07c.titlesDistinct || [];\nconst titlesDistinct_limpios = titlesDistinct.map(t => limpiar(t));\n\nconst aActualizar = [];\n\nfor (const item of tablaItems) {\n  const row = item.json;\n  if (!row.NOMBRE) continue;\n\n  const keyLimpio = limpiar(row.NOMBRE);\n\n  if (!titlePorNombre.hasOwnProperty(keyLimpio)) continue;\n\n  const titleEnIntervals = titlePorNombre[keyLimpio];\n  const areaEnTabla      = (row.AREA || '').trim();\n\n  let areaNueva;\n  if (!titleEnIntervals || titleEnIntervals.length === 0) {\n    areaNueva = 'Favor actualizar';\n  } else if (!titlesDistinct_limpios.includes(limpiar(titleEnIntervals))) {\n    areaNueva = 'Área desconocida';\n  } else {\n    areaNueva = titleEnIntervals;\n  }\n\n  if (limpiar(areaEnTabla) !== limpiar(areaNueva)) {\n    aActualizar.push({ json: { NOMBRE: row.NOMBRE, AREA: areaNueva } });\n  }\n}\n\nif (aActualizar.length === 0) return [{ json: { _sinCambiosArea: true } }];\nreturn aActualizar;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-928,2752],"id":"5296026f-ede5-44de-83af-05dacbaaae45","name":"S07d_Sincronizar_Areas1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"check-sin-cambios-area","leftValue":"={{ $json._sinCambiosArea }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-2528,2992],"id":"14ade604-8aaa-4eb3-ab63-33dff05e0599","name":"S07e_If_Sin_Cambios_Area1"},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"Colaboradores intervals","mode":"name"},"filters":{"conditions":[{"keyName":"NOMBRE","keyValue":"={{ $json.NOMBRE }}"}]},"columns":{"mappingMode":"defineBelow","value":{"AREA":"={{ $json.AREA }}"},"matchingColumns":[],"schema":[{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"AREA","displayName":"AREA","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-2368,3088],"id":"d65ea2c8-0956-4b58-a52b-3d3a76bff198","name":"S07f_Update_Areas1"},{"parameters":{"jsCode":"/*\n  S07g - Sincronizar estado ACTIVO/SHOW desde Intervals (v6)\n*/\n\nfunction limpiar(t) {\n  if (!t) return '';\n  return t.toString()\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n    .toLowerCase()\n    .replace(/[^a-z0-9\\s]/g, '')\n    .trim();\n}\n\nconst tablaItems = $('S07_Get_Tabla1').all();\nconst nombresActivos = $('S07c_Construir_Titles1').first().json.nombresActivos || [];\nconst setActivos = new Set(nombresActivos.map(n => limpiar(n)));\n\nconst aDesactivar = [];\n\nfor (const item of tablaItems) {\n  const row = item.json;\n  if (!row.NOMBRE) continue;\n\n  const estaActivoEnTabla = row.ACTIVO === true || row.ACTIVO === 1 || String(row.ACTIVO).toLowerCase() === 'true';\n  if (!estaActivoEnTabla) continue;\n\n  const keyLimpio = limpiar(row.NOMBRE);\n  if (!setActivos.has(keyLimpio)) {\n    aDesactivar.push({ json: { NOMBRE: row.NOMBRE, ACTIVO: false, SHOW: false }});\n  }\n}\n\nif (aDesactivar.length === 0) return [{ json: { _sinInactivos: true } }];\nreturn aDesactivar;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2208,2976],"id":"3050fc7e-1f97-4710-b068-6f4b212d4471","name":"S07g_Detectar_Inactivos1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"check-sin-inactivos","leftValue":"={{ $json._sinInactivos }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-2016,2976],"id":"57908e0d-555f-4aea-8347-90aebd591083","name":"S07h_If_Sin_Inactivos1"},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"Colaboradores intervals","mode":"name"},"filters":{"conditions":[{"keyName":"NOMBRE","keyValue":"={{ $json.NOMBRE }}"}]},"columns":{"mappingMode":"defineBelow","value":{"ACTIVO":"={{ $json.ACTIVO }}","SHOW":"={{ $json.SHOW }}"},"matchingColumns":[],"schema":[{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ACTIVO","displayName":"ACTIVO","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"SHOW","displayName":"SHOW","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-1872,3120],"id":"2a323b55-1062-4c32-bae6-6645d7273887","name":"S07i_Update_Inactivos1"},{"parameters":{"jsCode":"/*\n  S07g_bis - Detectar reactivados en Intervals\n*/\n\nfunction limpiar(t) {\n  if (!t) return '';\n  return t.toString()\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n    .toLowerCase()\n    .replace(/[^a-z0-9\\s]/g, '')\n    .trim();\n}\n\nconst tablaItems = $('S07_Get_Tabla1').all();\nconst nombresActivos = $('S07c_Construir_Titles1').first().json.nombresActivos || [];\nconst setActivos = new Set(nombresActivos.map(n => limpiar(n)));\n\nconst aReactivar = [];\n\nfor (const item of tablaItems) {\n  const row = item.json;\n  if (!row.NOMBRE) continue;\n\n  const estaInactivoEnTabla = row.ACTIVO === false || row.ACTIVO === 0 || String(row.ACTIVO).toLowerCase() === 'false';\n  if (!estaInactivoEnTabla) continue;\n\n  const keyLimpio = limpiar(row.NOMBRE);\n  if (setActivos.has(keyLimpio)) {\n    aReactivar.push({ json: { NOMBRE: row.NOMBRE, ACTIVO: true, SHOW: true }});\n  }\n}\n\nif (aReactivar.length === 0) return [{ json: { _sinReactivados: true } }];\nreturn aReactivar;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1728,2960],"id":"50f3029e-49a2-450a-b7ee-d1c65184313c","name":"S07g_bis_Detectar_Reactivados1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"check-sin-reactivados","leftValue":"={{ $json._sinReactivados }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1520,2960],"id":"3e8dc552-6c96-4a99-8e4a-c293667a8bac","name":"S07h_bis_If_Sin_Reactivados1"},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"Colaboradores intervals","mode":"name"},"filters":{"conditions":[{"keyName":"NOMBRE","keyValue":"={{ $json.NOMBRE }}"}]},"columns":{"mappingMode":"defineBelow","value":{"ACTIVO":"={{ $json.ACTIVO }}","SHOW":"={{ $json.SHOW }}"},"matchingColumns":[],"schema":[{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ACTIVO","displayName":"ACTIVO","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"SHOW","displayName":"SHOW","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-1376,3120],"id":"5618009e-3715-42c4-91fa-d9f3b3ac20a2","name":"S07i_bis_Update_Reactivados1"},{"parameters":{"jsCode":"/*\n  S08 - Detectar Nuevos Colaboradores (v6)\n*/\n\nconst tablaItems = $('S07_Get_Tabla1').all();\nconst apiData    = $('S03_Llamar_API_Intervals1').first().json;\nconst s07c       = $('S07c_Construir_Titles1').first().json;\n\nconst titlesDistinct         = s07c.titlesDistinct || [];\nconst titlesDistinct_limpios = titlesDistinct.map(t => limpiar(t));\nconst titlePorNombre         = s07c.titlePorNombre || {};\n\nconst registros = (apiData.time || []).map(r => ({ ...r, person: decodeHtml(r.person) }));\n\nfunction decodeHtml(str) {\n  if (!str) return '';\n  return str\n    .replace(/&aacute;/g, 'á').replace(/&eacute;/g, 'é')\n    .replace(/&iacute;/g, 'í').replace(/&oacute;/g, 'ó')\n    .replace(/&uacute;/g, 'ú').replace(/&Aacute;/g, 'Á')\n    .replace(/&Eacute;/g, 'É').replace(/&Iacute;/g, 'Í')\n    .replace(/&Oacute;/g, 'Ó').replace(/&Uacute;/g, 'Ú')\n    .replace(/&ntilde;/g, 'ñ').replace(/&Ntilde;/g, 'Ñ')\n    .replace(/&uuml;/g, 'ü').replace(/&amp;/g, '&');\n}\n\nfunction limpiar(t) {\n  if (!t) return '';\n  return t.toString()\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n    .toLowerCase()\n    .replace(/[^a-z0-9\\s]/g, '')\n    .trim();\n}\n\nconst nombresEnTabla = new Set(tablaItems.map(i => limpiar(i.json.NOMBRE)));\n\nconst personasAPI = {};\nfor (const r of registros) {\n  const key = limpiar(r.person);\n  if (!key) continue;\n  if (!personasAPI[key]) {\n    personasAPI[key] = { nombreOriginal: r.person, fechaInicio: r.date };\n  } else {\n    if (r.date < personasAPI[key].fechaInicio) personasAPI[key].fechaInicio = r.date;\n  }\n}\n\nconst nuevos = [];\nfor (const [keyLimpio, datos] of Object.entries(personasAPI)) {\n  const esActivoEnIntervals = titlePorNombre.hasOwnProperty(keyLimpio);\n  if (!nombresEnTabla.has(keyLimpio) && esActivoEnIntervals) {\n    const titleRaw = titlePorNombre[keyLimpio];\n    let areaFinal;\n    if (!titleRaw || titleRaw.length === 0) {\n      areaFinal = 'Favor actualizar';\n    } else if (!titlesDistinct_limpios.includes(limpiar(titleRaw))) {\n      areaFinal = 'Área desconocida';\n    } else {\n      areaFinal = titleRaw;\n    }\n    nuevos.push({ json: { NOMBRE: datos.nombreOriginal, AREA: areaFinal, ACTIVO: true, SHOW: true, NEW_COLAB: true, FECHA_INICIO: datos.fechaInicio }});\n  }\n}\n\nif (nuevos.length === 0) return [{ json: { _sinNuevos: true } }];\nreturn nuevos;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1232,2944],"id":"afc4614c-205a-44c7-84e4-103e2c8671b2","name":"S08_Detectar_Nuevos1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"check-sin-nuevos","leftValue":"={{ $json._sinNuevos }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1040,2944],"id":"54655123-8fa8-4ef1-8b2b-879b51bf3b37","name":"S09_If_Sin_Nuevos1"},{"parameters":{"dataTableId":{"__rl":true,"value":"Colaboradores intervals","mode":"name"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-896,3104],"id":"29a5b266-21c9-41a1-902e-112e15dddb4e","name":"S10_Insert_Nuevos1"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"Colaboradores intervals","mode":"name"}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-752,2928],"id":"5218d3cb-11bb-46d8-95e8-0762a33f2135","name":"S11_Get_Tabla_Actualizada1"},{"parameters":{"jsCode":"function diasHabiles(desde, hasta) {\n  let count = 0;\n  const d = new Date(desde);\n  while (d <= hasta) {\n    const dia = d.getDay();\n    if (dia >= 1 && dia <= 5) count++;\n    d.setDate(d.getDate() + 1);\n  }\n  return count;\n}\n\nconst periodo = $('S02_Calcular_Periodo1').first().json;\nconst fechaFin = new Date(periodo.fechaFinPeriodo);\n\nconst aGraduar = [];\nfor (const item of $input.all()) {\n  const row = item.json;\n  if (!row.NOMBRE) continue;\n  const esNuevo = row.NEW_COLAB === true || row.NEW_COLAB === 1 || String(row.NEW_COLAB).toLowerCase() === 'true';\n  if (!esNuevo || !row.FECHA_INICIO) continue;\n  const fechaInicio = new Date(row.FECHA_INICIO.split('T')[0]);\n  if (diasHabiles(fechaInicio, fechaFin) >= 30) {\n    aGraduar.push({ json: { NOMBRE: row.NOMBRE } });\n  }\n}\n\nif (aGraduar.length === 0) return [{ json: { _sinGraduados: true } }];\nreturn aGraduar;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-672,3136],"id":"ed18f54b-61a2-4b3b-b589-acce583077d8","name":"S12_Detectar_Graduados1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"check-sin-graduados","leftValue":"={{ $json._sinGraduados }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-2352,3360],"id":"a3d631c7-999e-4797-89a4-bf5f3859825d","name":"S13_If_Sin_Graduados1"},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"Colaboradores intervals","mode":"name"},"filters":{"conditions":[{"keyName":"NOMBRE","keyValue":"={{ $json.NOMBRE }}"}]},"columns":{"mappingMode":"defineBelow","value":{"NEW_COLAB":false,"FECHA_INICIO":"=empty"},"matchingColumns":[],"schema":[{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"FECHA_INICIO","displayName":"FECHA_INICIO","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"SHOW","displayName":"SHOW","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"NEW_COLAB","displayName":"NEW_COLAB","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"ACTIVO","displayName":"ACTIVO","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-2192,3472],"id":"9e1bb80b-000a-433c-a88f-c9aec002d770","name":"S14_Graduar_En_Tabla1"},{"parameters":{"jsCode":"return [{ json: { _syncCompletada: true, timestamp: new Date().toISOString() } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2032,3344],"id":"ae4d4cf0-6716-4a17-812b-feb1a38d1fa8","name":"S15_Fin_Sync1"},{"parameters":{"jsCode":"const periodo = $('S02_Calcular_Periodo1').first().json;\nconst fechaInicio = new Date(periodo.fechaInicioPeriodo);\nconst fechaFin    = new Date(periodo.fechaFinPeriodo);\n\nlet horasTotales = 0;\nfor (let d = new Date(fechaInicio); d <= fechaFin; d.setDate(d.getDate() + 1)) {\n  const dia = d.getDay();\n  if (dia >= 1 && dia <= 4) horasTotales += 8;\n  else if (dia === 5) horasTotales += 6.5;\n}\n\nreturn [{\n  json: {\n    fechaInicio: periodo.fechaInicioPeriodo,\n    fechaFin: periodo.fechaFinPeriodo,\n    horasEsperadasPeriodo: Math.round(horasTotales * 10) / 10\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1840,3344],"id":"c83c70ca-c794-4250-85d3-c6e449133c06","name":"R03_Calcular_Horas_Base1"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"Colaboradores intervals","mode":"name"}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-1632,3344],"id":"17ec4470-af32-4f92-9f2d-6a650d405a54","name":"R08_Get_Tabla1"},{"parameters":{"jsCode":"const tablaItems = $input.all();\nconst apiData    = $('S03_Llamar_API_Intervals1').first().json;\nconst periodoItem = $('R03_Calcular_Horas_Base1').first().json;\nconst varItem    = $('S01_Variables_Globales1').first().json;\n\nconst registros = (apiData.time || []).map(r => ({ ...r, person: decodeHtml(r.person) }));\n\nconst horasGlobales  = Number(periodoItem.horasEsperadasPeriodo);\nconst fechaInicio    = periodoItem.fechaInicio;\nconst fechaFin       = periodoItem.fechaFin;\nconst fechaEjecucion = varItem.fechaEjecucion;\nconst anioActual     = varItem.anioActual;\nconst diasObjetivo   = varItem.diasObjetivo;\n\nconst fi = new Date(fechaInicio);\nconst ff = new Date(fechaFin);\n\nfunction decodeHtml(str) {\n  if (!str) return '';\n  return str\n    .replace(/&aacute;/g, 'á').replace(/&eacute;/g, 'é')\n    .replace(/&iacute;/g, 'í').replace(/&oacute;/g, 'ó')\n    .replace(/&uacute;/g, 'ú').replace(/&Aacute;/g, 'Á')\n    .replace(/&Eacute;/g, 'É').replace(/&Iacute;/g, 'Í')\n    .replace(/&Oacute;/g, 'Ó').replace(/&Uacute;/g, 'Ú')\n    .replace(/&ntilde;/g, 'ñ').replace(/&Ntilde;/g, 'Ñ')\n    .replace(/&uuml;/g, 'ü').replace(/&amp;/g, '&');\n}\n\nfunction limpiar(t) {\n  if (!t) return '';\n  return t.toString()\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n    .toLowerCase()\n    .replace(/[^a-z0-9\\s]/g, '')\n    .trim();\n}\n\nfunction primPalabras(nombre, n) {\n  return nombre.split(/\\s+/).slice(0, n).join(' ');\n}\n\nconst consolidado = {};\n\nfor (const item of tablaItems) {\n  const row = item.json;\n  if (!row.NOMBRE) continue;\n  const esActivo      = row.ACTIVO === true || row.ACTIVO === 1 || String(row.ACTIVO).toLowerCase() === 'true';\n  const debeMostrarse = row.SHOW   === true || row.SHOW   === 1 || String(row.SHOW).toLowerCase()   === 'true';\n  const esNuevo       = row.NEW_COLAB === true || row.NEW_COLAB === 1 || String(row.NEW_COLAB).toLowerCase() === 'true';\n  if (!esActivo || !debeMostrarse) continue;\n\n  let horasEsperadas = horasGlobales;\n  if (esNuevo && row.FECHA_INICIO) {\n    const inicioColab    = new Date(row.FECHA_INICIO.split('T')[0]);\n    const inicioEfectivo = inicioColab > fi ? inicioColab : fi;\n    let horasP = 0;\n    for (let d = new Date(inicioEfectivo); d <= ff; d.setDate(d.getDate() + 1)) {\n      const dia = d.getDay();\n      if (dia >= 1 && dia <= 4) horasP += 8;\n      else if (dia === 5) horasP += 6.5;\n    }\n    horasEsperadas = Math.round(horasP * 10) / 10;\n  }\n\n  const nLimpio = limpiar(row.NOMBRE);\n  consolidado[nLimpio] = {\n    Nombre: row.NOMBRE, NOMBRE: row.NOMBRE, NombreLimpio: nLimpio,\n    AREA: row.AREA || 'Sin Área', NEW_COLAB: esNuevo, ACTIVO: esActivo,\n    FECHA_INICIO: row.FECHA_INICIO ? row.FECHA_INICIO.split('T')[0] : null,\n    horasIngresadas: 0, horasEsperadas,\n    _horasGlobales: horasGlobales, _fechaInicio: fechaInicio,\n    _fechaFin: fechaFin, _fechaEjecucion: fechaEjecucion,\n    _anioActual: anioActual, _diasObjetivo: diasObjetivo\n  };\n}\n\nfor (const r of registros) {\n  const nAPI = limpiar(r.person);\n  let matched = false;\n  for (const key in consolidado) {\n    if (nAPI === consolidado[key].NombreLimpio) {\n      consolidado[key].horasIngresadas += Number(r.time || 0);\n      matched = true; break;\n    }\n  }\n  if (!matched) {\n    const api3 = primPalabras(nAPI, 3);\n    if (api3.length > 3) {\n      for (const key in consolidado) {\n        if (api3 === primPalabras(consolidado[key].NombreLimpio, 3)) {\n          consolidado[key].horasIngresadas += Number(r.time || 0); break;\n        }\n      }\n    }\n  }\n}\n\nreturn Object.values(consolidado).map(p => ({ json: p }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1408,3344],"id":"c1517046-0606-4f31-a8ca-fc2d41d5ba2b","name":"R09_Consolidar_Datos1"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const c = $json;\nconst ing  = Math.round(Number(c.horasIngresadas) * 10) / 10;\nconst esp  = Number(c.horasEsperadas);\nconst dif  = Math.round((ing - esp) * 10) / 10;\nconst porc = esp > 0 ? Math.min(Math.floor((ing / esp) * 100), 100) : 0;\n\nlet est = '❌ Atrasado';\nif (porc >= 95) est = '✅ Al día';\nelse if (porc >= 85) est = '⚠️ Pendiente';\n\nreturn {\n  ...c,\n  horasEsperadas: esp, horasIngresadas: ing, diferencia: dif,\n  porcentaje: porc, estado: est,\n  semanasPendientes: porc < 100 ? Math.round((dif / 38.5) * 10) / 10 : 0\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1200,3344],"id":"4a731ab6-a190-4134-8571-69ff9d213a5c","name":"R10_Calculos_Finales1"},{"parameters":{"jsCode":"const datos = $input.all().sort((a, b) => Number(b.json.porcentaje) - Number(a.json.porcentaje));\n\nconst sample = datos[0]?.json || {};\nconst anioActual            = sample._anioActual || new Date().getFullYear();\nconst periodoInicio         = sample._fechaInicio || '';\nconst periodoFin            = sample._fechaFin || '';\nconst diasLaborables        = sample._diasObjetivo || 20;\nconst horasEsperadasPeriodo = sample._horasGlobales || 0;\nconst totalColaboradores    = datos.length;\nconst alDia      = datos.filter(i => i.json.estado === '✅ Al día').length;\nconst pendientes = datos.filter(i => i.json.estado === '⚠️ Pendiente').length;\nconst atrasados  = datos.filter(i => i.json.estado === '❌ Atrasado').length;\n\nfunction esNuevoColab(d) {\n  const v = d.json.NEW_COLAB;\n  return v === true || v === 1 || String(v).toLowerCase() === 'true';\n}\n\nconst normales      = datos.filter(d => !esNuevoColab(d));\nconst reciénIngreso = datos.filter(d => esNuevoColab(d));\n\nfunction fmt(n) {\n  const r = Math.round(Number(n) * 10) / 10;\n  return Number.isInteger(r) ? r.toString() : r.toFixed(1);\n}\n\nfunction buildRow(d) {\n  const cf = d.json.estado === '✅ Al día'    ? '#C9D6CC'\n           : d.json.estado === '⚠️ Pendiente' ? '#E8DFC7'\n           : '#F4CCCC';\n  const cb = d.json.estado === '✅ Al día'    ? '#8BA88F'\n           : d.json.estado === '⚠️ Pendiente' ? '#D4BC8E'\n           : '#E89A9A';\n  const ing         = Math.round(Number(d.json.horasIngresadas) * 10) / 10;\n  const dif         = d.json.diferencia;\n  const difDisplay  = fmt(Math.abs(dif));\n  const porc        = d.json.porcentaje;\n  const porcDisplay = `${porc}%`;\n  const area        = d.json.AREA || 'N/A';\n  let areaDisplay   = area;\n  if (area === 'Favor actualizar')  areaDisplay = `<em style=\"color:#B8860B;font-weight:bold;\">Favor actualizar</em>`;\n  if (area === 'Área desconocida')  areaDisplay = `<em style=\"color:#CC0000;font-weight:bold;\">Área desconocida</em>`;\n  const tdStyle = `padding:4px 2px;height:20px;line-height:20px;border:1px solid ${cb};text-align:center;`;\n  return `<tr>\n    <td valign=\"middle\" bgcolor=\"${cf}\" style=\"${tdStyle}\">${areaDisplay}</td>\n    <td valign=\"middle\" bgcolor=\"${cf}\" style=\"${tdStyle}\"><strong>${d.json.Nombre}</strong></td>\n    <td valign=\"middle\" bgcolor=\"${cf}\" style=\"${tdStyle}\"><strong>${fmt(ing)}</strong></td>\n    <td valign=\"middle\" bgcolor=\"${cf}\" style=\"${tdStyle}\"><strong>${fmt(d.json.horasEsperadas)}</strong></td>\n    <td valign=\"middle\" bgcolor=\"${cf}\" style=\"${tdStyle}\">${difDisplay}</td>\n    <td valign=\"middle\" bgcolor=\"${cf}\" style=\"${tdStyle}\">${porcDisplay}</td>\n    <td valign=\"middle\" bgcolor=\"${cf}\" style=\"${tdStyle}\"><strong>${d.json.estado}</strong></td>\n    <td valign=\"middle\" bgcolor=\"${cf}\" style=\"${tdStyle}\">${fmt(d.json.semanasPendientes || 0)}</td>\n  </tr>`;\n}\n\nfunction buildTable(filas) {\n  return `<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"1\" bordercolor=\"#5838A3\" style=\"width:100%;max-width:900px;border-collapse:collapse;font-size:12px;text-align:center;\">\n<colgroup><col style=\"width:14%\"><col style=\"width:20%\"><col style=\"width:12%\"><col style=\"width:12%\"><col style=\"width:10%\"><col style=\"width:10%\"><col style=\"width:13%\"><col style=\"width:9%\"></colgroup>\n<thead><tr>\n  <th valign=\"middle\" bgcolor=\"#7049BC\" style=\"border:1px solid #5838A3;color:#fff;padding:2px;\">Área</th>\n  <th valign=\"middle\" bgcolor=\"#7049BC\" style=\"border:1px solid #5838A3;color:#fff;padding:2px;\">Colaborador</th>\n  <th valign=\"middle\" bgcolor=\"#7049BC\" style=\"border:1px solid #5838A3;color:#fff;padding:2px;\">Horas Ingresadas</th>\n  <th valign=\"middle\" bgcolor=\"#7049BC\" style=\"border:1px solid #5838A3;color:#fff;padding:2px;\">Horas Esperadas</th>\n  <th valign=\"middle\" bgcolor=\"#7049BC\" style=\"border:1px solid #5838A3;color:#fff;padding:2px;\">Diferencia</th>\n  <th valign=\"middle\" bgcolor=\"#7049BC\" style=\"border:1px solid #5838A3;color:#fff;padding:2px;\">Porcentaje</th>\n  <th valign=\"middle\" bgcolor=\"#7049BC\" style=\"border:1px solid #5838A3;color:#fff;padding:2px;\">Estado</th>\n  <th valign=\"middle\" bgcolor=\"#7049BC\" style=\"border:1px solid #5838A3;color:#fff;padding:2px;\">Semanas Pendientes</th>\n</tr></thead>\n<tbody>${filas.map(buildRow).join('')}</tbody></table>`;\n}\n\nconst totalReciénIngreso = reciénIngreso.length;\nconst htmlCompleto = `<!DOCTYPE html><html><head><meta charset=\"UTF-8\"></head>\n<body style=\"margin:0;padding:8px 10px;font-family:Arial,APTOS,sans-serif;font-size:12px;\">\n<h2 style=\"color:#7049BC;font-size:16px;margin:0;font-weight:bold;\">Reporte de Horas – Año ${anioActual}</h2>\n<p style=\"margin:8px 0;\">Estimad@s, esperamos que este mensaje les encuentre bien:</p>\n<p style=\"margin:8px 0;\">Como formalidad semanal, se comparte el reporte de ingreso de horas correspondiente al período entre las fechas: <strong>${periodoInicio} al ${periodoFin}</strong>.</p>\n<p style=\"margin:12px 0;\"><span style=\"display:inline-block;background:#5CDB82;padding:10px;color:#000;\"><strong>Nota:</strong> al momento de registrar las horas y su respectiva descripción, se solicita no utilizar signos especiales (como \", &amp;, %, entre otros), ya que estos afectan la reportería.</span></p>\n${buildTable(normales)}\n${reciénIngreso.length > 0 ? `<p style=\"color:#7049BC;font-size:14px;margin-top:24px;margin-bottom:8px;font-weight:bold;\">Nuevos Colaboradores - Reintegración</p>${buildTable(reciénIngreso)}` : ''}\n<p style=\"color:#7049BC;font-weight:bold;margin-top:18px;font-size:14px;\">Alcances del Reporte:</p>\n<ul style=\"margin:0;padding-left:18px;\">\n  <li>Fecha inicio: <strong>${periodoInicio}</strong></li><li>Fecha fin: <strong>${periodoFin}</strong></li>\n  <li>Días hábiles considerados: <strong>${diasLaborables}</strong></li>\n  <li>Horas contabilizadas en el período: <strong>${horasEsperadasPeriodo}</strong></li>\n  <li>Total colaboradores: <strong>${totalColaboradores}</strong></li>\n  <li>Colaboradores de reciente ingreso: <strong>${totalReciénIngreso}</strong></li>\n  <li>Colaboradores al día: <strong>${alDia}</strong></li>\n  <li>Colaboradores pendientes: <strong>${pendientes}</strong></li>\n  <li>Colaboradores atrasados: <strong>${atrasados}</strong></li>\n</ul>\n<p style=\"margin-top:16px;\">Frente a dudas, consultas o validación de métricas, comunicarse directamente con el <strong>área de control de gestión</strong>.</p>\n<p style=\"margin-top:14px;\">Saludos cordiales.<br>Equipo de Infraestructura.</p>\n</body></html>`;\n\nreturn [{ json: { htmlContent: htmlCompleto } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-992,3344],"id":"ab42c9e7-2ae1-4c38-a6c7-abb73e1de9c0","name":"R11_Generar_HTML1"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"remitentes\": \"ayelpi@dl.cl, cchavez@dl.cl, svidal@dl.cl, jsilva@dl.cl, jvaldesh@dl.cl, jdelaspozas@dl.cl\",\n  \"cc\": \"\"\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2640,2560],"id":"23d51c04-1c37-4c5e-a74f-b06d8b4ee5c9","name":"emails_test"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"remitentes\": \"svasquez@dl.cl, csoto@dl.cl, rruizb@dl.cl, frojas@dl.cl, vvillagran@dl.cl, dgomez@dl.cl, jtapia@dl.cl, ycalvaire@dl.cl, jdelaspozas@dl.cl, rretamal@dl.cl, fgonzalez@dl.cl, alanda@dl.cl, cgajardo@dl.cl, cmartinez@dl.cl, jtleyva@dl.cl, eromero@dl.cl, jvaldesh@dl.cl, aormazabal@dl.cl, dcontador@dl.cl, ofuentes@dl.cl, ayelpi@dl.cl, egraterol@dl.cl, ggonzalez@dl.cl, jsilva@dl.cl, eramirez@dl.cl, asaavedra@dl.cl, mjvega@dl.cl, gsalgado@dl.cl, molmedo@dl.cl, onoa@dl.cl, aechemendia@dl.cl, aaravena@dl.cl\",\n  \"cc\": \"ymartinez@dl.cl, cchavez@dl.cl, tsuarez@dl.cl, hrivas@dl.cl, svidal@dl.cl\"\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2640,2784],"id":"26170a40-c5a7-439f-9839-90ae4fdd3fd7","name":"emails_12"},{"parameters":{"fromEmail":"info@n8n.notificadl.cl","toEmail":"={{ $('S01_Variables_Globales1').first().json.remitentes }}","ccEmail":"={{ $('S01_Variables_Globales1').first().json.cc }}","subject":"Reporte de Horas de Colaboradores de Intervals","html":"={{$json.htmlContent}}"},"type":"n8n-nodes-base.mailgun","typeVersion":1,"position":[-800,3344],"id":"c9ddbf1c-5887-484d-8af9-e6df7a815fea","name":"R12_Mailgun_Send1","credentials":{"mailgunApi":{"id":"jXQjjlGEuBBpD3Wo","name":"Mailgun account 4"}}},{"parameters":{"content":"Traer personas activas: true","height":80,"width":208},"type":"n8n-nodes-base.stickyNote","position":[-1376,2544],"typeVersion":1,"id":"ca506c83-a16b-48f3-aaeb-0200b1583b22","name":"Sticky Note"},{"parameters":{"content":"Construye lista de titles válidos (cargo/área con ≥2 personas). Genera mapa nombre → title y lista de nombres activos","height":112},"type":"n8n-nodes-base.stickyNote","position":[-1136,2576],"typeVersion":1,"id":"add8bc5c-15d8-4d61-9c1e-0f71248ce1cc","name":"Sticky Note1"},{"parameters":{"content":"Compara ÁREA en la tabla vs title en Intervals. Detecta cambios → lista de {NOMBRE, AREA} a actualizar","height":96},"type":"n8n-nodes-base.stickyNote","position":[-864,2640],"typeVersion":1,"id":"573dc1ba-b929-414f-b6e6-f3587acc9534","name":"Sticky Note2"},{"parameters":{"content":"Proceso de actualiación en BD para actualizaciones de 'Área, activo o no, nuevos, graduados etc..'"},"type":"n8n-nodes-base.stickyNote","position":[-2672,3168],"typeVersion":1,"id":"29cd2ec2-f3b8-418b-9ad4-0937db987fe5","name":"Sticky Note3"},{"parameters":{"content":"Final de la sincronización y armado de últimos alcances para generar el correo","height":80},"type":"n8n-nodes-base.stickyNote","position":[-1984,3504],"typeVersion":1,"id":"1aa35afd-c77c-4de8-a6bc-9543e6e87798","name":"Sticky Note4"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0 12 * * 5"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-2832,2784],"id":"3c5d0d85-3a4e-46a8-98ea-0332c3d51e2b","name":"Cron semanal"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0 9 * * 5"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-2832,2560],"id":"82551b4d-5173-4f0d-9f4d-7729a2ab3822","name":"Cron semanal(TEST)"}],"connections":{"Cron semanal(TEST)":{"main":[[{"node":"emails_test","type":"main","index":0}]]},"Cron semanal":{"main":[[{"node":"emails_12","type":"main","index":0}]]},"emails_test":{"main":[[{"node":"S01_Variables_Globales1","type":"main","index":0}]]},"emails_12":{"main":[[{"node":"S01_Variables_Globales1","type":"main","index":0}]]},"S01_Variables_Globales1":{"main":[[{"node":"S02_Calcular_Periodo1","type":"main","index":0}]]},"S02_Calcular_Periodo1":{"main":[[{"node":"S03_Llamar_API_Intervals1","type":"main","index":0}]]},"S03_Llamar_API_Intervals1":{"main":[[{"node":"S04_If_API_OK1","type":"main","index":0}]]},"S04_If_API_OK1":{"main":[[{"node":"S07_Get_Tabla1","type":"main","index":0}],[{"node":"S05_Error_Mail_Sync1","type":"main","index":0}]]},"S05_Error_Mail_Sync1":{"main":[[{"node":"S06_Stop_Sync1","type":"main","index":0}]]},"S07_Get_Tabla1":{"main":[[{"node":"S07b_Get_Persons_API","type":"main","index":0}]]},"S07b_Get_Persons_API":{"main":[[{"node":"S07c_Construir_Titles1","type":"main","index":0}]]},"S07c_Construir_Titles1":{"main":[[{"node":"S07d_Sincronizar_Areas1","type":"main","index":0}]]},"S07d_Sincronizar_Areas1":{"main":[[{"node":"S07e_If_Sin_Cambios_Area1","type":"main","index":0}]]},"S07e_If_Sin_Cambios_Area1":{"main":[[{"node":"S07g_Detectar_Inactivos1","type":"main","index":0}],[{"node":"S07f_Update_Areas1","type":"main","index":0}]]},"S07f_Update_Areas1":{"main":[[{"node":"S07g_Detectar_Inactivos1","type":"main","index":0}]]},"S07g_Detectar_Inactivos1":{"main":[[{"node":"S07h_If_Sin_Inactivos1","type":"main","index":0}]]},"S07h_If_Sin_Inactivos1":{"main":[[{"node":"S07g_bis_Detectar_Reactivados1","type":"main","index":0}],[{"node":"S07i_Update_Inactivos1","type":"main","index":0}]]},"S07i_Update_Inactivos1":{"main":[[{"node":"S07g_bis_Detectar_Reactivados1","type":"main","index":0}]]},"S07g_bis_Detectar_Reactivados1":{"main":[[{"node":"S07h_bis_If_Sin_Reactivados1","type":"main","index":0}]]},"S07h_bis_If_Sin_Reactivados1":{"main":[[{"node":"S08_Detectar_Nuevos1","type":"main","index":0}],[{"node":"S07i_bis_Update_Reactivados1","type":"main","index":0}]]},"S07i_bis_Update_Reactivados1":{"main":[[{"node":"S08_Detectar_Nuevos1","type":"main","index":0}]]},"S08_Detectar_Nuevos1":{"main":[[{"node":"S09_If_Sin_Nuevos1","type":"main","index":0}]]},"S09_If_Sin_Nuevos1":{"main":[[{"node":"S11_Get_Tabla_Actualizada1","type":"main","index":0}],[{"node":"S10_Insert_Nuevos1","type":"main","index":0}]]},"S10_Insert_Nuevos1":{"main":[[{"node":"S11_Get_Tabla_Actualizada1","type":"main","index":0}]]},"S11_Get_Tabla_Actualizada1":{"main":[[{"node":"S12_Detectar_Graduados1","type":"main","index":0}]]},"S12_Detectar_Graduados1":{"main":[[{"node":"S13_If_Sin_Graduados1","type":"main","index":0}]]},"S13_If_Sin_Graduados1":{"main":[[{"node":"S15_Fin_Sync1","type":"main","index":0}],[{"node":"S14_Graduar_En_Tabla1","type":"main","index":0}]]},"S14_Graduar_En_Tabla1":{"main":[[{"node":"S15_Fin_Sync1","type":"main","index":0}]]},"S15_Fin_Sync1":{"main":[[{"node":"R03_Calcular_Horas_Base1","type":"main","index":0}]]},"R03_Calcular_Horas_Base1":{"main":[[{"node":"R08_Get_Tabla1","type":"main","index":0}]]},"R08_Get_Tabla1":{"main":[[{"node":"R09_Consolidar_Datos1","type":"main","index":0}]]},"R09_Consolidar_Datos1":{"main":[[{"node":"R10_Calculos_Finales1","type":"main","index":0}]]},"R10_Calculos_Finales1":{"main":[[{"node":"R11_Generar_HTML1","type":"main","index":0}]]},"R11_Generar_HTML1":{"main":[[{"node":"R12_Mailgun_Send1","type":"main","index":0}]]}},"authors":"José Silva","name":"Version ab69aeb4","description":"","autosaved":true},"tags":[]}