reporte-de-horas-intervals-test-html-nxGeYiAIQ3QVJnu2.json
{"updatedAt":"2026-03-25T18:35:18.418Z","createdAt":"2026-02-13T14:06:31.694Z","id":"nxGeYiAIQ3QVJnu2","name":"Reporte de horas intervals TEST HTML","active":false,"isArchived":true,"nodes":[{"parameters":{"jsCode":"// =====================================================\n// CONFIGURACIÓN DEL RANGO DE FECHAS Y REPOSITORIO\n// Calcula fechaInicio, fechaFin y define colaboradores\n// =====================================================\n\n\n// =====================================================\n// FECHA ACTUAL AJUSTADA A CHILE (UTC-3)\n// =====================================================\nconst hoy = new Date();\nhoy.setMinutes(hoy.getMinutes() + hoy.getTimezoneOffset() + 180);\n\n\n// =====================================================\n// FECHA FIN → ÚLTIMO DÍA HÁBIL\n// =====================================================\nconst fechaFin = new Date(hoy);\nfechaFin.setDate(fechaFin.getDate() - 1);\n\nwhile (fechaFin.getDay() === 0 || fechaFin.getDay() === 6) {\n  fechaFin.setDate(fechaFin.getDate() - 1);\n}\n\n\n// =====================================================\n// FECHA INICIO → ÚLTIMO VIERNES MES ANTERIOR\n// =====================================================\nconst fechaInicio = new Date(\n  fechaFin.getFullYear(),\n  fechaFin.getMonth(),\n  0\n);\n\nwhile (fechaInicio.getDay() !== 5) {\n  fechaInicio.setDate(fechaInicio.getDate() - 1);\n}\n\n\n// =====================================================\n// FORMATEO DE FECHAS PARA TEXTO DEL REPORTE\n// =====================================================\nconst MESES = [\n  'enero','febrero','marzo','abril','mayo','junio',\n  'julio','agosto','septiembre','octubre','noviembre','diciembre'\n];\n\nconst inicioTexto =\n  String(fechaInicio.getDate()).padStart(2,'0') +\n  ' de ' + MESES[fechaInicio.getMonth()];\n\nconst finTexto =\n  String(fechaFin.getDate()).padStart(2,'0') +\n  ' de ' + MESES[fechaFin.getMonth()];\n\nconst periodoTexto = `${inicioTexto} – ${finTexto}`;\nconst mesCurso = MESES[fechaFin.getMonth()].toUpperCase().slice(0,3);\n\n\n// ===============================\n// REPOSITORIO DE PERSONAS\n// ===============================\nconst personas = [\n  { personId:354371,nombre:'Susana',apellidoP:'Vásquez',apellidoM:'',area:'Contenido' },\n  { personId:429092,nombre:'Ana',apellidoP:'Saavedra',apellidoM:'',area:'Operaciones' },\n  { personId:425398,nombre:'Guillermo',apellidoP:'Salgado',apellidoM:'',area:'Dl Personas' },\n  { personId:371924,nombre:'José',apellidoP:'Valdés',apellidoM:'',area:'Dl Innova' },\n  { personId:426503,nombre:'Jose',apellidoP:'Silva',apellidoM:'Díaz',area:'Dl Innova' },\n  { personId:281553,nombre:'David',apellidoP:'Gómez',apellidoM:'',area:'Contenido' },\n  { personId:197714,nombre:'Valeska',apellidoP:'Villagrán',apellidoM:'',area:'Dl Innova' },\n  { personId:358826,nombre:'Rodrigo',apellidoP:'Retamal',apellidoM:'',area:'Dl Innova' },\n  { personId:411315,nombre:'Evelin',apellidoP:'Romero',apellidoM:'',area:'Dl Innova' },\n  { personId:423565,nombre:'Anai',apellidoP:'Ormazabal',apellidoM:'',area:'Dl Innova' },\n  { personId:362604,nombre:'Freddys',apellidoP:'Rojas',apellidoM:'',area:'Dl Innova' },\n  { personId:356965,nombre:'Margarita',apellidoP:'Olmedo',apellidoM:'',area:'Dl Innova' },\n  { personId:408021,nombre:'Carlos',apellidoP:'Martínez',apellidoM:'',area:'Dl Innova' },\n  { personId:425281,nombre:'Andres',apellidoP:'Yelpi',apellidoM:'',area:'Dl Innova' },\n  { personId:357713,nombre:'Yosbel',apellidoP:'Calvaire',apellidoM:'',area:'Dl Innova' },\n  { personId:357119,nombre:'Cristina',apellidoP:'Soto',apellidoM:'',area:'Marketing' },\n  { personId:427998,nombre:'Emily',apellidoP:'Ramírez',apellidoM:'',area:'Dl Innova' },\n  { personId:425282,nombre:'Edwuard',apellidoP:'Graterol',apellidoM:'',area:'Dl Innova' },\n  {\npersonId:392742,nombre:'María Jose',apellidoP:'Vega',apellidoM:'',area:'Dl Innova' },\n  { personId:372821,nombre:'José',apellidoP:'Tapia',apellidoM:'',area:'Operaciones' },\n  { personId:383182,nombre:'Ariadna',apellidoP:'Landa',apellidoM:'',area:'Dl Innova' },\n  { personId:323747,nombre:'Joan',apellidoP:'de las Pozas',apellidoM:'',area:'Dl Innova' },\n  { personId:382778,nombre:'Fabiola',apellidoP:'Gonzáles',apellidoM:'',area:'Operaciones' },\n  { \npersonId:411316,nombre:'José',apellidoP:'T.',apellidoM:'Leyva',area:'Dl Innova' },\n  { personId:425801,nombre:'Gladys',apellidoP:'González',apellidoM:'Torres',area:'Dl Innova' },\n  { personId:423566,nombre:'Daniel',apellidoP:'Contador',apellidoM:'Bustos',area:'Dl Innova' },\n  { personId:424256,nombre:'Osvaldo',apellidoP:'Fuentes',apellidoM:'',area:'Dl Innova' },\n  { personId:348504,nombre:'Carolina',apellidoP:'Gajardo',apellidoM:'',area:'Operaciones' },\n  { personId:357120,nombre:'Rodrigo',apellidoP:'Ruiz',apellidoM:'',area:'Marketing' },\n  { personId:428509,nombre:'Beatriz',apellidoP:'Quilodrán',apellidoM:'',area:'Dl Personas' }\n];\n\n\n// ===============================\n// OUTPUT\n// ===============================\nreturn {\n  fechaInicio: fechaInicio.toISOString().slice(0,10),\n  fechaFin: fechaFin.toISOString().slice(0,10),\n  periodoTexto,\n  mesCurso,\n  personas\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-48,-288],"id":"f29942e2-e9e3-4936-b7e3-cceae5f9568d","name":"Repositorio"},{"parameters":{"jsCode":"// =====================================================\n// CÁLCULO DE DÍAS LABORABLES Y HORAS ESPERADAS\n// =====================================================\n\nconst repo = $input.first().json;\nconst inicio = new Date(repo.fechaInicio);\nconst fin = new Date(repo.fechaFin);\n\nlet diasLaborables = 0;\nlet horasTotales = 0;\n\nfor (let d = new Date(inicio); d <= fin; d.setDate(d.getDate() + 1)) {\n\n  const dia = d.getDay();\n\n  if (dia >= 1 && dia <= 4) {\n    diasLaborables++;\n    horasTotales += 8;\n  } else if (dia === 5) {\n    diasLaborables++;\n    horasTotales += 6.5;\n  }\n}\n\n// ===============================\n// OUTPUT\n// ===============================\nreturn {\n  json: {\n    diasLaborables,\n    horasTotales: +horasTotales.toFixed(1),\n    personas: repo.personas,\n    mesCurso: repo.mesCurso\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[192,-288],"id":"716b9208-aaf0-429c-9803-002a7022c96e","name":"Calculo de horas"},{"parameters":{"jsCode":"// =====================================================\n// EXPANSIÓN DEL REPOSITORIO POR COLABORADOR\n// Permite ejecución individual en API\n// =====================================================\n\nconst { personas, diasLaborables, horasTotales, mesCurso } = $input.first().json;\n\nreturn personas.map(p => ({\n  json: {\n    personId: p.personId,\n    nombre: `${p.nombre} ${p.apellidoP} ${p.apellidoM || ''}`.trim(),\n    area: p.area,\n    diasLaborables,\n    horasEsperadas: horasTotales,\n    mesCurso\n  }\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,-288],"id":"32894169-30da-4093-a1ed-b9daeb4e8c71","name":"Preparar datos personas"},{"parameters":{"jsCode":"// ===============================\n// OBTENER PERSONAS PREPARADAS\n// ===============================\nconst personasArray = $('Preparar datos personas').all().map(p => p.json);\n\n// Mapa por personId\nconst personas = Object.fromEntries(\n  personasArray.map(p => [p.personId, p])\n);\n\n// Días laborales del período\nconst diasLaborables = $('Calculo de horas').first().json.diasLaborables;\n\nconst resultados = [];\n\n\n// ===============================\n// MAPA DE HORAS POR PERSONA\n// ===============================\nconst horasPorPersona = {};\n\n// Consolidar respuesta del HTTP\nfor (const item of $input.all()) {\n\n  const registros = item.json.time || [];\n\n  // Si no hay registros, se ignora\n  if (!registros.length) continue;\n\n  const personId = Number(registros[0].personid);\n\n  // Sumar todas las horas retornadas\n  const totalHoras = registros.reduce(\n    (acc, r) => acc + Number(r.time || 0),\n    0\n  );\n\n  // Acumular por persona\n  horasPorPersona[personId] =\n    (horasPorPersona[personId] || 0) + totalHoras;\n}\n\n\n// ===============================\n// GENERAR RESULTADOS\n// ===============================\nfor (const persona of personasArray) {\n\n  const horasEsperadas = persona.horasEsperadas;\n\n  // Si no aparece en la API, se considera 0\n  const horasIngresadas =\n    +(horasPorPersona[persona.personId] || 0).toFixed(1);\n\n  const diferencia =\n    +(horasEsperadas - horasIngresadas).toFixed(1);\n\n  // Cálculo porcentaje cumplimiento\n  const porcentaje = horasEsperadas > 0\n    ? Math.round((horasIngresadas / horasEsperadas) * 100)\n    : 0;\n\n  // Clasificación automática por nivel\n  let estado =\n    porcentaje > 100 ? '✅ ¿Al día?' :\n    porcentaje === 100 ? '✅ Al día' :\n    porcentaje >= 80 ? '⚠️ Pendiente' :\n    '❌ Atrasado';\n\n  // Mandar los resultados para consumir en HTML\n  resultados.push({\n    Area: persona.area,\n    Nombre: persona.nombre,\n    horasEsperadas: +horasEsperadas.toFixed(1),\n    horasIngresadas,\n    diferencia,\n    semanasPendientes:\n      diferencia > 0 ? +((diferencia / 40).toFixed(1)) : 0,\n    porcentaje,\n    estado,\n    mesCurso: persona.mesCurso,\n    diasLaborables\n  });\n}\n\n\n// ===============================\n// ORDENAR\n// ===============================\nreturn resultados.sort((a,b) => a.diferencia - b.diferencia);\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[192,-80],"id":"93f45a05-6531-4cf3-9c95-8b5acc25fd7f","name":"Resultados"},{"parameters":{"jsCode":"// ===============================\n// FUENTES DE DATOS\n// ===============================\nconst datos = $input.all();\nconst repo = $('Repositorio').first().json;\n\n\n// ===============================\n// METADATA DEL REPORTE\n// ===============================\nconst periodoInicio = repo.fechaInicio;\nconst periodoFin = repo.fechaFin;\n\n// Valores globales (se repiten en todos los registros)\nconst diasLaborables =\n  datos.length ? datos[0].json.diasLaborables : 0;\n\nconst horasEsperadasPeriodo =\n  datos.length && !isNaN(datos[0].json.horasEsperadas)\n    ? datos[0].json.horasEsperadas\n    : 0;\n\nconst totalColaboradores = datos.length;\n\n\n// ===============================\n// RESUMEN ESTADÍSTICO\n// ===============================\nconst alDia = datos.filter(i =>\n  i.json.estado === '✅ Al día' ||\n  i.json.estado === '✅ ¿Al día?'\n).length;\n\nconst pendientes = datos.filter(i =>\n  i.json.estado === '⚠️ Pendiente'\n).length;\n\nconst atrasados = datos.filter(i =>\n  i.json.estado === '❌ Atrasado'\n).length;\n\n\n// ===============================\n// CONSTRUCCIÓN FILAS TABLA\n// ===============================\nlet filas = '';\n\nfor (const { json: d } of datos) {\n\n  // Color según estado\n  const colorFila =\n    d.estado === '✅ Al día' || d.estado === '✅ ¿Al día?' ? '#e8f5e9' :\n    d.estado === '⚠️ Pendiente' ? '#fff8e1' :\n    '#fdecea';\n\n  filas += `\n    <tr style=\"background:${colorFila};\">\n      <td><strong>${d.Area}</strong></td>\n      <td><strong>${d.Nombre}</strong></td>\n      <td><strong>${d.horasEsperadas}</strong></td>\n      <td><strong>${d.horasIngresadas}</strong></td>\n      <td><strong>${Math.abs(d.diferencia)}</strong></td>\n      <td><strong>${d.porcentaje}%</strong></td>\n      <td><strong>${d.estado}</strong></td>\n      <td><strong>${d.semanasPendientes}</strong></td>\n    </tr>`;\n}\n\n// ===============================\n// HTML FINAL\n// ===============================\nconst htmlCompleto = `\n<!DOCTYPE html>\n<html>\n<head>\n<meta charset=\"UTF-8\">\n</head>\n\n<body style=\"margin:0;padding:8px 10px;font-family:Arial,APTOS,sans-serif;font-size:12px;\">\n\n<h2 style=\"color:#7049BC;font-size:14px;margin:0;\">\n  <strong>Reporte de Horas – ${datos[0]?.json.mesCurso || ''}</strong>\n</h2>\n\n<p style=\"margin:8px 0;\">\n  Estimad@s, esperamos que este mensaje les encuentre bien:\n</p>\n\n<p style=\"margin:8px 0;\">\n  Como formalidad semanal, se comparte el reporte de ingreso de horas correspondiente\n  al período entre las fechas: <strong>${repo.periodoTexto}</strong>.\n</p>\n\n<p style=\"margin:12px 0;\">\n  <span style=\"display:inline-block;background:#5CDB82;padding:10px;color:#000;\">\n    <strong>Nota:</strong> al momento de registrar las horas y su respectiva descripción,\n    se solicita no utilizar signos especiales (como \", &, %, entre otros),\n    ya que estos afectan la reportería.\n  </span>\n</p>\n\n<table\n  width=\"100%\"\n  cellpadding=\"0\"\n  cellspacing=\"0\"\n  border=\"1\"\n  bordercolor=\"#5838A3\"\n  style=\"\n    width:100%;\n    max-width:900px;\n    border-collapse:collapse;\n    font-size:12px;\n    margin-top:15px;\n    text-align:center;\n  \"\n>\n\n<thead>\n<tr>\n\n  <th bgcolor=\"#7049BC\"\n      style=\"border:1px solid #5838A3;\n             color:#ffffff;\n             padding:3px 0;\n             padding-top: -10px;\n             font-weight:bold;\n             text-align:center;\n             vertical-align:middle;\n             line-height:normal;\">\n    Área\n  </th>\n\n  <th bgcolor=\"#7049BC\"\n      style=\"border:1px solid #5838A3;\n             color:#ffffff;\n             padding:6px 0;\n             padding-top: -10px;\n             font-weight:bold;\n             text-align:center;\n             vertical-align:middle;\n             line-height:normal;\">\n    Colaborador\n  </th>\n\n  <th bgcolor=\"#7049BC\"\n      style=\"border:1px solid #5838A3;\n             color:#ffffff;\n             padding:6px 0;\n             padding-top: -10px;\n             font-weight:bold;\n             text-align:center;\n             vertical-align:middle;\n             line-height:normal;\">\n    Horas Esperadas\n  </th>\n\n  <th bgcolor=\"#7049BC\"\n      style=\"border:1px solid #5838A3;\n             color:#ffffff;\n             padding:6px 0;\n             padding-top: -10px;\n             font-weight:bold;\n             text-align:center;\n             vertical-align:middle;\n             line-height:normal;\">\n    Horas Ingresadas\n  </th>\n\n  <th bgcolor=\"#7049BC\"\n      style=\"border:1px solid #5838A3;\n             color:#ffffff;\n             padding:6px 0;\n             padding-top: -10px;\n             font-weight:bold;\n             text-align:center;\n             vertical-align:middle;\n             line-height:normal;\">\n    Diferencia\n  </th>\n\n  <th bgcolor=\"#7049BC\"\n      style=\"border:1px solid #5838A3;\n             color:#ffffff;\n             padding:6px 0;\n             padding-top: -10px;\n             font-weight:bold;\n             text-align:center;\n             vertical-align:middle;\n             line-height:normal;\">\n    Porcentaje\n  </th>\n\n  <th bgcolor=\"#7049BC\"\n      style=\"border:1px solid #5838A3;\n             color:#ffffff;\n             padding:6px 0;\n             padding-top: -10px;\n             font-weight:bold;\n             text-align:center;\n             vertical-align:middle;\n             line-height:normal;\">\n    Estado\n  </th>\n\n  <th bgcolor=\"#7049BC\"\n      style=\"border:1px solid #5838A3;\n             color:#ffffff;\n             padding:6px 0;\n             padding-top: -10px;\n             font-weight:bold;\n             text-align:center;\n             vertical-align:middle;\n             line-height:normal;\">\n    Semanas Pendientes\n  </th>\n\n</tr>\n</thead>\n\n<tbody>\n${datos.map(d => {\n\n  const colorFila =\n    d.json.estado === '✅ Al día' || d.json.estado === '✅ ¿Al día?' ? '#C9D6CC' :\n    d.json.estado === '⚠️ Pendiente' ? '#E8DFC7' :\n    '#F4CCCC';\n\n  // Color de borde más fuerte según el estado\n  const colorBorde =\n    d.json.estado === '✅ Al día' || d.json.estado === '✅ ¿Al día?' ? '#8BA88F' :\n    d.json.estado === '⚠️ Pendiente' ? '#D4BC8E' :\n    '#E89A9A';\n\n  return `\n  <tr>\n\n    <td bgcolor=\"${colorFila}\"\n        style=\"margin-top:10px;margin-bottom:10px;padding:0;height:18px;line-height:18px;vertical-align:middle;text-align:center;border:1px solid ${colorBorde};\">${d.json.Area}\n    </td>\n\n    <td bgcolor=\"${colorFila}\"\n        style=\"margin-top:10px;margin-bottom:10px;padding:0;height:18px;line-height:18px;vertical-align:middle;text-align:center;border:1px solid ${colorBorde};\">\n        <strong>${d.json.Nombre}</strong>\n    </td>\n\n    <td bgcolor=\"${colorFila}\"\n        style=\"margin-top:10px;margin-bottom:10px;padding:0;height:18px;line-height:18px;vertical-align:middle;text-align:center;border:1px solid ${colorBorde};\">\n        <strong>${d.json.horasEsperadas}</strong>\n    </td>\n\n    <td bgcolor=\"${colorFila}\"\n        style=\"margin-top:10px;margin-bottom:10px;padding:0;height:height:18px;line-height:18px;vertical-align:middle;text-align:center;border:1px solid ${colorBorde};\">\n        <strong>${d.json.horasIngresadas}</strong>\n    </td>\n\n    <td bgcolor=\"${colorFila}\"\n        style=\"margin-top:10px;margin-bottom:10px;padding:0;height:18px;line-height:18px;vertical-align:middle;text-align:center;border:1px solid ${colorBorde};\">${Math.abs(d.json.diferencia)}\n    </td>\n\n    <td bgcolor=\"${colorFila}\"\n        style=\"margin-top:10px;margin-bottom:10px;padding:0;height:18px;line-height:18px;vertical-align:middle;text-align:center;border:1px solid ${colorBorde};\">${d.json.porcentaje}%\n    </td>\n\n    <td bgcolor=\"${colorFila}\"\n        style=\"margin-top:10px;margin-bottom:10px;padding:0;height:height:18px;line-height:18px;vertical-align:middle;text-align:center;border:1px solid ${colorBorde};\">\n        <strong>${d.json.estado}</strong>\n    </td>\n\n    <td bgcolor=\"${colorFila}\"\n        style=\"margin-top:10px;margin-bottom:10px;padding:0;height:18px;line-height:18px;vertical-align:middle;text-align:center;border:1px solid ${colorBorde};\">${d.json.semanasPendientes}\n    </td>\n\n  </tr>\n  `;\n}).join('')}\n</tbody>\n\n</table>\n\n<p style=\"color:#7049BC;font-weight:bold;margin-top:18px;font-size:14px;\">\n  Alcances del Reporte:\n</p>\n\n<ul style=\"margin:0;padding-left:18px;\">\n  <li><strong>Fecha inicio:</strong> ${periodoInicio}</li>\n  <li><strong>Fecha fin:</strong> ${periodoFin}</li>\n  <li><strong>Días hábiles considerados:</strong> ${diasLaborables}</li>\n  <li><strong>Cantidad de horas contabilizadas en el mes:</strong> ${horasEsperadasPeriodo}</li>\n  <li><strong>Total colaboradores:</strong> ${totalColaboradores}</li>\n  <li><strong>Colaboradores al día:</strong> ${alDia}</li>\n  <li><strong>Colaboradores pendientes:</strong> ${pendientes}</li>\n  <li><strong>Colaboradores atrasados:</strong> ${atrasados}</li>\n</ul>\n\n<p style=\"margin-top:16px;\">\n  Frente a dudas, consultas o validación de métricas, comunicarse directamente\n  con el <strong>área de control de gestión</strong>.\n</p>\n\n<p style=\"margin-top:14px;\">\n  Saludos cordiales.<br>\n  Equipo de Infraestructura.\n</p>\n\n</body>\n</html>\n`;\n\nreturn { htmlContent: htmlCompleto };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[464,-80],"id":"fa62a465-c8e6-474d-b4fc-ae5a881eee02","name":"HTML"},{"parameters":{"fromEmail":"info@n8n.notificadl.cl","toEmail":"=jsilva@dl.cl","subject":"=Reporte de ingreso de horas en intervals","text":"=","html":"={{$json.htmlContent}}","attachments":"="},"type":"n8n-nodes-base.mailgun","typeVersion":1,"position":[704,-80],"id":"a6506504-3185-40cf-8377-3dc8e0be307f","name":"Mailgun_Call","credentials":{"mailgunApi":{"id":"jXQjjlGEuBBpD3Wo","name":"Mailgun account 4"}}},{"parameters":{"content":"🎯 Objetivo\n\nAutomatizar el control semanal de ingreso de horas por colaborador, utilizando la API oficial de Intervals y enviando un reporte consolidado vía correo HTML.","height":208,"width":192,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-512,-80],"typeVersion":1,"id":"5f590416-f82d-4706-a549-049aec1f4099","name":"Sticky Note"},{"parameters":{"content":"Consulta API Intervals (/time)\nSe ejecuta por cada personId dentro del rango de fechas segun la regla de negocio en repositorio\n","width":176,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-272,-64],"id":"204b231c-c3d4-4f09-9aed-fc68a2975b49","name":"Sticky Note1"},{"parameters":{"content":"Modulo repositorio donde se definen formateos y fechas a usar en el reporte además de el listado oficial de colaboradores","height":112,"width":208,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-112,-416],"id":"2e21d155-2866-4f45-8194-35a0a4b65074","name":"Sticky Note3"},{"parameters":{"content":"Calcula los días laborales del período y las horas esperadas de Lunes a Jueves y los Viernes.","height":112,"width":176},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[160,-416],"id":"5267acde-4c1b-4fff-b178-743c27b3348a","name":"Sticky Note4"},{"parameters":{"content":"Estructura la información individual de cada colaborador antes de consultar la API, agregando horas esperadas y metadatos del período.","height":112},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[384,-416],"id":"3c722581-73ff-4b79-87cc-ac9074dd9e83","name":"Sticky Note5"},{"parameters":{"content":"Consolida horas esperadas vs. horas ingresadas, calcula diferencias, porcentaje de cumplimiento, clasifica los resultado para asi consolidarlos en el HTML","height":128,"width":230,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[256,64],"id":"f55cd8a7-0f7e-465a-8f11-57cce4866e68","name":"Sticky Note6"},{"parameters":{"content":"Nodos finales darle formato HTML para poder permitir el envío atraves de MailGun.","width":150,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[544,48],"id":"2658e54f-31fe-4c2b-851b-eeaeaef4d99a","name":"Sticky Note7"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-304,-288],"id":"5259c83f-a9dd-4f6a-9d32-77da72d48516","name":"When clicking ‘Execute workflow’"},{"parameters":{"url":"=https://api.myintervals.com/time/\n?personid={{$json.personId}}\n&datebegin={{$('Repositorio').first().json.fechaInicio}}\n&dateend={{$('Repositorio').first().json.fechaFin}}\n&limit=1000","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{"response":{"response":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-32,-80],"id":"c1e55887-c57f-4250-9d01-4d98dc45608c","name":"HTTP Request","credentials":{"httpBasicAuth":{"id":"hd5ZkGI3m1uNQVbw","name":"intervals"}}}],"connections":{"Repositorio":{"main":[[{"node":"Calculo de horas","type":"main","index":0}]]},"Calculo de horas":{"main":[[{"node":"Preparar datos personas","type":"main","index":0}]]},"Preparar datos personas":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Resultados":{"main":[[{"node":"HTML","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Mailgun_Call","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Repositorio","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Resultados","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","timezone":"America/Santiago","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Cron semanal días viernes":{"recurrenceRules":[]},"node:Schedule Trigger":{"recurrenceRules":[]},"node:Cron para pruebas":{"recurrenceRules":[]},"node:Cron semanal días viernes(TEST)":{"recurrenceRules":[]},"node:cron1":{"recurrenceRules":[]},"node:cron":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"95d6a2fa-60dc-4087-b273-d7bb5205e0c1","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-13T14:06:31.694Z","createdAt":"2026-02-13T14:06:31.694Z","role":"workflow:owner","workflowId":"nxGeYiAIQ3QVJnu2","projectId":"iYcETjaBCKTmmaOx"}],"activeVersion":null,"tags":[]}