respaldar-workflows-en-github-mXJ5LXgyUE4UWVd3kTxNv.json
{"updatedAt":"2026-03-31T13:14:52.690Z","createdAt":"2026-03-24T13:15:39.706Z","id":"mXJ5LXgyUE4UWVd3kTxNv","name":"respaldar workflows en github","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"#  🦾Respalda tus workflows en github\n\n### Agradecimiento a: Matias Astudillo, miembro de Vibe Community VIP\n### Únete a la [comunidad exclusiva](https://www.skool.com/vibe-community-vip/about) \n\n![captura](https://subir-imagen.com/images/2025/07/28/Captura-de-pantalla-2025-07-28-171752.png)","height":512,"width":624,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1136,-1408],"id":"5a967859-1e11-47b8-aadb-1993ac7a7826","name":"Sticky Note"},{"parameters":{"content":"## 🛡️ Workflow de Respaldo Automático de Workflows en N8N\n\nEste workflow se ejecuta **diariamente a las 12:00 a.m.** y respalda todos los workflows de N8N en un repositorio de GitHub.\n\n---\n\n### ⚙️ Configuración Inicial\n\n* **Repository Owner**: tu usuario de GitHub\n* **Repository Name**: nombre del repositorio\n* **Commit Date**: fecha y hora actual (`DD-MM-YYYY/HH:SS`)\n\n---\n\n### 🔐 Autenticación\n\n**GitHub:**\n\n1. Crea un repositorio en GitHub.\n2. Ve a `Settings > Developer Settings > Tokens (classic)`.\n3. Genera un token con permisos (`write-packages`).\n4. Usa el token en las credenciales de GitHub en N8N.\n\n**N8N:**\n\n1. Ve a `Settings > API` en tu instancia.\n2. Genera un token.\n3. Usa como Base URL:\n\n   ```\n   https://TU_INSTANCIA.com/api/v1\n   ```\n---\n\n### 🔄 Flujo del Proceso\n\n1. Se listan los archivos actuales del repositorio (GitHub).\n2. Se obtienen todos los workflows desde N8N (JSON).\n3. Se convierten a binario.\n4. En un loop:\n\n   * Si el archivo existe → se actualiza.\n   * Si no existe → se sube como nuevo.\n\n---\n\n### ✅ Resultado\n\nTodos los workflows quedan respaldados en GitHub con un commit que incluye la fecha y hora.\n\n\n\n","height":1168,"width":928,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[80,-400],"id":"08bda0d2-9f6b-4731-966d-58919a906044","name":"Sticky Note1"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1216,-448],"id":"c05a74b3-d368-4eec-8a7c-9d04c60e8578","name":"Nodo Programado1"},{"parameters":{"assignments":{"assignments":[{"id":"a1d52ea6-5912-4988-94c2-115ad59c1996","name":"Repository Owner","value":"Joseignaciosilva","type":"string"},{"id":"1c15b2e1-bf09-4643-8bba-3215119d2d6b","name":"Repository Name","value":"backup_n8n","type":"string"},{"id":"712f49ff-8f02-4ac3-aee8-11db8ebe5843","name":"commitDate","value":"={{ (() => {\n  const now = new Date(new Date().toLocaleString(\"en-US\", {timeZone: \"America/Santiago\"}));\n  const day = String(now.getDate()).padStart(2, '0');\n  const month = String(now.getMonth() + 1).padStart(2, '0');\n  const year = now.getFullYear();\n  const hours = String(now.getHours()).padStart(2, '0');\n  const minutes = String(now.getMinutes()).padStart(2, '0');\n  return `${day}-${month}-${year}/${hours}:${minutes}`;\n})() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1440,-448],"id":"d24cc15d-214f-4d84-85cb-89e57a7bd42a","name":"Establecer campos1"},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"={{ $json[\"Repository Owner\"] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $json['Repository Name'] }}","mode":"name"}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1664,-448],"id":"a034cabc-9c26-44ac-8ff1-c9acca14a76e","name":"Listar archivos1","alwaysOutputData":true,"webhookId":"4d9f8cc5-f923-4514-9c53-64f8925ae132","credentials":{"githubApi":{"id":"yN67OeJAhTEVnYMo","name":"Token_Joseignaciosilva"}},"onError":"continueRegularOutput"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1888,-448],"id":"7c6bafca-4177-46fd-871a-a7b2b5222801","name":"Combinar archivos1"},{"parameters":{"filters":{},"requestOptions":{}},"id":"8835b9e3-e22b-4fdf-8e1a-750603e4eabc","name":"Captura de Workflows1","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[2112,-448],"credentials":{"n8nApi":{"id":"52IWnTgssXQe4GqD","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"f5d30f18-feeb-4e26-84a4-8d146e069f6c","name":"Convertir a binario1","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[2336,-448]},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2560,-592],"id":"c15a9019-85ee-42df-9686-ac163f8d83ba","name":"Loop Over Items1"},{"parameters":{"jsCode":"// FIX: comparar correctamente el fileName contra el array de nombres en GitHub\nconst existingFiles = $('Combinar archivos1').first().json.name;\nconst currentFileName = items[0].binary.data.fileName;\n\n// existingFiles puede ser array o string; normalizamos\nconst filesArray = Array.isArray(existingFiles) ? existingFiles : [existingFiles];\nconst fileExists = filesArray.includes(currentFileName);\n\nreturn [{\n  json: {\n    ...items[0].json,\n    fileExists\n  },\n  binary: items[0].binary\n}];"},"id":"f2e1c613-9b6d-4fd7-8bf7-147e5dac8f8e","name":"Verificar existencia","type":"n8n-nodes-base.code","typeVersion":2,"position":[2784,-592]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.fileExists }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"15b05db8-5f78-4a05-8600-dfbc90c90c7c","name":"Si existe1","type":"n8n-nodes-base.if","typeVersion":2,"position":[2992,-592]},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"={{ $('Establecer campos1').item.json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Establecer campos1').item.json['Repository Name'] }}","mode":"name"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"={{ $('Establecer campos1').item.json.commitDate }}"},"id":"76ea8d63-39cb-40b4-8b26-3d5dad0b5c62","name":"Actualizador de Archivos1","type":"n8n-nodes-base.github","typeVersion":1,"position":[3216,-672],"webhookId":"3e590eba-df16-4e9f-8aba-9616875e6e06","credentials":{"githubApi":{"id":"yN67OeJAhTEVnYMo","name":"Token_Joseignaciosilva"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $('Establecer campos1').item.json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Establecer campos1').item.json['Repository Name'] }}","mode":"name"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"={{ $('Establecer campos1').item.json.commitDate }}"},"id":"aa4941df-e418-41a3-8a1f-9f17b9d7dd87","name":"Uploader de Archivos1","type":"n8n-nodes-base.github","typeVersion":1,"position":[3216,-512],"webhookId":"3c40351e-ddbc-48e4-b2cd-ae59afe9a744","credentials":{"githubApi":{"id":"yN67OeJAhTEVnYMo","name":"Token_Joseignaciosilva"}}},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1328,-224],"id":"004a0c0a-d25c-4738-bfce-82fdac7442a8","name":"Leer BD Colaboradores","credentials":{"n8nApi":{"id":"52IWnTgssXQe4GqD","name":"n8n account"}}},{"parameters":{"options":{"fileName":"colaboradores.csv","headerRow":true}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1520,-224],"id":"53508767-dbfe-4df0-a171-785899d13484","name":"Convertir BD a CSV"},{"parameters":{"jsCode":"const content = items[0].binary.data.data;\nconst bytes = Buffer.from(content, 'base64');\nconst header = `blob ${bytes.length}\\0`;\nconst store = Buffer.concat([Buffer.from(header), bytes]);\nconst crypto = require('crypto');\nconst shaLocal = crypto.createHash('sha1').update(store).digest('hex');\n\nreturn [{\n  json: {\n    shaLocal,\n    fileName: 'colaboradores.csv'\n  },\n  binary: items[0].binary\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1744,-224],"id":"4a81e08e-a0bc-42fc-8eb6-27d35e2bf5c9","name":"Calcular SHA local"},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"={{ $('Establecer campos1').item.json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Establecer campos1').item.json['Repository Name'] }}","mode":"name"},"filePath":"colaboradores.csv","additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1,"position":[1952,-224],"id":"475bc845-b45e-4e09-881f-a481ef2803ce","name":"Obtener SHA GitHub","webhookId":"3ddae2f6-6d59-4c42-b5ec-b7668aec2b7d","credentials":{"githubApi":{"id":"yN67OeJAhTEVnYMo","name":"Token_Joseignaciosilva"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose"},"conditions":[{"leftValue":"={{ $json.sha }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[2144,-224],"id":"6991ddbf-5637-4178-8aa2-f6ce1837e707","name":"Existe en GitHub?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.sha }}","rightValue":"={{ $('Calcular SHA local').item.json.shaLocal }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[2352,-240],"id":"9eda49c3-4f98-4656-abc2-c94b5786dfc1","name":"BD tiene cambios?"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"={{ $('Establecer campos1').item.json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Establecer campos1').item.json['Repository Name'] }}","mode":"name"},"filePath":"colaboradores.csv","binaryData":true,"commitMessage":"BD actualizada - {{ $('Establecer campos1').item.json.commitDate }}"},"type":"n8n-nodes-base.github","typeVersion":1,"position":[2624,-256],"id":"aef9da73-eddc-4b28-ae77-507a495a965f","name":"Actualizar BD en GitHub","webhookId":"65060237-f695-4384-af86-61a619526ebf","credentials":{"githubApi":{"id":"yN67OeJAhTEVnYMo","name":"Token_Joseignaciosilva"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2624,-80],"id":"839829e4-fddb-4472-9b36-fb15961eba61","name":"BD sin cambios"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $('Establecer campos1').item.json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Establecer campos1').item.json['Repository Name'] }}","mode":"name"},"filePath":"colaboradores.csv","binaryData":true,"commitMessage":"BD nueva - {{ $('Establecer campos1').item.json.commitDate }}"},"type":"n8n-nodes-base.github","typeVersion":1,"position":[2352,-80],"id":"69819768-b28a-49ac-83e3-e1212b6544f1","name":"Subir BD nueva a GitHub","webhookId":"715d5a7f-7c64-4838-bb77-7f9298957fce","credentials":{"githubApi":{"id":"yN67OeJAhTEVnYMo","name":"Token_Joseignaciosilva"}}}],"connections":{"Nodo Programado1":{"main":[[{"node":"Establecer campos1","type":"main","index":0}]]},"Establecer campos1":{"main":[[{"node":"Listar archivos1","type":"main","index":0},{"node":"Leer BD Colaboradores","type":"main","index":0}]]},"Listar archivos1":{"main":[[{"node":"Combinar archivos1","type":"main","index":0}]]},"Combinar archivos1":{"main":[[{"node":"Captura de Workflows1","type":"main","index":0}]]},"Captura de Workflows1":{"main":[[{"node":"Convertir a binario1","type":"main","index":0}]]},"Convertir a binario1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Verificar existencia","type":"main","index":0}]]},"Verificar existencia":{"main":[[{"node":"Si existe1","type":"main","index":0}]]},"Si existe1":{"main":[[{"node":"Actualizador de Archivos1","type":"main","index":0}],[{"node":"Uploader de Archivos1","type":"main","index":0}]]},"Actualizador de Archivos1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Uploader de Archivos1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Leer BD Colaboradores":{"main":[[{"node":"Convertir BD a CSV","type":"main","index":0}]]},"Convertir BD a CSV":{"main":[[{"node":"Calcular SHA local","type":"main","index":0}]]},"Calcular SHA local":{"main":[[{"node":"Obtener SHA GitHub","type":"main","index":0}]]},"Obtener SHA GitHub":{"main":[[{"node":"Existe en GitHub?","type":"main","index":0}]]},"Existe en GitHub?":{"main":[[{"node":"BD tiene cambios?","type":"main","index":0}],[{"node":"Subir BD nueva a GitHub","type":"main","index":0}]]},"BD tiene cambios?":{"main":[[{"node":"Actualizar BD en GitHub","type":"main","index":0}],[{"node":"BD sin cambios","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateId":"5898","templateCredsSetupCompleted":true},"pinData":{},"versionId":"01e61eba-7a4f-46ee-86d7-642aa88a230a","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-24T13:15:39.706Z","createdAt":"2026-03-24T13:15:39.706Z","role":"workflow:owner","workflowId":"mXJ5LXgyUE4UWVd3kTxNv","projectId":"iYcETjaBCKTmmaOx"}],"activeVersion":null,"tags":[]}