respaldar-workflows-en-github-mXJ5LXgyUE4UWVd3kTxNv.json
{"updatedAt":"2026-03-31T13:23:01.967Z","createdAt":"2026-03-24T13:15:39.706Z","id":"mXJ5LXgyUE4UWVd3kTxNv","name":"respaldar workflows en github","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"#  🦾Respalda tus workflows en github\n\n### Agradecimiento a: Matias Astudillo, miembro de Vibe Community VIP\n### Únete a la [comunidad exclusiva](https://www.skool.com/vibe-community-vip/about) \n\n![captura](https://subir-imagen.com/images/2025/07/28/Captura-de-pantalla-2025-07-28-171752.png)","height":512,"width":624,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1136,-1408],"id":"5a967859-1e11-47b8-aadb-1993ac7a7826","name":"Sticky Note"},{"parameters":{"content":"## 🛡️ Workflow de Respaldo Automático de Workflows en N8N\n\nEste workflow se ejecuta **diariamente a las 12:00 a.m.** y respalda todos los workflows de N8N en un repositorio de GitHub.\n\n---\n\n### ⚙️ Configuración Inicial\n\n* **Repository Owner**: tu usuario de GitHub\n* **Repository Name**: nombre del repositorio\n* **Commit Date**: fecha y hora actual (`DD-MM-YYYY/HH:SS`)\n\n---\n\n### 🔐 Autenticación\n\n**GitHub:**\n\n1. Crea un repositorio en GitHub.\n2. Ve a `Settings > Developer Settings > Tokens (classic)`.\n3. Genera un token con permisos (`write-packages`).\n4. Usa el token en las credenciales de GitHub en N8N.\n\n**N8N:**\n\n1. Ve a `Settings > API` en tu instancia.\n2. Genera un token.\n3. Usa como Base URL:\n\n   ```\n   https://TU_INSTANCIA.com/api/v1\n   ```\n---\n\n### 🔄 Flujo del Proceso\n\n1. Se listan los archivos actuales del repositorio (GitHub).\n2. Se obtienen todos los workflows desde N8N (JSON).\n3. Se convierten a binario.\n4. En un loop:\n\n   * Si el archivo existe → se actualiza.\n   * Si no existe → se sube como nuevo.\n\n---\n\n### ✅ Resultado\n\nTodos los workflows quedan respaldados en GitHub con un commit que incluye la fecha y hora.\n\n\n\n","height":1168,"width":928,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[80,-400],"id":"08bda0d2-9f6b-4731-966d-58919a906044","name":"Sticky Note1"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1232,-624],"id":"eac3d57b-cfb9-44dc-ac87-1778700518c8","name":"Nodo Programado1"},{"parameters":{"assignments":{"assignments":[{"id":"a1d52ea6","name":"Repository Owner","value":"Joseignaciosilva","type":"string"},{"id":"1c15b2e1","name":"Repository Name","value":"backup_n8n","type":"string"},{"id":"712f49ff","name":"commitDate","value":"={{ (() => {\n  const now = new Date(new Date().toLocaleString(\"en-US\", {timeZone: \"America/Santiago\"}));\n  const day = String(now.getDate()).padStart(2, '0');\n  const month = String(now.getMonth() + 1).padStart(2, '0');\n  const year = now.getFullYear();\n  const hours = String(now.getHours()).padStart(2, '0');\n  const minutes = String(now.getMinutes()).padStart(2, '0');\n  return `${day}-${month}-${year}/${hours}:${minutes}`;\n})() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1456,-624],"id":"c262585b-162c-415e-aef3-806b875a138d","name":"Establecer campos1"},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"={{ $json[\"Repository Owner\"] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $json['Repository Name'] }}","mode":"name"}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1680,-624],"id":"8e1db70a-120b-41d6-b032-c36bb2198b2f","name":"Listar archivos1","alwaysOutputData":true,"webhookId":"d7689c07-e11c-4ba3-b4b0-113812641afc","credentials":{"githubApi":{"id":"yN67OeJAhTEVnYMo","name":"Token_Joseignaciosilva"}},"onError":"continueRegularOutput"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1904,-624],"id":"17108884-1aba-45b2-afb3-bcade03d8ea3","name":"Combinar archivos1"},{"parameters":{"filters":{},"requestOptions":{}},"id":"4e602885-127d-4410-84d0-bcc0c53320ed","name":"Captura de Workflows1","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[2128,-624],"credentials":{"n8nApi":{"id":"52IWnTgssXQe4GqD","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"9b7e3fb6-f162-428e-a250-4698536c65ad","name":"Convertir a binario1","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[2352,-624]},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2576,-768],"id":"a3a7d265-3094-4491-a074-459c57d7c849","name":"Loop Over Items1"},{"parameters":{"jsCode":"const existingFiles = $('Combinar archivos1').first().json.name;\nconst currentFileName = items[0].binary.data.fileName;\nconst filesArray = Array.isArray(existingFiles) ? existingFiles : [existingFiles];\nconst fileExists = filesArray.includes(currentFileName);\nreturn [{ json: { ...items[0].json, fileExists }, binary: items[0].binary }];"},"id":"4ee684f4-5c2c-41fb-9a83-85d3195501e0","name":"Verificar existencia","type":"n8n-nodes-base.code","typeVersion":2,"position":[2800,-768]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.fileExists }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"f1f51627-bfca-4039-9f37-46415b3c5779","name":"Si existe1","type":"n8n-nodes-base.if","typeVersion":2,"position":[3008,-768]},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"={{ $('Establecer campos1').item.json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Establecer campos1').item.json['Repository Name'] }}","mode":"name"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"={{ $('Establecer campos1').item.json.commitDate }}"},"id":"8801a727-92d9-4575-8fe3-f2a9e7683b08","name":"Actualizador de Archivos1","type":"n8n-nodes-base.github","typeVersion":1,"position":[3232,-848],"webhookId":"fd07dc95-f7ab-435c-bd64-c444fa1fa3a3","credentials":{"githubApi":{"id":"yN67OeJAhTEVnYMo","name":"Token_Joseignaciosilva"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $('Establecer campos1').item.json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Establecer campos1').item.json['Repository Name'] }}","mode":"name"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"={{ $('Establecer campos1').item.json.commitDate }}"},"id":"a5f9bbe6-8029-4e0d-8461-32eddab204d0","name":"Uploader de Archivos1","type":"n8n-nodes-base.github","typeVersion":1,"position":[3232,-688],"webhookId":"f6ab1b47-dc77-4be6-a204-59b922569da7","credentials":{"githubApi":{"id":"yN67OeJAhTEVnYMo","name":"Token_Joseignaciosilva"}}},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1344,-400],"id":"07173a81-4c00-4b24-8fc3-3606762c6ffe","name":"Leer BD Colaboradores","credentials":{"n8nApi":{"id":"52IWnTgssXQe4GqD","name":"n8n account"}}},{"parameters":{"options":{"fileName":"colaboradores.csv","headerRow":true}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1536,-400],"id":"c7fba11c-8fb9-49a9-9aa9-9b40ead6e466","name":"Convertir BD a CSV"},{"parameters":{"jsCode":"const content = items[0].binary.data.data;\nconst bytes = Buffer.from(content, 'base64');\nconst header = `blob ${bytes.length}\\0`;\nconst store = Buffer.concat([Buffer.from(header), bytes]);\nconst crypto = require('crypto');\nconst shaLocal = crypto.createHash('sha1').update(store).digest('hex');\nreturn [{ json: { shaLocal, fileName: 'colaboradores.csv' }, binary: items[0].binary }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1760,-400],"id":"3f018e5c-f434-4118-b316-23288f854b65","name":"Calcular SHA local"},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"={{ $('Establecer campos1').item.json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Establecer campos1').item.json['Repository Name'] }}","mode":"name"},"filePath":"colaboradores.csv","additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1,"position":[1968,-400],"id":"b0d38b17-bc04-4d18-b8d5-1511dbe96a38","name":"Obtener SHA GitHub","webhookId":"b24e759a-d980-4c82-8bcd-e8940399ec8e","credentials":{"githubApi":{"id":"yN67OeJAhTEVnYMo","name":"Token_Joseignaciosilva"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose"},"conditions":[{"leftValue":"={{ $json.sha }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[2160,-400],"id":"430cb85e-a9bf-4771-b42a-9d9f723ff23d","name":"Existe en GitHub?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.sha }}","rightValue":"={{ $('Calcular SHA local').item.json.shaLocal }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[2368,-416],"id":"bcfe15ce-2ff4-480a-a33e-adfd6412c94e","name":"BD tiene cambios?"},{"parameters":{"jsCode":"// El nodo Obtener SHA GitHub pisó el binario — lo recuperamos de Calcular SHA local\nconst binaryData = $('Calcular SHA local').first().binary;\nreturn [{ json: items[0].json, binary: binaryData }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2576,-480],"id":"16405e35-bebc-4303-b63f-649d0311e902","name":"Recuperar binario CSV (actualizar)"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"={{ $('Establecer campos1').item.json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Establecer campos1').item.json['Repository Name'] }}","mode":"name"},"filePath":"colaboradores.csv","binaryData":true,"commitMessage":"BD actualizada - {{ $('Establecer campos1').item.json.commitDate }}"},"type":"n8n-nodes-base.github","typeVersion":1,"position":[2800,-480],"id":"8e83f355-10ad-427a-8e0f-6eec012d0cb2","name":"Actualizar BD en GitHub","webhookId":"447376e0-beb9-4b82-aaf2-7b5808f65545","credentials":{"githubApi":{"id":"yN67OeJAhTEVnYMo","name":"Token_Joseignaciosilva"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2576,-288],"id":"089d9bed-164a-4bd4-b31b-3f6af0e4390a","name":"BD sin cambios"},{"parameters":{"jsCode":"// El nodo Obtener SHA GitHub pisó el binario — lo recuperamos de Calcular SHA local\nconst binaryData = $('Calcular SHA local').first().binary;\nreturn [{ json: items[0].json, binary: binaryData }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2368,-176],"id":"61f0c2a8-cd7d-4514-8be0-98e4128f5bc9","name":"Recuperar binario CSV (nuevo)"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $('Establecer campos1').item.json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Establecer campos1').item.json['Repository Name'] }}","mode":"name"},"filePath":"colaboradores.csv","binaryData":true,"commitMessage":"BD nueva - {{ $('Establecer campos1').item.json.commitDate }}"},"type":"n8n-nodes-base.github","typeVersion":1,"position":[2576,-176],"id":"7b723042-ff5d-431b-8a12-cd847cc82e3b","name":"Subir BD nueva a GitHub","webhookId":"baf7e3ea-ce10-4ebd-acc5-13a467992e57","credentials":{"githubApi":{"id":"yN67OeJAhTEVnYMo","name":"Token_Joseignaciosilva"}}}],"connections":{"Nodo Programado1":{"main":[[{"node":"Establecer campos1","type":"main","index":0}]]},"Establecer campos1":{"main":[[{"node":"Listar archivos1","type":"main","index":0},{"node":"Leer BD Colaboradores","type":"main","index":0}]]},"Listar archivos1":{"main":[[{"node":"Combinar archivos1","type":"main","index":0}]]},"Combinar archivos1":{"main":[[{"node":"Captura de Workflows1","type":"main","index":0}]]},"Captura de Workflows1":{"main":[[{"node":"Convertir a binario1","type":"main","index":0}]]},"Convertir a binario1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Verificar existencia","type":"main","index":0}]]},"Verificar existencia":{"main":[[{"node":"Si existe1","type":"main","index":0}]]},"Si existe1":{"main":[[{"node":"Actualizador de Archivos1","type":"main","index":0}],[{"node":"Uploader de Archivos1","type":"main","index":0}]]},"Actualizador de Archivos1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Uploader de Archivos1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Leer BD Colaboradores":{"main":[[{"node":"Convertir BD a CSV","type":"main","index":0}]]},"Convertir BD a CSV":{"main":[[{"node":"Calcular SHA local","type":"main","index":0}]]},"Calcular SHA local":{"main":[[{"node":"Obtener SHA GitHub","type":"main","index":0}]]},"Obtener SHA GitHub":{"main":[[{"node":"Existe en GitHub?","type":"main","index":0}]]},"Existe en GitHub?":{"main":[[{"node":"BD tiene cambios?","type":"main","index":0}],[{"node":"Recuperar binario CSV (nuevo)","type":"main","index":0}]]},"BD tiene cambios?":{"main":[[{"node":"Recuperar binario CSV (actualizar)","type":"main","index":0}],[{"node":"BD sin cambios","type":"main","index":0}]]},"Recuperar binario CSV (actualizar)":{"main":[[{"node":"Actualizar BD en GitHub","type":"main","index":0}]]},"Recuperar binario CSV (nuevo)":{"main":[[{"node":"Subir BD nueva a GitHub","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateId":"5898","templateCredsSetupCompleted":true},"pinData":{},"versionId":"9012890f-a7e9-4ee0-8535-a9f42ce7a4f6","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-24T13:15:39.706Z","createdAt":"2026-03-24T13:15:39.706Z","role":"workflow:owner","workflowId":"mXJ5LXgyUE4UWVd3kTxNv","projectId":"iYcETjaBCKTmmaOx"}],"activeVersion":null,"tags":[]}