respaldar-workflows-en-github-mXJ5LXgyUE4UWVd3kTxNv.json
{"updatedAt":"2026-03-31T13:09:04.993Z","createdAt":"2026-03-24T13:15:39.706Z","id":"mXJ5LXgyUE4UWVd3kTxNv","name":"respaldar workflows en github","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"#  🦾Respalda tus workflows en github\n\n### Agradecimiento a: Matias Astudillo, miembro de Vibe Community VIP\n### Únete a la [comunidad exclusiva](https://www.skool.com/vibe-community-vip/about) \n\n![captura](https://subir-imagen.com/images/2025/07/28/Captura-de-pantalla-2025-07-28-171752.png)","height":512,"width":624,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1136,-576],"id":"5a967859-1e11-47b8-aadb-1993ac7a7826","name":"Sticky Note"},{"parameters":{"content":"## 🛡️ Workflow de Respaldo Automático de Workflows en N8N\n\nEste workflow se ejecuta **diariamente a las 12:00 a.m.** y respalda todos los workflows de N8N en un repositorio de GitHub.\n\n---\n\n### ⚙️ Configuración Inicial\n\n* **Repository Owner**: tu usuario de GitHub\n* **Repository Name**: nombre del repositorio\n* **Commit Date**: fecha y hora actual (`DD-MM-YYYY/HH:SS`)\n\n---\n\n### 🔐 Autenticación\n\n**GitHub:**\n\n1. Crea un repositorio en GitHub.\n2. Ve a `Settings > Developer Settings > Tokens (classic)`.\n3. Genera un token con permisos (`write-packages`).\n4. Usa el token en las credenciales de GitHub en N8N.\n\n**N8N:**\n\n1. Ve a `Settings > API` en tu instancia.\n2. Genera un token.\n3. Usa como Base URL:\n\n   ```\n   https://TU_INSTANCIA.com/api/v1\n   ```\n---\n\n### 🔄 Flujo del Proceso\n\n1. Se listan los archivos actuales del repositorio (GitHub).\n2. Se obtienen todos los workflows desde N8N (JSON).\n3. Se convierten a binario.\n4. En un loop:\n\n   * Si el archivo existe → se actualiza.\n   * Si no existe → se sube como nuevo.\n\n---\n\n### ✅ Resultado\n\nTodos los workflows quedan respaldados en GitHub con un commit que incluye la fecha y hora.\n\n\n\n","height":1168,"width":928,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[80,-400],"id":"08bda0d2-9f6b-4731-966d-58919a906044","name":"Sticky Note1"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1232,-16],"id":"c29d329e-c7dc-4d11-af68-30c070e43fdc","name":"Nodo Programado1"},{"parameters":{"assignments":{"assignments":[{"id":"a1d52ea6-5912-4988-94c2-115ad59c1996","name":"Repository Owner","value":"Joseignaciosilva","type":"string"},{"id":"1c15b2e1-bf09-4643-8bba-3215119d2d6b","name":"Repository Name","value":"backup_n8n","type":"string"},{"id":"712f49ff-8f02-4ac3-aee8-11db8ebe5843","name":"commitDate","value":"={{ (() => {\n  const now = new Date(new Date().toLocaleString(\"en-US\", {timeZone: \"America/Santiago\"}));\n  const day = String(now.getDate()).padStart(2, '0');\n  const month = String(now.getMonth() + 1).padStart(2, '0');\n  const year = now.getFullYear();\n  const hours = String(now.getHours()).padStart(2, '0');\n  const minutes = String(now.getMinutes()).padStart(2, '0');\n  return `${day}-${month}-${year}/${hours}:${minutes}`;\n})() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1456,-16],"id":"fecf413e-7dc2-47bb-939f-0fe6377163e1","name":"Establecer campos1"},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"={{ $json[\"Repository Owner\"] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $json['Repository Name'] }}","mode":"name"}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1680,-16],"id":"f07bb7d8-ad05-4912-b045-2f7aeae7c8c1","name":"Listar archivos1","alwaysOutputData":true,"webhookId":"bf861b37-a081-4d31-8205-3f61184cd143","credentials":{"githubApi":{"id":"yN67OeJAhTEVnYMo","name":"Token_Joseignaciosilva"}},"onError":"continueRegularOutput"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1904,-16],"id":"e86f0c3d-3b2f-412b-a394-190259c10ffb","name":"Combinar archivos1"},{"parameters":{"filters":{},"requestOptions":{}},"id":"a91ccd4f-6268-4856-a77b-edb9277e0969","name":"Captura de Workflows1","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[2128,-16],"credentials":{"n8nApi":{"id":"52IWnTgssXQe4GqD","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"b173b181-2363-402f-b89c-42d928073176","name":"Convertir a binario1","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[2352,-16]},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2576,-160],"id":"b3f4ca18-b1f2-4424-a6bb-23b8cfb1fa54","name":"Loop Over Items1"},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combinar archivos1'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"9431ff14-9c06-415c-add6-9315d8ab5f9a","name":"Si existe1","type":"n8n-nodes-base.if","typeVersion":1,"position":[2800,-224]},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2800,-400],"id":"db131c4a-f166-468b-8246-901fcf139a6c","name":"No Operation, do nothing1"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"={{ $('Establecer campos1').item.json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Establecer campos1').item.json['Repository Name'] }}","mode":"name"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"={{ $('Establecer campos1').item.json.commitDate }}"},"id":"523d98d0-0fab-44f2-937e-944d43032152","name":"Actualizador de Archivos1","type":"n8n-nodes-base.github","typeVersion":1,"position":[3008,-240],"webhookId":"2c4f6b59-e4d2-437a-8b90-661f40315db6","credentials":{"githubApi":{"id":"yN67OeJAhTEVnYMo","name":"Token_Joseignaciosilva"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $('Establecer campos1').item.json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Establecer campos1').item.json['Repository Name'] }}","mode":"name"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"={{ $('Establecer campos1').item.json.commitDate }}"},"id":"79293b1a-e582-4909-ac71-375434efd88b","name":"Uploader de Archivos1","type":"n8n-nodes-base.github","typeVersion":1,"position":[3008,-48],"webhookId":"76ce4483-a85e-425c-9b18-33c5c49f3d9b","credentials":{"githubApi":{"id":"yN67OeJAhTEVnYMo","name":"Token_Joseignaciosilva"}}},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1344,208],"id":"3734947f-aac7-4bd8-95a6-65c37f4081e6","name":"Leer BD Colaboradores","credentials":{"n8nApi":{"id":"52IWnTgssXQe4GqD","name":"n8n account"}}},{"parameters":{"options":{"fileName":"colaboradores.csv","headerRow":true}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1536,208],"id":"22e4261e-cd81-4a6a-84a0-51e5ee931c93","name":"Convertir BD a CSV"},{"parameters":{"jsCode":"const item = items[0];\n\n// Validar entrada\nif (!item || !item.binary) {\n  return [{\n    json: {\n      error: 'No binary input received'\n    }\n  }];\n}\n\n// Detectar automáticamente la key binaria\nconst binaryKey = Object.keys(item.binary)[0];\n\nif (!binaryKey || !item.binary[binaryKey].data) {\n  return [{\n    json: {\n      error: 'Binary data is missing'\n    }\n  }];\n}\n\n// Obtener contenido base64\nconst content = item.binary[binaryKey].data;\n\n// Convertir a buffer\nconst bytes = Buffer.from(content, 'base64');\n\n// Generar SHA tipo Git\nconst header = `blob ${bytes.length}\\0`;\nconst store = Buffer.concat([Buffer.from(header), bytes]);\n\nconst crypto = require('crypto');\nconst shaLocal = crypto.createHash('sha1').update(store).digest('hex');\n\n// Retornar resultado\nreturn [{\n  json: {\n    shaLocal,\n    fileName: item.binary[binaryKey].fileName || 'colaboradores.csv'\n  },\n  binary: item.binary\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1760,208],"id":"b4b18433-5e6c-47eb-ab92-14d118d05777","name":"Calcular SHA local"},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"={{ $('Establecer campos1').item.json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Establecer campos1').item.json['Repository Name'] }}","mode":"name"},"filePath":"colaboradores.csv","additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1,"position":[1968,208],"id":"59159fcf-d87e-4259-aa5f-413a9902328c","name":"Obtener SHA GitHub","webhookId":"e0ac79a1-b398-4321-ab26-23f0ffaed90d","credentials":{"githubApi":{"id":"yN67OeJAhTEVnYMo","name":"Token_Joseignaciosilva"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose"},"conditions":[{"leftValue":"={{ $json.sha }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[2160,208],"id":"92ec5021-a66f-48d8-a23f-939381fcaea0","name":"Existe en GitHub?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.sha }}","rightValue":"={{ $('Calcular SHA local').item.json.shaLocal }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[2368,192],"id":"d31e5a0c-a2e6-489d-9892-7c921c788c7e","name":"BD tiene cambios?"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"={{ $('Establecer campos1').item.json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Establecer campos1').item.json['Repository Name'] }}","mode":"name"},"filePath":"colaboradores.csv","binaryData":true,"commitMessage":"BD actualizada - {{ $('Establecer campos1').item.json.commitDate }}"},"type":"n8n-nodes-base.github","typeVersion":1,"position":[2640,176],"id":"262e6b39-c852-47b8-844e-436c5f5c680d","name":"Actualizar BD en GitHub","webhookId":"2d87e3d1-72aa-42f7-aa56-5b12538bdaf7","credentials":{"githubApi":{"id":"yN67OeJAhTEVnYMo","name":"Token_Joseignaciosilva"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2640,352],"id":"86c7e727-6e3d-401a-a476-701a9983f4c2","name":"BD sin cambios"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $('Establecer campos1').item.json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Establecer campos1').item.json['Repository Name'] }}","mode":"name"},"filePath":"colaboradores.csv","binaryData":true,"commitMessage":"BD nueva - {{ $('Establecer campos1').item.json.commitDate }}"},"type":"n8n-nodes-base.github","typeVersion":1,"position":[2368,352],"id":"f12075dd-67ab-44f4-bec9-465a1541b25b","name":"Subir BD nueva a GitHub","webhookId":"54676ea0-e405-41b9-8e01-24e379d41baa","credentials":{"githubApi":{"id":"yN67OeJAhTEVnYMo","name":"Token_Joseignaciosilva"}}}],"connections":{"Nodo Programado1":{"main":[[{"node":"Establecer campos1","type":"main","index":0}]]},"Establecer campos1":{"main":[[{"node":"Listar archivos1","type":"main","index":0},{"node":"Leer BD Colaboradores","type":"main","index":0}]]},"Listar archivos1":{"main":[[{"node":"Combinar archivos1","type":"main","index":0}]]},"Combinar archivos1":{"main":[[{"node":"Captura de Workflows1","type":"main","index":0}]]},"Captura de Workflows1":{"main":[[{"node":"Convertir a binario1","type":"main","index":0}]]},"Convertir a binario1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"Si existe1","type":"main","index":0}]]},"Si existe1":{"main":[[{"node":"Actualizador de Archivos1","type":"main","index":0}],[{"node":"Uploader de Archivos1","type":"main","index":0}]]},"Actualizador de Archivos1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Uploader de Archivos1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Leer BD Colaboradores":{"main":[[{"node":"Convertir BD a CSV","type":"main","index":0}]]},"Convertir BD a CSV":{"main":[[{"node":"Calcular SHA local","type":"main","index":0}]]},"Calcular SHA local":{"main":[[{"node":"Obtener SHA GitHub","type":"main","index":0}]]},"Obtener SHA GitHub":{"main":[[{"node":"Existe en GitHub?","type":"main","index":0}]]},"Existe en GitHub?":{"main":[[{"node":"BD tiene cambios?","type":"main","index":0}],[{"node":"Subir BD nueva a GitHub","type":"main","index":0}]]},"BD tiene cambios?":{"main":[[{"node":"Actualizar BD en GitHub","type":"main","index":0}],[{"node":"BD sin cambios","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateId":"5898","templateCredsSetupCompleted":true},"pinData":{},"versionId":"36fb6336-e0da-47ec-8128-f29909d4e105","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-24T13:15:39.706Z","createdAt":"2026-03-24T13:15:39.706Z","role":"workflow:owner","workflowId":"mXJ5LXgyUE4UWVd3kTxNv","projectId":"iYcETjaBCKTmmaOx"}],"activeVersion":null,"tags":[]}